<!DOCTYPE html >

<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../../content/index.css">
	</head>
	<body class="padded">
		<h1>FORTUNE</h1>
		<p>
			When you roll 20+ on a non-spell attack against a target's Defense, you gain a point of Fortune. You may only ever have one point at a time. At any time, spend Fortune and choose one:
			<ul><li><b>Courage:</b> Resist the effects of frightening or horrifying.</li>
			<li><b>Improvised Magic:</b> Sacrifice a casting of a spell to regain a casting of another spell you know of lower rank.</li>
			<li><b>Luck:</b> Add 1 boon or bane to one attack, challenge, or Fate roll made by a creature other than yourself.</li>
			<li><b>Nudge:</b> Replace the result of a d6 with a 3.</li>
			<li><b>Stay the Hand of Death:</b> Become incapacitated when you would have died, or reset your Fate rolls if you are already incapacitated.</li>
			<li><b>Vigor:</b> Remove one of the following conditions from yourself: Diseased, Fatigued, or Poisoned.</li></ul>
		</p>
		<h1>FATE ROLLS</h1>
		<p>
			If your damage total equals your Health (excess damage is ignored), you become incapacitated- you fall prone and are disabled.<br/>
			If your damage no longer equals your Health, you are no longer disabled. You may take a turn before the end of the current round, but you are fatigued until the end of the round.<br/>
			At the end of each round, roll a d6 until one of the following happens:
			<ul><li>When you roll your second 1, you die.</li>
			<li>When you roll your second 6, you heal 1 damage and are fatigued for 1 minute.</li>
			<li>After 9 rounds, you fall unconscious for 1d3 hours, at the end of which you heal 1 damage.</li></ul>
		</p>
	</body>
</html>
