/* resources */
@font-face {
	font-family: "freepixel"; 
	src: url('../fonts/FreePixel.ttf') format("truetype");
}

/* general */
body {
	background: url('../images/bg_silverkey.png') no-repeat center top;
	background-color: black;
	color: #ffa;
	font-family: helvetica, DejaVu Sans Mono, monospace;
}

a {
	color:#A477FF;
}

h1,h2,h3,h4,h5 {
	font-family: freepixel;
}

h2 {
	padding-top:.2em;
	margin-top:.8em;
	border-top: 3px solid #bbb;
}

h1 > a {
	color:inherit;
}

h1 > a:hover {
	color:inherit;
	text-decoration:none;
}

p,ul,ol,li {
	color:#FFF1E8;
	line-height:1.3;
	margin-bottom:1em;
}

p {
	margin-top:.5em;
}

iframe {
	max-width:100%;
}

/* layout */
.header {
	margin:0;
	margin-bottom:1em;
}

.logo-header {
	margin:.5em;
}

#navbar {
	display:flex;
}

.nav-btn {
	display: inline-block;
	text-align:center;
	padding: .375rem .75rem;
	line-height:1.5em;
	background-color:#111c;
	width: 25%;
	border-radius: 0;
	color:#FFF1E8;
	margin:0;
	font-weight:bold;
}

.nav-btn:hover {
	background-color:#503550;
	color:#FFF1E8;
}

.nav-btn.active {
	background-color:#333;
}

.main-content {
	background-color:#111c;
	width:74%;
	display:inline-block;
	padding-top: 1em;
	padding-bottom: 1em;
	padding-left: 2em;
	padding-right: 2em;
}

.main-body {
	display:flex;
	min-height: 50vh;
}

.sidebar {
	min-width:13em;
	background-color:#111c;
	width:25%;
	display:inline-block;
	padding-top: .5em;
	padding-left: 1em;
	padding-right: 1em;
}

.gutter {
	width: 1%;
}

.footer {
	margin-top:1em;
	background-color:#111c;
	font-family: freepixel;
	text-align:center;
}

/* common */
.btn-yellow {
	border-radius: 0;
	background-color:#e4f495;
	color:black;
	font-weight: bold;
}

.btn-yellow:hover {
	background-color:#fff;
}

.card {
	background-color:#302030;
	border-radius: 0;
	border: 0;
	margin: 1em;
}

.card-body {
	padding-top:.5em;
}

.subtitle {
	color: #C2C3C7;
}

hr.solid {
	border-top: 3px solid #bbb;
}

.label {
	font-weight: bold;
	font-family: freepixel;
	color: #ffa;
}

.no-margin {
	margin:0;
}

.no-margin > li {
	margin:0;
}

.code-block {
	border-radius: 12px;
	padding: 1em;
	background-color: #333;
	font-family: Consolas,monospace;
}

/* games */
.game-card {
	width: 16rem;
}

/* devlogs */
.post-link {
	display: block;
	padding:.5em;
	font-family: freepixel;
	line-height:1em;
	color:#FFF1E8;
	margin-bottom:2px;
}

.post-link:hover {
	color:#fee;
	background-color:#503550;
}

.post-link.active {
	background-color:#333;
}

.date-subtitle {
	font-size: .8em;
	color: #C2C3C7;
}

.post {
	padding-top: .2em;
	padding-bottom: .5em;
	border-top: 3px solid #bbb;
	border-bottom: 3px solid #bbb;
}

.post-header {
	padding-bottom: .5em;
	margin-bottom: .5em;
	border-bottom: 3px solid #bbb;
}

.post-header > h1 {
	margin: 0;
}

.devlog-img {
	max-height:15em;
	max-width: 100%;
	padding-top: .5em;
	padding-bottom: .5em;
	padding-right: .5em;
}

.collapse,
.collapsing {
	opacity: 0;
	overflow: hidden;
	transition: opacity 0.35s;
	display:block;
}


.collapsing {
	border:none;
}

.collapsed {
	color: #aaf;
}

.collapse.in {
	opacity: 1;
	height: auto;
	display:block;
}

/* mobile */
@media (max-width: 700px) {
	.main-body {
		display:block;
	}
	.main-content {
		width:100%;
	}
	.sidebar {
		width: 100%;
	}
}