/* resources */
:root {
    --white: #E0E8E8;
    --black:#111;
    --yellow:#ffa;
    --blue:#A477FF;
    --black-transparent:#111c;
    --purple:#302030;
}

@font-face {
    font-family: "freepixel"; 
    src: url('../fonts/FreePixel.ttf') format("truetype");
}

body {
    font-family: 'Inter',helvetica, DejaVu Sans Mono, monospace;
}

.logo-header {
    font-family: Delius;
    font-weight: bold;
}

h1,h2,h3,h4,h5,#footer,.label,#navbar {
    font-family: Delius;
}

.sidebar-section,.post-link {
    font-family: freepixel;
}

.code-block {
    font-family: Consolas,monospace;
}

/* general */
body {
    background: url('../images/bg_silverkey.png') no-repeat center top;
    background-color: black;
    color: var(--yellow);
}

a {
    color:var(--blue);
}

h2 {
    padding-top:.2em;
    margin-top:.8em;
    border-top: 3px solid #bbb;
}

h1 > a {
    color:inherit;
}

h1 > a:hover {
    color:inherit;
    text-decoration:none;
}

p,ul,ol,li {
    color:var(--white);
    line-height:1.3;
    margin-bottom:1em;
}

p {
    margin-top:.5em;
}

iframe {
    max-width:100%;
}

.banners img {
  width: 88px;
  height: 31px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.banners img:hover {
  filter: drop-shadow(1px 1px 0 white) drop-shadow(-1px 1px 0 white) drop-shadow(1px -1px 0 white) drop-shadow(-1px -1px 0 white);
}

/* layout */
#header {
    margin:0;
    margin-bottom:1em;
}

.logo-header {
    margin-left:.5em;
    margin-top:.5em;
}

#navbar {
    display:flex;
}

.nav-btn {
    display: inline-block;
    text-align:center;
    padding: .375rem .75rem;
    line-height:1.5em;
    background-color:var(--black-transparent);
    width: 20%;
    border-radius: 0;
    color:var(--white);
    margin:0;
    font-weight:bold;
    border-top: 2px solid var(--black-transparent);
}

.nav-btn:hover {
    background-color:#503550;
    border-top: 2px solid #805580;
    color:var(--white);
}

.nav-btn.active {
    border-top: 2px solid var(--white);
    background-color:#333;
    pointer-events: none;
      cursor: default;
}

.main-body {
    display:flex;
    min-height: 50vh;
}

.main-content {
    background-color:var(--black-transparent);
    width:74%;
    display:inline-block;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 2em;
    padding-right: 2em;
}

.main-content-full {
    background-color:var(--black-transparent);
    width:100%;
    display:flex;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 2em;
    padding-right: 2em;
}

.sidebar {
    min-width:13em;
    background-color:var(--black-transparent);
    width:25%;
    display:inline-block;
    padding-top: .5em;
    padding-left: 1em;
    padding-right: 1em;
}

.sidebar-section {
    display: block;
  color: var(--yellow);
  background-color: #222;
    width: 100%;
    border:none;
    line-height: 1.2;
    text-align: left;
}

.sidebar-section:hover {
    background-color:#555;
}

.gutter {
    width: 1%;
}

#footer {
    margin-top:1em;
    background-color:var(--black-transparent);
    text-align:center;
}

/* common */
.btn-yellow {
    border-radius: 0;
    background-color:var(--yellow);
    color:var(--black);
    font-weight: bold;
}

.btn-yellow:hover {
    background-color:#fff;
}

.card {
    background-color:var(--purple);
    border-radius: 0;
    border: 0;
    margin: 1em;
}

.card-body {
    padding-top:.5em;
}

.subtitle {
    color: #C2C3C7;
}

hr.solid {
    border-top: 3px solid #bbb;
}

.label {
    font-weight: bold;
    color: var(--yellow);
}

.no-margin {
    margin:0;
}

.no-margin > li {
    margin:0;
}

.scrollable-content {
    overflow:scroll; 
    background-color:var(--purple);
    padding:.5em;
}

.code-block {
    border-radius: 12px;
    padding: 1em;
    background-color: #333;
}

.modal-img {
    cursor: pointer;
  transition: transform 0.3s ease;
}

.modal-img:hover {
    transform: scale(1.025);
}

.modal-dialog {
    max-width:600px;
}

.modal-content {
    background-color: #0000;
    border-radius: 0;
    border: none;
    position:fixed;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    max-width: 90vw;
    max-height: 90vh;
    -moz-pointer-events:none;
    -webkit-pointer-events:none;
    pointer-events:none;
}

.modal-backdrop.show {
    opacity:.7;
}

.figure-caption {
    color:#aaa;
    font-style:italic;
    background-color: #252525;
    padding: .25em;
    margin-bottom: .5em;
    text-align:center;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.modal-content > .figure-caption {
    background-color: #333;
    color:#FFF1E8;
    margin-top: .5em;
}

.modal-content > img {
    max-height:85vh;
    object-fit: scale-down;
}

.collapse-button::before {
    content: '⯈'
}

.collapse-button.active::before {
    content: '⯆'
}

.collapse-content {
    max-height: 0;
    transition: max-height 0.15s linear;
    overflow: hidden;
}

.collapse-content.open {
    max-height: 1028px;
    transition: max-height 0.15s linear;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
    margin: .25rem 0;
 }
 
 .dropdown-content a {
    float: none;
    background-color: #333;
    color: var(--white);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
 }
 
 .dropdown-content a:hover {
    background-color: #503550;
 }
 
 .nav-dropdown:hover .dropdown-content {
    display: block;
 }

.red {
    background-color: #800;
}

.yellow {
    background-color: rgb(216, 218, 99);
    color: black;
}

.lime {
    background-color: rgb(72, 196, 72);
    color: black;
}

.green {
    background-color: rgb(0, 120, 54);
}

.aqua {
    background-color: rgb(64, 214, 222);
    color: black;
}

.blue {
    background-color: rgb(52, 70, 120)
}

.pink {
    background-color: rgb(183, 0, 107)
}

/* games */
.game-card {
    width: 16rem;
}

/* devlogs */
.post-link {
    display: block;
    padding:.5em;
    line-height:1em;
    color:var(--white);
    margin-bottom:2px;
}

.post-link:hover {
    color:#fee;
    background-color:#503550;
}

.post-link.active {
    background-color:#333;
}

.date-subtitle {
    font-size: .8em;
    color: #C2C3C7;
}

.post {
    padding-top: .2em;
    padding-bottom: .5em;
    border-top: 3px solid #bbb;
    border-bottom: 3px solid #bbb;
}

.post-header {
    padding-bottom: .5em;
    margin-bottom: .5em;
    border-bottom: 3px solid #bbb;
}

.post-header > h1 {
    margin: 0;
}

.post-table > tbody > tr:nth-child(odd) {
    background-color: var(--black);
 }

.post-table > tbody > tr > td:first-child {
    background-color: var(--black);
}

.post-table > tbody > tr > td {
    padding-left:.5em;
    padding-right:.5em;
    color: var(--white);
    border-bottom: 1px solid #888;
}

.devlog-img {
    max-height:15em;
    max-width: 100%;
    margin-top: .5em;
    margin-right: .5em;
}

/* profiles */
.profile {
    width: 100%;
    color:var(--white);
    margin-bottom: 1em;
    display:flex;
    background-color: #ffffff18;
}
.profile table {
    text-align: left;
    font-size: 14px;
    margin-left: 1em;
    margin-right: 1em;
    width:100%;
}
.profile table tr th {
    padding-left: 1em;
    width: 8em;
    font-weight:normal;
    border-bottom: 1px dotted var(--white);
    color:var(--white);
}
.profile table tr td {
    font-size: 1rem;
    padding-left: 1em;
    border-bottom: 1px dotted var(--white);
}
.profile table tr td p {
    color: inherit;
}
.profile > .art {
    width: 200px;
    height:fit-content;
}
.profile tr:last-child td {
    border:none;
}

/* gallery */
.gallery {
    display:flex;
}

.mediacolumn {
    width:50%;
}

.mediacolumn-item {
    height:auto;
    margin: 5% 2.5%;
    box-shadow:0 0 8px 2px #000f
}

.mediacolumn-left > .mediacolumn-item {
    margin-left: 0;
}

.mediacolumn-right > .mediacolumn-item {
    margin-right: 0;
}

.mediacolumn-item > img {
    max-width: 100%;
    transition: transform 0.3s ease;
    transform: scale(.95);
 }

.mediacolumn-item > img:hover {
    transform: scale(1);
}


.tag {
    border-radius: .5em;
    padding-left: .5em;
    padding-right: .5em;
}

/* mobile */
@media (max-width: 770px) {
    .main-body {
        display:block;
    }
    .main-content {
        width:100%;
    }
    .sidebar {
        width: 100%;
    }
    #navbar {
        display:block;
    }
    .nav-btn {
        width:100%;
    }
    
    .gallery {
        display: block;
    }
    
    .mediacolumn {
        width:100%;
    }

    .dropdown-content {
        width: 70%;
    }

    .profile {
        display: block;
    }
    .profile .art {
        width:100%;
    }
}