<!DOCTYPE html >

<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../../content/index.css">
	</head>
	<body class="padded">
		<h1>Expert Paths</h1>
		<p>
			Upon completing the starting adventure, your group assembles and advances to level 1. Everyone in the group chooses a novice path from the four presented in this chapter. Novice paths describe the roads one might walk to attain one’s destiny. You can choose any path you like, but make sure you keep in mind what happened during the starting adventure. Those events and how you reacted to them should guide your choice.
			<ul>
				<li><b>Magician</b> Magicians strive to reach the heights of magical power. With their abilities to sense magic and counter spells, they control the battlefield. Play a Magician if you want to get the most out of your spellcasting.</li>
				<li><b>Priest</b> Priests are bound by oath to a cause or higher power. Priests are tougher than Magicians, but their spellcasting is restricted by their oath. Instead, they have a potent prayer that can turn the tides of battle. Priests make good spellswords or supports.</li>
				<li><b>Rogue</b> Rogues always have a trick up their sleeves. Using a combination of luck and skill, Rogues can usually find solutions to their problems. They may not be as tough as the Warrior, but they have a slew of useful talents and can potentially take two turns per round. Play a Rogue if you want to run circles around the enemy.</li>
				<li><b>Warrior</b> Extensive training with weapons and studying numerous fighting styles teach Warriors how to fight and survive on the battlefield. Their skills depend on being physically fit, quick and nimble, or a combination of both. Upon completing their training, Warriors can pick up and fight with almost any weapon, striking with greater precision and greater force than anyone else. Play a Warrior if you want to destroy the enemy regardless of battleground or weapon.</li>
			</ul>
		</p>
	</body>
</html>
