<!DOCTYPE html >

<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../../content/fnf_inner.css">
		<script src="fnf.js"></script>
		<script src="fnf-cha.js"></script>
		<script src="fnf-abi.js"></script>
		<script src="fnf-gea.js"></script>
		<script src="fnf-oth.js"></script>
	</head>
	<body>
		<p>
			<h1><input id="iname" placeholder="Name" required></input></h1><br/>
			
			<button onclick="showtable('cha');">Character</button>
			<button onclick="showtable('abi');">Abilities</button>
			<button onclick="showtable('gea');">Gear</button>
			<button onclick="showtable('oth');">Other</button>
			
			<br/>
			<div id="cha" class="show">
				<h1>Character</h1>
				<table>
					<tr>
						<td class="td_table_container">
							<table id="cha_stats">
							</table>
						</td>
						<td>
						</td>
						<td class="td_table_container">
							<table id="cha_aspects">
							</table>
						</td>
						<td class="td_table_container">
							<button onclick="cha_addaspect(2)">New Aspect</button>
						</td>
					</tr>
					<tr>
						<td>
							&nbsp;
						</td>
					</tr>
				</table>
			</div>
			<div id="abi" class="hide">
				<h1>Abilities, Stunts, & Spells</h1>
				<table id="abi_stunts" class="td_table_container">
				</table>
				<button onclick="abi_addstunt()">New Ability</button>
			</div>
			<div id="gea" class="hide">
				<h1>Equipment & Gear</h1>
				<table id="gea_equip" class="td_table_container">
				</table>
				<button onclick="gea_addequip()">New Item</button>
			</div>
			<div id="oth" class="hide">
				<h1>Other Attributes</h1>
				<table id="oth_attrib" class="td_table_container">
				</table>
				<button onclick="oth_addattrib()">New Section</button>
			</div>
		</p>
	</body>
</html>
