<!DOCTYPE html >

<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../../content/index.css">
	</head>
	<body class="padded">
		<h1>WARRIOR</h1>
		<img id="profile" src="../../content/warrior.png" alt="Warrior">
		<p>
			Extensive training with weapons and studying numerous fighting styles teach warriors how to fight and survive on the battlefield. Their skills depend on being physically fit, quick and nimble, or a combination of both. Upon completing their training, warriors can pick up and fight with almost any weapon, striking with greater precision and greater force than anyone else.
		</p>
		<p>
			Although all warriors know how to fight, they distinguish themselves by the weapons they wield. Some favor archery and put their focus on ranged weapons. Others fight with swords and axes, using their might to overcome their foes. Others still favor swift weapons, slipping rapier or saber strikes through their enemies’ defenses.
		</p>
		<p>
			Warriors come from all backgrounds. They are howling barbarians tumbling out from the depth of the wilderness, veteran soldiers marching in the Empire’s armies, hard-bitten mercenaries, mystics who transform their bodies into weapons, or anyone else who knows how to win battles through superior skill at arms.
		</p>
		<h3>LEVEL 1 WARRIOR</h3>
		<p>
			<b>Attributes</b> Increase two by 1<br/>
			<b>Characteristics</b> Health +5<br/>
			<b>Languages and Professions</b> You add one Common, State, or Wild Profession.<br/>
			<b>Catch Your Breath</b> You can use an action or a triggered action on your turn to heal damage equal to your healing rate. Once you use this talent, you cannot use it again until after you complete a rest. <br/>
			<b>Weapon Training</b> When attacking with a weapon, you make the attack roll with 1 boon.<br/>
		</p>
		<h3>LEVEL 2 WARRIOR</h3>
		<p>
			<b>Characteristics</b> Health +5<br/>
			<b>Combat Prowess</b> Your attacks with weapons deal 1d6 extra damage.<br/>
			<b>Forceful Strike</b> When the total of your attack roll is 20 or higher and exceeds the target number by at least 5, the attack deals 1d6 extra damage.
		</p>
		<h3>LEVEL 5 EXPERT WARRIOR</h3>
		<p>
			<b>Characteristics</b> Defense +1, Health +5<br/>
			<b>Combat Expertise</b> When you use an action to attack with a weapon, you either deal 1d6 extra damage with that attack or make another attack against a different target at any point before the end of your turn. 
		</p>
		<h3>LEVEL 8 MASTER WARRIOR</h3>
		<p>
			<b>Characteristics</b> Health +5<br/>
			<b>Grit</b> You can use Catch Your Breath twice.<br/>
			<b>Combat Mastery</b> When you use an action to attack with a weapon, you either deal 1d6 extra damage with that attack or make another attack against a different target at any point before the end of your turn. This talent is cumulative with Combat Expertise. You must choose a different target for each attack you make.
		</p>
	</body>
</html>
