/*
	Jeffrey Quattrociocchi
	jeffreyquattro@gmail.com
	UMass Lowell
	91.61 GUI Programming I
	Created: 09-11-18

	CSS file for index.html
*/

/*this will be the default for the page*/

:root {
	--yellow: #effea9;
}

body {
	color: white;
	background-color: #100010;
	padding-left: 3em;
	font-family: Palatino;
}

h1 {
	font-style: italic;
	font-family: georgia;
	color: var(--yellow);
	border-bottom: solid;
	text-indent: -1em;
}

#texted {
	color: red;
	background-color: red;
}

h2 {
	font-family: georgia;
	font-size: 1em;
	color: var(--yellow);
	margin: 0;
}

p {
	margin: 0;
	margin-bottom: 2em;
	line-height: 2em;
}

div {
	margin-bottom: 1.5em;
	line-height: 1.5em;
	
}

span {
	font-weight: bold;
}

#profile {
	float: right;
	margin-left: 2em;
	max-width: 50%;
	max-height: 80vh;
}

a {
	color: #8080ff;
}