body { 
	font-size: 18; 
	background-color: #111; 
	color: #ddd; 
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}

.main-content {
	background-color:var(--black-transparent);
	width:74%;
	display:inline-block;
	padding-top: 1em;
	padding-bottom: 1em;
	padding-left: 2em;
	padding-right: 2em;
}

h1, h2, h3, h4, h5, h6 { text-align: center; font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; }
h1 { font-size: calc(1.375rem + 2vw); }
h4 { font-style: italic; }
h5, h6 { margin:0; }
a { color: #aae; text-decoration: none;}
a:hover {text-decoration: underline;}
p { margin-bottom: .5em; text-align: justify; }
p + p { text-indent: 1.5em; }
td { vertical-align: top; padding: .5em; }
table { margin-bottom: 1em; }
div.break { height:2em; }
div.poem { text-align: center; margin-bottom:1rem; }
div.letter { width: 80%; margin:auto; margin-bottom:1rem;
	font-size: 17;  }
div.align-right { text-align: right; width: 80%; margin:auto;margin-bottom:1rem; }
p.align-right { text-align: right; margin-bottom:1rem; }
div.align-center { text-align: center; width: 80%; margin:auto; margin-bottom:1rem; }
div.divider { text-align: center; height:3em; }
div.divider::before { content: "✸ ✸ ✸"; word-spacing: 4em; }
span.small-caps { font-family:Georgia, 'Times New Roman', Times, serif; font-variant-caps:small-caps; }
div.illustration {
	max-height: 25em; 
	margin-bottom:1rem; 
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.illustration > img {
	max-width: inherit;
	max-height: inherit;
	margin-left: auto;
	margin-right: auto;
}