body { 
	font-size: 18; 
	background-color: #111; 
	color: #ddd; 
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}

.main-content {
	background-color:var(--black-transparent);
	width:74%;
	display:inline-block;
	padding-top: 1em;
	padding-bottom: 1em;
	padding-left: 2em;
	padding-right: 2em;
}

h1, h2, h3, h4, h5, h6 { text-align: center; font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; }
h1 { font-size: calc(1.375rem + 2vw); }
h4 { font-style: italic; }
h5, h6 { margin:0; }
a { color: #aae; text-decoration: none;}
a:hover {text-decoration: underline;}
p { margin-bottom: .5em; text-align: justify; }
p + p { text-indent: 1.5em; }
td { vertical-align: top; padding: .5em; }
table { margin-bottom: 1em; font-size: 18;}
div.break { height:2em; }
div.break-1 { height:.5em; }
div.break-2 { height:1em; }
div.break-3 { height:1.5em; }
div.break-4 { height:2em; }
div.break-5 { height:2.5em; }
div.break-6 { height:3em; }
div.small-text { font-size: 16;}
div.small-text > p { margin-bottom: .5em;padding-left:3em;text-indent: -1.5em;}
div.poem {  width: 50%; margin:auto; margin-bottom:1rem; font-style: italic;}
div.poem-wide {  width: 80%; margin:auto; margin-bottom:1rem; font-style: italic;}
div.poem > p, div.poem-wide > p {margin: 0; text-align: left; text-indent: 0;}
div.poem > p:nth-child(even), div.poem-wide > p:nth-child(even) {
	text-indent: 1.5em;
}
div.letter { width: 80%; margin:auto; margin-bottom:1rem;
	font-size: 17;  }
div.align-right { text-align: right; width: 80%; margin:auto;margin-bottom:1rem; }
p.align-right { text-align: right; margin-bottom:1rem; }
div.align-center { text-align: center; width: 80%; margin:auto; margin-bottom:1rem; }
div.divider { text-align: center; height:3em; }
div.divider::before { content: "✸ ✸ ✸"; word-spacing: 4em; }
span.small-caps { font-family:Georgia, 'Times New Roman', Times, serif; font-variant-caps:small-caps; }
div.illustration {
	max-height: 25em; 
	margin-bottom:1rem; 
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.illustration > img {
	max-width: inherit;
	max-height: inherit;
	margin-left: auto;
	margin-right: auto;
}

/* mobile */
@media (max-width: 1000px) {
	nav, .nav .row, #main-content {
		width:100%;
	}
}