<!DOCTYPE html >

<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../../content/index.css">
	</head>
	<body class="padded">
		<h1>Master Paths</h1>
		<p>
			When your group reaches level 7, each member selects a master path from the 74 options presented in this section or chooses a second expert path. The paths presented here are organized into two broad groups to help you navigate the choices. Paths of magic let you master a tradition of magic or a method of casting, while paths of skill let you improve existing abilities or make available new ones.
		</p>
		<table>
			<tr>
				<th>Path</th>
				<th>Mastery</th>
				<th/>
				<th>Path</th>
				<th>Mastery</th>
			</tr>
			<tr>
				<td>Abjurer</td>
				<td>Protection spells</td>
				<td/>
				<td>Acrobat</td>
				<td>Movement and maneuverability</td>
			</tr>
			<tr>
				<td>Aeromancer</td>
				<td>Air spells</td>
				<td/>
				<td>Avenger</td>
				<td>Avenging your allies</td>
			</tr>
			<tr>
				<td>Apocalyptist</td>
				<td>Forbidden spells</td>
				<td/>
				<td>Blade</td>
				<td>Knife-fighting</td>
			</tr>
			<tr>
				<td>Arcanist</td>
				<td>Arcana spells</td>
				<td/>
				<td>Brute</td>
				<td>Strength and toughness</td>
			</tr>
			<tr>
				<td>Astromancer</td>
				<td>Celestial spells</td>
				<td/>
				<td>Cavalier</td>
				<td>Mounted combat</td>
			</tr>
			<tr>
				<td>Bard</td>
				<td>Song spells</td>
				<td/>
				<td>Champion</td>
				<td>Immovable Fighting Stance</td>
			</tr>
			<tr>
				<td>Beastmaster</td>
				<td>Primal spells</td>
				<td/>
				<td>Chaplain</td>
				<td>Spiritual leadership</td>
			</tr>
			<tr>
				<td>Chronomancer</td>
				<td>Time spells</td>
				<td/>
				<td>Conqueror</td>
				<td>Tactics</td>
			</tr>
			<tr>
				<td>Conjurer</td>
				<td>Conjuration spells</td>
				<td/>
				<td>Death Dealer</td>
				<td>Heavy weapons</td>
			</tr>
			<tr>
				<td>Destroyer</td>
				<td>Destruction spells</td>
				<td/>
				<td>Defender</td>
				<td>Protecting others</td>
			</tr>
			<tr>
				<td>Diviner</td>
				<td>Divination spells</td>
				<td/>
				<td>Dervish</td>
				<td>Fighting with two weapons</td>
			</tr>
			<tr>
				<td>Enchanter</td>
				<td>Enchantment spells</td>
				<td/>
				<td>Diplomat</td>
				<td>Negotiation and persuasion</td>
			</tr>
			<tr>
				<td>Entropist</td>
				<td>Death spells</td>
				<td/>
				<td>Dreadnaught</td>
				<td>Heavy armor</td>
			</tr>
			<tr>
				<td>Exorcist</td>
				<td>Casting out malevolent entities</td>
				<td/>
				<td>Duelist</td>
				<td>1-on-1 Combat</td>
			</tr>
			<tr>
				<td>Geomancer</td>
				<td>Earth spells</td>
				<td/>
				<td>Engineer</td>
				<td>Creating mechanical servants</td>
			</tr>
			<tr>
				<td>Healer</td>
				<td>Life spells</td>
				<td/>
				<td>Executioner</td>
				<td>Murder</td>
			</tr>
			<tr>
				<td>Hexer</td>
				<td>Curse spells</td>
				<td/>
				<td>Explorer</td>
				<td>Survival</td>
			</tr>
			<tr>
				<td>Hydromancer</td>
				<td>Water spells</td>
				<td/>
				<td>Gladiator</td>
				<td>Dirty fighting</td>
			</tr>
			<tr>
				<td>Illusionist</td>
				<td>Illusion spells</td>
				<td/>
				<td>Gunslinger</td>
				<td>Pistols and rifles</td>
			</tr>
			<tr>
				<td>Invoker</td>
				<td>Invocation spells</td>
				<td/>
				<td>Infiltrator</td>
				<td>Spying</td>
			</tr>
			<tr>
				<td>Mage Knight</td>
				<td>Battle spells</td>
				<td/>
				<td>Inquisitor</td>
				<td>Exposing weakness and corruption</td>
			</tr>
			<tr>
				<td>Magus</td>
				<td>Implements</td>
				<td/>
				<td>Jack-of-All-Trades</td>
				<td>-</td>
			</tr>
			<tr>
				<td>Necromancer</td>
				<td>Necromancy spells</td>
				<td/>
				<td>Marauder</td>
				<td>Charging in</td>
			</tr>
			<tr>
				<td>Pyromancer</td>
				<td>Fire spells</td>
				<td/>
				<td>Miracle Worker</td>
				<td>Performing miracles</td>
			</tr>
			<tr>
				<td>Runesmith</td>
				<td>Rune spells</td>
				<td/>
				<td>Myrmidon</td>
				<td>Fighting with shields</td>
			</tr>
			<tr>
				<td>Savant</td>
				<td>A wide array of spells</td>
				<td/>
				<td>Poisoner</td>
				<td>Using poison</td>
			</tr>
			<tr>
				<td>Shapeshifter</td>
				<td>Transformation spells</td>
				<td/>
				<td>Reaver</td>
				<td>Savage brawling</td>
			</tr>
			<tr>
				<td>Stormbringer</td>
				<td>Storm spells</td>
				<td/>
				<td>Sapper</td>
				<td>Bombs</td>
			</tr>
			<tr>
				<td>Technomancer</td>
				<td>Technomancy spells</td>
				<td/>
				<td>Sentinel</td>
				<td>Perception</td>
			</tr>
			<tr>
				<td>Tenebrist</td>
				<td>Shadow spells</td>
				<td/>
				<td>Sharpshooter</td>
				<td>Bows and crossbows</td>
			</tr>
			<tr>
				<td>Thaumaturge</td>
				<td>Chaos spells</td>
				<td/>
				<td>Sleuth</td>
				<td>Sizing up opponents</td>
			</tr>
			<tr>
				<td>Theurge</td>
				<td>Theurgy spells</td>
				<td/>
				<td>Templar</td>
				<td>Making and protecting holy sites</td>
			</tr>
			<tr>
				<td>Transmuter</td>
				<td>Alteration spells</td>
				<td/>
				<td>Tormentor</td>
				<td>Exploiting Fear</td>
			</tr>
			<tr>
				<td>Traveler</td>
				<td>Teleportation spells</td>
				<td/>
				<td>Weapon Master</td>
				<td>Favored weapon</td>
			</tr>
			<tr>
				<td>Woodwose</td>
				<td>Nature spells</td>
				<td/>
				<td>Zealot</td>
				<td>Insanity</td>
			</tr>
		</table>
	</body>
</html>
