<!DOCTYPE html >

<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../content/index.css">
	</head>
	<body class="padded">
		<h1>about me</h1>
		<p>
			dabbled in Unity for game development - - (.cs)<br/>
			studied Computer Science at UMass Lowell - - (.c .cpp .asm .js .py)<br/>
			taught programming at a summer camp - - (.cpp .java)<br/>
			writes websites for work and for pleasure - - (.js .cs .sql .json)<br/>
		</p>
		<p>
			loves dragons, black coffee, and super mario<br/>
			jeffreyquattro@gmail.com<br/>
			hmu
		</p>
	</body>
</html>
