<!DOCTYPE html >

<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../content/index.css">
	</head>
	<body class="padded">
		<h1>interests</h1>
		<p>
			<h2>hobbies</h2>
			code<br/>
			play the piano<br/>
			tell my boyfriend that he is cute<br/>
			Dungeons & Dragons: 5th Edition
		</p>
		<p>
			<h2>musicians</h2>
			Jonathan Coulton<br/>
			Maxo<br/>
			Ken Ashcorp<br/>
			Vienna Teng<br/>
		</p>
		<p>
			<h2>movies</h2>
			Howls Moving Castle<br/>
			Gone Girl<br/>
			The Grand Budapest Hotel<br/>
			Anything by the Coen Brothers<br/>
		</p>
		<p>
			<h2>games</h2>
			Metal Gear 2: Solid Snake, 1990<br/>
			Super Mario World, 1990<br/>
			Super Mario 64, 1996<br/>
			Metal Gear Solid 3: Snake Eater, 2004<br/>
			Mother 3, 2006<br/>
			Dark Souls, 2011<br/>
			The Legend of Zelda: A Link Between Worlds, 2013<br/>
			Bloodborne, 2015<br/>
			The Legend of Zelda: Breath of the Wild, 2017<br/>
		</p>
	</body>
</html>
