<!DOCTYPE html >

<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../content/inner.css">
	</head>
	<body id="texted">
	<h1>interests</h1>
		<p>
			<h2>hobbies</h2>
			<p>
				code<br/>
				play the piano<br/>
				tell my boyfriend that he is cute<br/>
			</p>
			<h2>favorite musicians</h2>
			<p>
				Jonathan Coulton<br/>
				Maxo<br/>
				Ken Ashcorp<br/>
				Vienna Teng<br/>
			</p>
			<h2>favorite movies</h2>
			<p>
				Howls Moving Castle<br/>
				Gone Girl<br/>
				The Grand Budapest Hotel<br/>
				Anything by the Coen Brothers<br/>
			</p>
			<h2>favorite games</h2>
			<p>
				Super Mario 64<br/>
				Mother 3<br/>
				The Legend of Zelda: A Link Between Worlds<br/>
				Dark Souls<br/>
				Metal Gear 2: Solid Snake<br/>
				Dungeons & Dragons: 5th Edition
			</p>
		</p>
	</body>
</html>
