<!DOCTYPE html >

<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../content/inner.css">
	</head>
	<body>
		<h1>interests</h1>
		<div>
			<h2>hobbies</h2>
			code<br/>
			play the piano<br/>
			tell my boyfriend that he is cute<br/>
		</div>
		<div>
			<h2>favorite musicians</h2>
			Jonathan Coulton<br/>
			Maxo<br/>
			Ken Ashcorp<br/>
			Vienna Teng<br/>
		</div>
		<div>
			<h2>favorite movies</h2>
			Howls Moving Castle<br/>
			Gone Girl<br/>
			The Grand Budapest Hotel<br/>
			Anything by the Coen Brothers<br/>
		</div>
		<div>
			<h2>favorite games</h2>
			Super Mario 64<br/>
			Mother 3<br/>
			The Legend of Zelda: A Link Between Worlds<br/>
			Dark Souls<br/>
			Metal Gear 2: Solid Snake<br/>
			Dungeons & Dragons: 5th Edition
		</div>
	</body>
</html>
