<!DOCTYPE html >

<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../content/index.css">
	</head>
	<body class="padded">
		<h1>work experience</h1>
		<h2>MITRE Corp. - Bedford, MA</h2>
		<span>since June 2019</span><br/>
		<p>
			developed internally-used websites for product management
		</p>
		
		<h2>iD Tech, MIT - Cambridge, MA</h2>
		<span>2018, June - August</span><br/>
		<p>
			taught students aged 12 - 17 the basics of C++ and Java
		</p>
		<h2>Kronos, Inc - Chelmsford, MA</h2>
		<span>2017, January - June</span><br/>
		<p>
			built internally-used websites featuring database integration
		</p>
		<h2>Lowell First Church of the Nazarene - Lowell, MA</h2>
		<span>since 2009</span><br/>
		<p>
			volunteered for the Sunday School, ages 5-9, help lead craft-making, 
			storytelling, and free play inside and outside
		</p>
	</body>
</html>
