<!DOCTYPE html >

<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../content/inner.css">
	</head>
	<body id="texted">
	<h1>work experience</h1>
		<p>
			<h2>MITRE Corp. - Bedford, MA</h2>
			<p>
				<span>since June 2019</span><br/>
			developed internally-used websites for product management</p>
			<br/>
			<h2>iD Tech, MIT - Cambridge, MA</h2>
			<p>
				<span>2018, June - August</span><br/>
			taught students aged 12 - 17 the basics of C++ and Java</p>
			<br/>
			<h2>Kronos, Inc - Chelmsford, MA</h2>
			<p>
				<span>2017, January - June</span><br/>
			built internally-used websites featuring database integration</p>
		</p>
	</body>
</html>
