<!DOCTYPE html >

<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../../content/index.css">
	</head>
	<body class="padded">
		<h1>Welcome to the Doors of Illune Campaign Guide</h1>
		<p>
			Characters will start at level 0. To start, pick an ancestry and follow its instructions.
			If you can, take a look at the combat overview. SotDL is similar to D&D in a lot of ways, but the combat has some unique quirks.
		</p>
		<p>
			Refer to the Advancement table for what to do upon leveling up:
		</p>
			<table>
			<tr><th>Level</th><th>Benefit</th></tr></tr>
			<tr><td>0</td><td><span>Choose an Ancestry</span></td></tr>
			<tr><td>1</td><td><span>Choose a Novice Path</span></td></tr>
			<tr><td>2</td><td>Novice Path enhancement</td></tr>
			<tr><td>3</td><td><span>Choose an Expert Path</span></td></tr>
			<tr><td>4</td><td>Ancestry enhancement</td></tr>
			<tr><td>5</td><td>Novice path enhancement</td></tr>
			<tr><td>6</td><td>Expert path enhancement</td></tr>
			<tr><td>7</td><td><span>Choose a Master Path OR a second Expert Path</span></td></tr>
			<tr><td>8</td><td>Novice path enhancement</td></tr>
			<tr><td>9</td><td>Expert path enhancement</td></tr>
			<tr><td>10</td><td>Master path enhancement</td></tr>
			</table>
		<p><br/>
		</p>
	</body>
</html>
