body {font-size: 18; background-color: #111; color: #ddd; }
h1, h2, h3, h4, h5, h6 {text-align: center; font-family: geogia;}
h1 {font-size: calc(1.375rem + 2vw)}
h4 {font-style: italic;}
h5, h6 {margin:0}
a {color: #99f}
td {vertical-align: top; padding: .5em;}
table {margin-bottom: 1em}
div.break {height:2em;}
span.serif {font-family: serif}
div.poem {text-align: center;margin-bottom:1rem;}
div.letter {width: 80%; margin:auto; margin-bottom:1rem;}
div.align-right {text-align: right;width: 80%; margin:auto;margin-bottom:1rem;}

.main-body {
	display:flex;
	min-height: 50vh;
}

.sidebar {
	min-width:13em;
	width:25%;
	display:inline-block;
	padding-top: .5em;
	padding-left: 1em;
	padding-right: 1em;
}

.main-content {
	background-color:var(--black-transparent);
	width:74%;
	display:inline-block;
	padding-top: 1em;
	padding-bottom: 1em;
	padding-left: 2em;
	padding-right: 2em;
}

.gutter {
	width: 1%;
}


/* mobile */
@media (max-width: 700px) {
	.main-body {
		display:block;
	}
	.main-content {
		width:100%;
	}
	.sidebar {
		width: 100%;
	}
	#navbar {
		display:block;
	}
	.nav-btn {
		width:100%;
	}
	
	.gallery {
		display: block;
	}
	
	.mediacolumn {
		width:100%;
	}

	.dropdown-content {
		width: 70%;
	}
}