body {background-color: #111; color: #ddd;}
h1, h2, h3, h4, h5, h6 {text-align: center; font-family: geogia;}
h1 {font-size: calc(1.375rem + 2vw)}
h5, h6 {margin:0}
a {color: #99f}
td {vertical-align: top; padding: .5em;}
table {margin-bottom: 1em}
div.break {height:2em;}
span.serif {font-family: serif}
div.poem {text-align: center;margin-bottom:1rem;}
div.letter {width: 80%; margin:auto; margin-bottom:1rem;}