/*
	Jeffrey Quattrociocchi
	jeffreyquattro@gmail.com
	UMass Lowell
	91.61 GUI Programming I
	Created: 09-11-18

	CSS file for index.html
*/

/*this will be the default for the page*/
body {
	color: white;
	font-size: 120%;
	background-color: #020002;
	font-family: times;
	line-height: 1.5em;
	text-indent: -2em;
}

#texted {
	margin: 2em;
	padding-left: 2em;
}

table {
	font-size: .9em;
	text-align: center;
}

.dropdown-content tr:nth-child(even) {
	background-color: white;
}

.dropdown-content tr:nth-child(odd) {
	background-color: lightgrey;
}

tr:nth-child(even) {
	background-color: #2f2f2f;
}

td {
	min-width: 1em;
	line-height: 1.1em;
	border: none;
}

h1 {
	font-style: italic;
	font-family: georgia;
	color: #effea9;
	border-bottom: solid;
}

h2 {
	font-family: georgia;
	font-size: 1em;
	color: #effea9;
	line-height: .7em;
	height: 0;
}

p {
	font-family: Palatino;
	text-indent: 0em;
	line-height: 1.1em;
}

span {
	font-weight: bold;
}

#profile, #planet, #surface {
	float: right;
	margin-left: 2em;
	max-width: 50%;
	max-height: 80vh;
}

#planet {
	margin-top: 2em;
}

#map {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-height: 85vh;
	max-width: 100%;
}

.dropdown {
    position: relative;
    display: inline-block;
	color: steelblue;
}

.dropdown:hover {
	color: gold;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
	color: black;
    min-width: 20em;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
	font-size: .8em;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#uwpbutton {
	background-color: #2f2f2f;
	color: white;
	font-style: italic;
	font-family: georgia;
	font-weight: bold;
	font-size: 1.1em;
}

.uwpdropdown {
    display: none;
    z-index: 1;
}

button {
	background-color: #2f2f2f;
	width: 100%;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	text-transform: capitalize;
}

button:hover {
    background-color: darkslategrey;
    animation-name: example;
    animation-duration: 2s;
    animation-iteration-count: infinite;
	animation-timing-function: linear;
}

.sticky {
	position: sticky;
}

a {
	color: #8080ff;
}