body {
	background-color: #203020;
	font-size: 1em;
	font-family: lucida console;
	height: 100vh;
	overflow:hidden;
	margin: 0;
}

p::-webkit-scrollbar {
    width: 1em;
}
 
p::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
p::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

p {
	background-color: black;
	border-top-style: solid;
	border-color: #203020;
	border-width: 1px;
	padding: 0;
	margin: 0;
}

#head, #scr, #loc {
	height: 1.2em;
	overflow: hidden;
	background-color: #e1e1e1;
	color: #202020;
	border-width: 0px;
	padding-left: .4em;
	padding-right: .4em;
	z-index: 1;
	position: relative;
	text-transform: uppercase;
}

#loc {
	float: right;
}

#text {
	position: absolute;
	bottom: 1.5em;
	height: calc(100% - 2.7em);
	overflow-y: auto;
	color: white;
	width: 100%;
}

input {
	position: absolute;
	background-color: black;
	width: 100%;
	bottom: 0;
	font-size: 1.1em;
	background-color: darkslategrey;
	color: white;
}

span {
	color: #ffffaa;
	text-transform: uppercase;
}

.style_button {
	width: 48px;
	height: 100%;
	padding: 0;
	line-height: .5em;
    display: inline-block;
	color: #202020;
	background-color: #e8e8e8;
	font-size: 40px;
	float: right;
}

.style_dropdown {
	font-size: 1em;
    display: none;
    position: absolute;
	right: 1em;
	top: 1.2em;
	color: white;
    background-color: #202020;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
	text-align: right;
}

button:disabled {
	background-color: #888888;
}

button:enabled:hover {
	background-color: #aaaaaa;
}

table {
	border-spacing: 0;
}
td {
	border: 1px solid white;
	height: 2em;
	width: 2em;
	background-color: #110011;
}

.maploc {
    animation-name: example;
    animation-duration: 2s;
    animation-iteration-count: infinite;
	animation-timing-function: linear;
	
}

.visited {
    background-color: #444488;
}


@keyframes example {
    0%  {background-color: #008800;}
    50%   {background-color: #88ff88;}
    100%  {background-color: #008800;}
}