<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>ACTION CASTLE</title>
		<link rel="stylesheet" href="ac.css">
		<script src="ac.js">
		</script>
	</head>
	<body>
		<p id="head">
			<strong id="scr">SCORE: 0/?</strong>
			<button id="music_button" class="style_button" onclick="menutoggle('music_dropdown');">&#9835</button>
			<button id="inv_button" class="style_button" onclick="menutoggle('inv_dropdown');" disabled>&#9919</button>
			<button id="map_button" class="style_button" onclick="menutoggle('map_dropdown');" disabled>&#9737</button>
			<strong id="loc">???</strong>
		<p>
		<div id="map_dropdown" class="style_dropdown">
		the map will load once <br/> the game has started
		</div>
		<div id="inv_dropdown" class="style_dropdown"></div>
		<div id="music_dropdown" class="style_dropdown"></div>
		<p id="text">
			<br/><br/><br/>
			if you are seeing this text, the script is either taking some time to load, or has failed. 
			<span>GOOGLE CHROME</span> is the recommended browser for this experience
		</p>
		<input type="text" id="box" onkeydown = "if (event.keyCode == 13)
                        enter();">
		
	</body>
</html>