:root {
	--primary: #0d0e13;
	--darker: #cccc66;
	--tert: #99ffff;
}

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

@font-face {
	font-family: 'immortal';
	src: url('content/IMMORTAL.ttf') format('truetype');
}

body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
	max-height: 40em;
	overflow: hidden;
	background: linear-gradient(180deg,#0d0e13,#2b2c31 80%);
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
}

.blockquote {
    font-size: 1em;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

a {
	color: #aaf;
}

.sidebar-link a {
	color: white;
}

p, ul, ol {
	max-width: 60em;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
}

.pagetitle {
	color: white;
	font-weight: bold;
	font-family: immortal;
	font-size: 1.75rem;
}

.pagesubtitle {
	font-style: italic;
	font-weight: bold;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
	max-height: 100vh;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    color: #fff;
    transition: all 0.3s;
		background: linear-gradient(180deg,#0d0e13,#181C2D 80%);
	text-align: center;
	overflow-y: scroll;
	height: 100vh;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
	border-radius: 4px;
}

.sidebar-header .pagetitle {
	color: white;
	font-weight: 900;
	font-family: papyrus;
	font-size: 1.5rem;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid white;
}

#sidebar ul p {
    border-bottom: 2px rgb(48, 52, 54) solid;
    border-top: 2px rgb(48, 52, 54) solid;
    padding: 10px;
	color: white;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #000;
	background: #effea9;
}

.profile {
	float: right;
	margin-left: 2em;
	text-align: right;
	color: grey;
}

.profile-img {
	max-height: 80vh;
}

.icon {
    background-image: url('content/artist.png');
    height: 14px;
    width: 20px;
    display: inline-block;
    /* Other styles here */
}

a.active {
    background: #cccc66;
	color: black;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

b {
	font-weight: bold;
}

h1 {
	font-style: italic;
	font-weight: bold;
}

div.btn-group {
	background: #343a40;
}

div.container {
	border-radius: 5px;
}

h2 {
	font-family: georgia;
	color: var(--primary);
	font-weight: bold;
}

h3 {
	font-family: georgia;
	font-weight: bold;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    transition: all 0.3s;
	overflow-y: scroll;
	max-height: 100%;
	background: #E5E5E5;
	color:#2B2C31;
}

#content > div {
	padding: 20px;
}

.page-header {
	background: #0d0e13;
	color: #E5E5E5;
}

.table {
	width: auto;
}

#sidebarCollapse {
	display: none;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }

	#sidebarCollapse {
		display: block;
		background: #666;
	}
    #sidebarCollapse span {
        display: none;
    }
}
