<!DOCTYPE html >

<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../../content/index.css">
	</head>
	<body class="padded">
		<h1>ASSASSIN</h1>
		<img id="profile" src="../../content/paths/assassin.png" alt="Assassin">
		<p>
			Assassins specialize in the art of murder. They learn the
best ways to speed their victims to the grave, whether using
a strangling cord, poison in a cup, or a knife slid between
the ribs. Assassins avoid fair fights, preferring to skulk in
the shadows, where they can watch for the perfect time to
strike. They might spend weeks or even months gathering
information about their victims, learning all they can to
overcome their defenses and to attack when their targets
are least prepared.
		</p>
		<p>
Most assassins take contracts to eliminate specific targets.
Assassins can be freelancers or members of a secret society
of professional killers, such as the Black Hand. For them,
killing is nothing more than upholding their end of a
business transaction. Of course, others come to this path for
a variety of reasons. Some are simply cold-blooded killers,
spies, or even skilled snipers. A few belong to death cults
who see each kill as a prayer offered to the sinister power
they serve.
		</p>
		<h3>LEVEL 3 ASSASSIN</h3>
		<p>
			<b>Attributes</b> Increase two by 1<br/>
			<b>Characteristics</b> Perception +1, Health +3<br/>
			<b>Languages and Professions</b> Add two Common, Criminal or State Professions.
		</p>
		<p>
			<b>Assassinate</b> When a surprised creature or a creature from which you are hidden takes damage from your attack, it must make a Strength challenge roll. The target makes the roll with 1 boon for each point of Size it is larger than you. On a failure, it takes damage equal to its Health.
		</p>
		<p>
			<b>Disguise Expertise</b> If you have a disguise kit, you can use an action to expend a use from the kit to don a disguise.
		</p>
		<p>
			<b>Quick Reflexes</b> You can use a triggered action on your turn to hide or retreat.
		</p>
		<h3>LEVEL 6 ASSASSIN</h3>
		<p>
			<b>Characteristics</b> Health +3
		</p>
		<p>
			<b>Manufacture Poison</b> You can use an action and a Tool Kit to create a dose of poison. You must spend at least 1 minute concentrating, during which time you use the kit and special ingredients worth 5 cp. At the end of this time, you create one dose of poison (see Gear). The poison retains potency until you complete a rest.
		</p>
		<h3>LEVEL 9 MASTER ASSASSIN</h3>
		<p>
			<b>Characteristics</b> Health +3
		</p>
		<p>
			<b>Killer's Eye</b>  You can use an action on your turn to choose one creature within long range from which you are hidden. Make a Perception challenge roll. On a success, you know where best to attack the target for 1 minute. Until the effect ends, when you attack the target, you make your attack roll with 1 boon and the attack deals 2d6 extra damage.
		</p>
	</body>
</html>
