<!DOCTYPE html >

<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../../content/index.css">
	</head>
	<body class="padded">
		<h1>ORACLE</h1>
		<img id="profile" src="../../content/paths/oracle.png" alt="Oracle">
		<p>
			Oracles develop a special connection with supernatural
beings, learning to invite them into their bodies to gain a
measure of their power and wisdom. These beings might be
gods, as many oracles believe, or they might be spirits, the
souls of the dead, or something else. Regardless of the true
origins of these beings, each possession strains the mind,
eroding the oracle’s sanity and mental defenses over time.
		</p>
		<p>
When in the throes of their possession, oracles manifest
physical signs of the being within their bodies. The
manifestations depend on the entity. Divine possession
can cause holy writing to appear on the body or a tongue
of fire to burn above the head. More sinister beings cause
shadows to dance, horns to grow from the oracle’s head, or
a foul stench to fill the air. No matter the form these signs
take, they indicate something ancient and powerful resides
within the host body for a time.
		</p>
		<h3>LEVEL 3 ORACLE</h3>
		<p>
			<b>Attributes</b> Increase two by 1<br/>
			<b>Characteristics</b> Health +3, Power +1<br/>
			<b>Languages and Professions</b> Add one profession. <br/>
			<b>Magic</b> You discover a tradition associated with your Oath (as described in the Priest novice path), or learn one spell.
		</p>
		<p>
			<b>Divine Ecstasy</b> You can use an action to enter a state of divine ecstasy that lasts for 1 minute. You gain the following benefits for the duration:
		</p>
		<ul>
			<li>You gain a +10 bonus to Health.</li>
			<li>You cannot become charmed, compelled, or frightened.</li>
			<li>You cannot gain Insanity.</li>
			<li>You make Intellect, Will, and Perception attack rolls and challenge rolls with 1 boon.</li>
		</ul>
		<p>
			When this effect ends, you must get a success on a Will challenge roll or gain 1 Insanity.
		</p>
		<p>
			You can use this talent a number of times equal to your Power. You replenish your uses when you complete a rest.
		</p>
		<h3>LEVEL 6 ORACLE</h3>
		<p>
			<b>Characteristics</b> Health +3<br/>
			<b>Magic</b> You learn one spell.
		</p>
		<p>
			<b>Commune with the Gods</b> When you use Divine Ecstasy, you can choose to go into a trance. If you concentrate until the effect ends, you can ask the supernatural presence up to three questions that can be answered with a yes, no, or maybe. You then make a Will challenge roll with 1 bane. On a success, the GM must answer you truthfully. On a failure, you gain 1 Insanity.
		</p>
		<h3>LEVEL 9 MASTER ORACLE</h3>
		<p>
			<b>Characteristics</b> Health +3, Power +1<br/>
			<b>Magic</b> You learn one spell.
		</p>
		<p>
			<b>Avatar</b> While under the effects of Divine Ecstasy, you gain the following additional benefits:
		</p>
		<ul>
			<li>You gain a +1 bonus to Defense.</li>
			<li>You make Strength and Agility attack rolls and challenge rolls with 1 boon.</li>
			<li>Your attacks deal 1d6 extra damage.</li>
		</ul>
	</body>
</html>
