<!DOCTYPE html >

<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../../content/index.css">
	</head>
	<body class="padded">
		<h1>Expert Paths</h1>
		<p>
			When your group’s level reaches 3, everyone in it chooses an expert path from the 12 options below. The paths described in this section represent the most common paths taken by people living in the Northern Reach. Others may be available at the GM’s discretion. Expert paths are arranged in four broad groupings that evoke the four novice paths. Each one describes a route you can take to grow your power and ability. Although your novice path might suggest an expert path, such as priests choosing paths of faith, you can freely choose any path you like provided the choice makes sense in the context of the story.
		</p>
		<h2>PATHS OF FAITH</h2>
		<ul>
			<li><b>Clerics</b> use the symbols of faith to drive back and destroy the gods' enemies.</li>
			<li><b>Druids</b> are devotees to the Old Faith who discover the mysteries of their secret society to protect the land and its inhabitants.</li>
			<li><b>Oracles</b> invite into their bodies supernatural entities, who grant them strength, wisdom, and clues about the future.</li>
			<li><b>Paladins</b> use their faith to protect the innocent and smite darkness.</li>
		</ul>
		<h2>PATHS OF POWER</h2>
		<ul>
			<li><b>Artificers</b> create magical trinkets and servants.</li>
			<li><b>Sorcerers</b> harness incredible amounts of magical energy at great risk to themselves.</li>
			<li><b>Witches</b> wield the power of old magic, learned from the Fair Folk long ago.</li>
			<li><b>Wizards</b> are academicians of magic, keeping their lore in great tomes called grimoires.</li>
		</ul>
		<h2>PATHS OF TRICKERY</h2>
		<ul>
			<li><b>Assassins</b> kill from hiding, using disguises and poison.</li>
			<li><b>Scouts</b> are skilled in stealth and observation. They gather information for their allies.</li>
			<li><b>Thieves</b>  develop useful skills to help them carry out their criminal designs.</li>
			<li><b>Warlocks</b> learn how to snatch spells from other casters’ minds.</li>
		</ul>
		<h2>PATHS OF WAR</h2>
		<ul>
			<li><b>Berserker</b> unleash their fury in battle to become wild, killing machines.</li>
			<li><b>Fighters</b> train to become experts at a particular fighting style.</li>
			<li><b>Rangers</b> are expert hunters who know how to find, track, and destroy their prey.</li>
			<li><b>Spellbinders</b> imbue their weapons with magic to enhance their combat abilities.</li>
		</ul>
		<h3>SECOND EXPERT PATH</h3>
		<p>
			At Level 7, you may choose to take a second Expert Path in place of a Master Path. If you do, you gain the following benefits:
		</p>
		<ul>
			<li><b>At Level 7:</b> You gain the level 3 benefits from your second expert path.</li>
			<li><b>At Level 9:</b> You gain the level 9 benefits from one of your expert paths.</li>
			<li><b>At Level 10:</b> You gain the level 6 benefits from your second expert path.</li>
		</ul>
	</body>
</html>
