<!DOCTYPE html >

<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../../content/inner.css">
	</head>
	<body>
		<h1>Action Castle</h1>
		<h2>Fall 2018</h2>
		<p>
			a solo project which used basic natural language processing to simulate Jared A. 
			Sorensen's game Action Castle from Parsley Games
		</p>
		<p>
			play v1.1: <a href="https://jequatot.github.io/diaspora/thing/thing.html" target="_parent">jequatot.github.io/diaspora/thing/thing.html</a><br/>
			view the code: <a href="https://github.com/Jequatot/diaspora/tree/master/thing" target="_parent">github.com/Jequatot/diaspora/tree/master/thing</a><br/>
			play v1.2: <a href="ac/ac.html" target="_parent">jequatot.github.io/home/views/games/ac/ac.html</a>
		</p>
	</body>
</html>
