<!DOCTYPE html >

<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../../content/index.css">
	</head>
	<body class="padded">
		<h1>Action Castle</h1>
		<h2>Fall 2018</h2>
		<p>
			a solo project which used basic natural language processing to simulate Jared A. 
			Sorensen's game Action Castle from Parsley Games
		</p>
		<p>
			play v1.2: <a href="ac/ac.html" target="_parent">jequatot.github.io/home/views/games/ac/ac.html</a><br/>
			view the code: <a href="https://github.com/Jequatot/home/tree/master/views/games/ac" target="_parent">github.com/Jequatot/home/tree/master/views/games/ac</a><br/>
			
		</p>
	</body>
</html>
