<!DOCTYPE html >

<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../../content/inner.css">
	</head>
	<body>
		<img id="profile" src="../../content/maps/subsector_map.png" alt="Subsector Map">
		<h1>The Spinward Marches</h1>
		<h2>Fall 2018</h2>
		<p>
			designed for a roleplaying game with my friends<br/>
			the game is called Diaspora, and is a subset of the Fate Roleplaying System<br/>
			"The Spinward Marches" was the name of the campaign setting
		</p>
		<p>
			check it out: <a href="https://jequatot.github.io/diaspora/" target="_parent">jequatot.github.io/diaspora</a><br/>
			view the code: <a href="https://github.com/Jequatot/diaspora" target="_parent">github.com/Jequatot/diaspora</a>
		</p>
	</body>
</html>
