<!DOCTYPE html >

<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../../content/index.css">
	</head>
	<body class="padded">
		<h1>Fate & Fantasy</h1>
		<h2>Summer 2019</h2>
		<p>
			a solo project which allowed the user to make a character for the roleplaying system, Fate & Fantasy, a fusion of Dungeons & Dragons 5e with Fate: Core
		</p>
		<p>
			check it out: <a href="../../fnf.html" target="_parent">jequatot.github.io/home/fnf.html</a>
		</p>
	</body>
</html>
