<!DOCTYPE html >

<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../../content/index.css">
	</head>
	<body class="padded">
		<h1>Earlier Works</h1>
		<p>
			all of these are projects which i either lost or have not been able to upload yet<br/>
			email me for more information
		</p>
		<h2>Console Solitaire</h2>
		<span>Spring 2018</span>
		<p>
			using C++ and Windows' commands for positioning and coloring text in the command console, i made a game of solitaire
		</p>
		<h2>The Legend of Zelda Clone</h2>
		<span>Spring 2017</span>
		<p>
			a project in Unity which attempted to recreate the original The Legend of Zelda, 1986<br/>
			it featured modular custom dungeons, with working swords, monsters, keys, bombs, and arrows<br/>
		</p>
		<h2>VALVe Hammer Editor</h2>
		<span>Pre 2012</span>
		<p>
			i built several complete levels (and even more incomplete ones :3c) for VALVe's PC games Half-Life 2, Portal, and Portal 2<br/>
		</p>
	</body>
</html>
