<html lang="en">
	<head>
		<meta charset="UTF-8">
		<!-- the name of the page -->
		<title>Diaspora</title>
		<!-- link rhw css stylesheet -->
		<link rel="stylesheet" href="css/index.css">
		<script src="css/index.js"></script>

	</head>
	<body>
		<button id="diebutton" onclick="diemenutoggle()">Dice</button>
		<div id="diedropdown">
			<button id="roller" onclick="roll();">Roll!</button>
			<input type="text" id="dieout1"> +
			<input type="text" id="dieout2"> +
			<input type="text" id="dieout3"> +
			<input type="text" id="dieout4"> +
			Modifier:
			<input type="text" id="diemod"> =
			<input type="text" id="dieoutf">
		</div>
		<h1 id="pagetitle"> the spinward marches </h1>
		<div id="inner">
			<section id="sidebar">
				<iframe id="frame" src="pcs.html"></iframe>
			</section>
			<section id="leftbar">
				<p>Home</p>
				<button onclick="gothere('pcs.html')">Player Characters</button>
				<button onclick="gothere('skills.html')">Skills</button>
				<button onclick="changemenu('race')">Races</button>
				<button onclick="changemenu('planet')">Subsector D: Aramis</button>
				<p>Maps</p>
				<button onclick="gothere('ship_map.html')">Harrier Class Cargo Vessel</button>

			</section>
		<!-- section for assignments -->
		</div>
	</body>
</html>
