<!DOCTYPE html >

<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Diaspora</title>
		<link rel="stylesheet" href="css/inner.css">
	</head>
	<body id="texted">
		<h1>Player Aspects</h1>
		<h2>Ivirdine Larch</h2>
		<p>
			Golgothan Captain<br>
			"It's all my fault"<br>
			"We can talk this out"<br>
			"Never give up, never surrender"<br>
			"I need Some Alone Time"<br>
		</p>
		<h2>Rottame</h2>
		<p>
			Greedy Human Junker<br>
			Bad with People<br>
			Jerry Rigger<br>
			Indifferent to Showers<br>
			Extortion is my Guarantee<br>
		</p>
		<h2>Dr. Marcy Stellinov</h2>
		<p>
			The Roving Sawbones<br>
			Unstable Mentality<br>
			Top of my Class!<br>
			"I simply must know more..."<br>
			"I need to see how you burn"<br>
		</p>
		<h2>Luraltis</h2>
		<p>
			Organic Symbiotic Thief<br>
			Disdain for the Inorganic<br>
			Love of all Drinks<br>
			With Body Comes Mind...<br>
			Slow to Anger, Slow to Forgiveness ("Like a shitty elephant")<br>
		</p>
	</body>
</html>