<!DOCTYPE html >

<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Diaspora</title>
		<link rel="stylesheet" href="css/inner.css">
	</head>
	<body id="texted">
	<h1>Skills</h1>
		<p>
			<h2>Stress Track Modifying Skills</h2>
			<p><span>Physique</span> - add a box to the Health stress 
			track per skill level. Corresponds to physical well-being, 
			and is checked when exposed to disease and moving heavy 
			objects</p>
			<p><span>Resolve</span> - add a box to the Composure stress
			track per skill level. Corresponds to dedication to 
			objectives, and is used to defend against mental attacks 
			</p>
			<p><span>Assets</span> - add a box to the Finance stress
			track per skill level. Corresponds to wealth and making 
			purchases </p>
			<h2>Combat Skills</h2>
			<p><span>Brawling</span> - fist, feet, and found weapons
			</p>
			<p><span>Melee</span> - knives, swords, spears, energy 
			swords, etc</p>
			<p><span>Firearms</span> - whether black powder, cordite,
			obscure binary propellants, or any other form of 
			slug-throwing</p>
			<p><span>Energy Weapons</span> - lasers, plasma weapons, 
			lightning guns, or anything else that does harm with 
			energy </p>
			<p><span>Psionics</span> - psychic abilities. a character
			may not have more psychic stunts than levels in this skill 
			(ie a +2 Psionics may have 0. 1. or 2 psychic stunts)</p>
			<h2>Professional Skills</h2>
			<p><span>Brokerage</span> - knowledge of interstellar 
			trade and how to manipulate it</p>
			<p><span>Bureaucracy</span> - facility with handling 
			the people and paperwork associated with government 
			and other institutional processes </p>
			<p><span>Biology</span> - recognize living things and 
			identify their properties, as well as make conclusions 
			about and handle newly discover flora and fauna</p>
			<p><span>Computer</span> - evaluate data, reprogram a 
			device, hack, subvert, destroy, or otherwise manipulate 
			data and data carrying systems </p>
			<p><span>Demolitions</span> - the use of explosives</p>
			<p><span>Driving</span> - operate terrestrial vehicles 
			on land or water</p>
			<p><span>Engineering</span> - keep the ship in space, 
			moving, and at a reasonable temperature;  repair damage 
			to mechanical and electronic systems, excluding software 
			and primitive devices</p>
			<p><span>Medical</span> - low levels reflect basic first 
			aid; advanced levels reflect the skills of a professional
			surgeon or internist.</p>
			<p><span>Navigation</span> - locating that envelope of 
			space where the slipstream can be entered is tricky 
			business, and the Navigator is the one who knows it inside
			out </p>
			<p><span>Piloting</span> - used to influence each turn’s 
			positioning roll. It also might be used outside of that 
			system to resolve an escape scene quickly or to conduct a 
			complicated orbital maneuver</p>
			<p><span>Profession:</span> &ltchoice&gt - players choose a
			profession and can expect to perform any tasks related to 
			that profession using this Skill rank. Examples: Bartender, 
			Butler, Farmer, Naval architect, Blacksmith, Teacher. May 
			be taken more than once </p>
			<p><span>Tactics</span> - pick out key details to use to 
			make advantage </p>
			<h2>Physical Skills</h2>
			<p><span>Agility</span> - how fast, flexible, and dexterous
			a character is. This is added to defense rolls</p>
			<p><span>Athletics</span> - general level of physical 
			fitness; jumping, running, climbing, swimming, etc</p>
			<p><span>EVA</span> - the facility to move and fight in a
			very low gravity environment or in life-support equipment
			</p>
			<p><span>Stealth</span> - sneaking around, and avoiding 
			notice</p>
			<p><span>Survival</span> - survive in the wilderness: 
			building fires, making shelters, surviving hostile 
			environments, etc</p>
			<h2>Mental Skills</h2>
			<p><span>Arts</span> - understanding of the literature,
			history, and fine arts on all worlds for which the 
			character has C/T</p>
			<p><span>Culture/Tech</span> - represents the facility 
			of the character with culture and technology of a given 
			system in the cluster, as well as some general history. 
			Instead of a world, players may also choose C/T proficiency
			in "archaic weaponry" to increase weapon proficiencies. 
			See table above</p>
			<table>
				<tr>
					<th>Skill</th>
					<th>Effect</th>
				</tr>
				<tr>
					<td>+0</td>
					<td>(untrained) you can get by on your home world.</td>
				</tr>
				<tr>
					<td>+1</td>
					<td>you can get by comfortably on your homeworld and 1 additional world in the cluster (specify)</td>
				</tr>
				<tr>
					<td>+2</td>
					<td>you can get by comfortably on your homeworld and 2 additional world in the cluster (specify)</td>
				</tr>
				<tr>
					<td>+3</td>
					<td>you can get by comfortably on your homeworld and 3 additional world in the cluster (specify)</td>
				</tr>
			</table>
			<p><span>Investigate</span> - find things out through 
			concentrated effort and in-depth scrutiny</p>
			<p><span>Notice</span> - a character’s surface observation,
			ability to pick out details, and situational alertness. 
			Determines turn order.</p>
			<p><span>Religion</span> - understanding of the beliefs 
			and rituals on all worlds you have C/T</p>
			<p><span>Science</span> - an understanding of the 
			principles of physics, mathematics, chemistry, and biology
			</p>
			<h2>Social Skills</h2>
			<p><span>Charm</span> - when you need to be persuasive, you
			need to speak to them with that honeyed voice and careful
			elocution that makes them want to love you</p>
			<p><span>Contacts</span> - knowing, making connections with,
			or influencing the reputation of people</p>
			<p><span>Decieve</span> - lying and misdirection</p>
			<p><span>Empathy</span> - knowing and being able to spot 
			changes in a person’s mood or bearing</p>
			<p><span>Languages</span> - works like C/T, with the 
			addition that characters will be familiar with the 
			common language</p>
			<p><span>Provoke</span> - getting someone’s dander up and 
			eliciting negative a emotional response from them—fear, 
			anger, shame, etc. It’s the “being a jerk” skill</p>
			<p><span>Rapport</span> - positive connections to 
			people, your reputation in the area, and how much 
			you're respected</p>

		</p>
	</body>
</html>