<!DOCTYPE html >

<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../../content/index.css">
	</head>
	<body class="padded">
		<h1>FATE ROLLS</h1>
		<p>
			If your damage total equals your Health (excess damage is ignored), you become incapacitated- you fall prone and are disabled.
		</p>
		<p>
			If your damage no longer equals your Health, you are no longer disabled. You may take a turn before the end of the current round, but you are fatigued until the end of the round.
		</p>
		<p>
			At the end of each round, roll a d6 until one of the following happens:
		</p>
		
			<ul><li>When you roll your second 1, you die.</li>
			<li>When you roll your second 6, you heal 1 damage and are fatigued for 1 minute.</li>
			<li>After 9 rounds, you fall unconscious for 1d3 hours, at the end of which you heal 1 damage.</li></ul>
	</body>
</html>
