<!DOCTYPE html >

<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../../content/index.css">
	</head>
	<body class="padded">
		<h1>COMBAT</h1>
		<p>
			Combat is resolved in 10-second units of time, called rounds. A round has three phases: fast turns, slow turns, and the end of round. During each round, creatures who want to take a turn (fast or slow) do so in that phase of the round, in any order the players choose. Once a creature finishes their turn, they cannot take another turn until after the end of that round.
		</p><p>
			Some characters will be able to take additional turns during a round. They will be able to repeat actions they have already take this round if they wish. However, defensive actions such as Dodge, Guard, and Parry can only be done once each per round.
		</p>
		<h3>FAST TURNS</h3>
		<p>
			A creature that takes a fast turn can perform one action.
		</p>
		<h3>SLOW TURNS</h3>
		<p>
			A creature that takes a slow turn can either perform two different actions or perform one slow action. If the first action involves moving, it can use its second action at any point during the movement. With the exception of Use an Item, a creature may not repeat an action during their turn.
		</p>
		<h1>ACTIONS</h1>
		<p>
			You may use actions during a round to perform an activity. Common activities include the following:
		</p>
		<p class="action-list">
			<b>Attack • Cast a Utility Spell • Charge • Distract • Dodge • End An Effect • Feint • Guard • Move • Parry • Prepare • Ready Weapon • Reload • Retreat • Use an Item</b>
		</p>
		<p>
			Additionally, there are four slow actions, which take an entire slow turn to perform:
		<p class="action-list">
			<b>All-Out Attack • Concentrate • Hide • Rush</b>
		</p>
		<p>
			Some actions require you to use a ready weapon, shield, or spellcasting focus. You may only use a ready item for 1 action per turn. For example, if a character uses a shield to Guard, they cannot also use it to attack that turn.
		</p>
		<h3>Attack</h3>
		<p>
			You use a weapon, an attack spell, or something else to harm or hinder another creature or object <span class='span_subtitle'>(See <a href='../combat/attack.html'>Making Attacks</a>)</span>.
		</p>
		<h3>Cast a Spell</h3>
		<p>
			In order to cast a spell, you must have a spellcasting focus ready and expend a casting. Each spell has a number of castings determined by your Power.<br/>You restore all castings when you rest.
		</p>
		<h3>Charge</h3>
		<p>
			You make attack rolls and challenge rolls with 1 bane until the end of round. Move up to your Speed. At any point during your movement, make one melee attack.
		</p>
		<h3>Dodge</h3>
		<p>
			Until the beginning of your next turn, all attack rolls are made against you with banes equal to your Agility, and you make all challenge rolls to resist attacks with the same number of boons. These benefits end if you are prevented from using actions, such as when you become dazed, stunned, or unconscious. You may only Dodge once per round.
		</p>
		<h3>End An Effect</h3>
		<p>
			Choose one effect you created with a spell you cast or a talent you used. The effect ends.
		</p>
		<h3>Guard</h3>
		<p>
			In order to Guard, you must have one or more items ready with the guard property. For 1 round, add your shield's guard bonus to your Defense. These benefits end if you are prevented from using actions, such as when you become dazed, stunned, or unconscious.<br/>You may only Guard once per round.
		</p>
		<h3>Move</h3>
		<p>
			You move up to your Speed in yards. You may perform other actions during this movement. During your move, you can use any special forms of movement available to you such as balancing, climbing, swimming, riding, and so on, typically doing so at half Speed.
		</p>
		<h3>Parry</h3>
		<p>
			In order to Parry, you must have one or more weapons ready with the parry property. For 1 round, add your weapon's parry bonus to your Defense. A creature that misses a melee attack against you this way is left open <span class='span_subtitle'>(See <a href='../combat/afflictions.html'>Afflictions</a>)</span>. These benefits end if you are prevented from using actions, such as when you become dazed, stunned, or unconscious. <br/>You may only Parry once per round.
		</p>
		<h3>Prepare</h3>
		<p>
			You prepare to undertake an activity when a specified event occurs. Choose one activity you would normally use an action to perform, such as attack or retreat. Then, describe what event has to occur for you to undertake it. This is the trigger.
		</p><p>
			If the triggering event occurs before the end of the round, you can use a triggered action to perform the activity. You make any attack roll or challenge roll required by the activity with 1 boon. Otherwise, nothing happens.
		</p>
		<h3>Ready Weapon</h3>
		<p>
			In order to Attack, Guard, Parry, or cast spells, you need a ready weapon, shield, or spellcasting focus. You may hold an off-hand weapon in either hand. You must hold a one-hand weapon in your main hand or both hands. Finally, you must hold two-hand weapons with both hands (shields and magic foci typically count as off-hand weapons). Melee attacks made while holding a one-hand weapon with both hands deal +1 damage.
		</p><p>
			When take the Ready Weapon action, you choose any number of weapons within reach not held by another creature, stow away any weapons you previously had ready, and instead hold the chosen weapons in your hands. For as long as you hold them, they are considered "ready".
		</p><p>
			At the beginning of combat, you typically have items  ready without taking the Ready Weapon action.
		</p>
		<h3>Reload</h3>
		<p>
			Choose a weapon that has the reload property (such as a crossbow) and reload the weapon.
		</p><p>
			You are assumed to have enough ammunition to reload up to five times. After, whenever you attack with that weapon and the total of your roll is 0 or less, you run out of ammunition for that weapon until your next rest.
		</p>
		<h3>Retreat</h3>
		<p>
			You move up to half your Speed. This movement does not trigger free attacks.
		</p>
		<h3>Use an Item</h3>
		<p>
			You interact with an item you are holding or wearing, or with an object you can reach. Examples include picking a lock, retrieving an object from a pouch or a backpack, or lighting a torch. Unlike other actions, you may Use an Item more than once per turn.
		</p>
		<h1>Slow Actions</h1>
		<h3>All-Out Attack</h3>
		<p>
			Your attack gains one of the following bonuses. You then make an attack with 1 bane.
			<ul><li><b>Brutal Strike:</b> You can re-roll either the attack roll or the damage dice and choose which to use. If you re-roll either, you are left open <span class='span_subtitle'>(See <a href='../combat/afflictions.html'>Afflictions</a>)</span>.</li>
			<li><b>Disarming Attack:</b> On a success, the target must succeed on a Strength or Agility challenge roll or drop one object of your choice.</li>
			<li><b>Distant Attack:</b> You can double your reach or range.</li>
			<li><b>Driving Attack:</b> On a success, the target moves a number of yards equal to your Strength away from you. If you are using a melee weapon, you also move this distance in the same direction. Difficult terrain affects this movement normally. If being moved would put a creature into peril, the creature makes an Agility challenge roll, falling prone just before on a success.</li>
			<li><b>Staggering Attack:</b> On a success, the target must succeed on an Agility challenge roll or fall prone.</li></ul>
If you make an All-Out Attack with 2 or more boon, you can exchange 2 boons for 1 additional effect.
		</p>
		<h3>Concentrate</h3>
		<p>
			Some spell effects and talents require you to concentrate to keep them going. If you concentrate on an effect, the effect continues until the end of the next round, up to the maximum amount of time allowed by the spell.
		</p><p>
			When you Concentrate, move up to your speed.
		</p>
		<h3>Hide</h3>
		<p>
			You can attempt to hide when you are not being observed and when you are in a heavily obscured area or have three-quarters cover or better from an object <span class='span_subtitle'>(See <a href='../combat/attacks.html'>Making Attacks</a>)</span>.
		</p><p>
			Make an Agility challenge roll. On a success, you become hidden. You remain hidden until the conditions that let you hide no longer apply or you do something that would reveal your position (such as shouting, making an attack, or casting a spell).
		</p><p>
			While you are hidden, other creatures cannot perceive you. Generally, this means a creature cannot choose you as a target for its attack, though you are still subject to area effects. A creature can guess at your location, making the attack roll with 3 banes. Even with a success, the attack hits you only if the guess was correct.
		</p><p>
			Also, while hidden, you make all attack rolls with 1 boon against the Defense or Agility of targets from which you are hidden.
		</p>
		<h3>Rush</h3>
		<p>
			You move up to three times your speed.
		</p>
	</body>
</html>
