<!DOCTYPE html >

<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../../content/index.css">
	</head>
	<body class="padded">
		<h1>RESTING</h1>
		<p>
			You can benefit from a rest once per 24 hours. A rest is a period of inactivity that lasts about 8 hours. During this time, you can sleep, meditate, read, eat and drink, or perform other non-strenuous tasks. When you complete the rest, you heal damage equal to your healing rate.
		</p>
		<p>
			You can extend the period of rest to a full 24 hours. At the end of this time, you heal damage equal to twice your healing rate instead, as well as 1 insanity. 
		</p>
	</body>
</html>
