<!DOCTYPE html >

<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../content/index.css">
	</head>
	<body class="padded">
		<img id="profile" src="../content/ikseira-2.png" alt="archipelago">
		<h1>The Archipelago Ikseira</h1>
		<h3>The 200-Year War</h3>
		<p>
			Today, in the year 796, the archipelago is rebuilding. For the past two centuries, the empire of old has been torn apart by civil war. The drakken, descendants of the dragon-worshippers of old, suddenly acquired a seemingly endless supply of iron, and with a shower of blades fought for their independence. Their conflict against the imperial mages scarred the land irrevocably. The war ended only 5 years ago with the Endless Night- a dark ritual that blackened the sky and sea, killed the fish, and cracked the earth. After a month of terror, the sky returned to normal, and the earth stopped shaking, but the Imperial City and her emperor had been swallowed.
		</p>
		<p>
			Reconstruction has been a slow process. The fish never returned, and villages that relied on the are starving. The farmland has also given harsher yield these past years. The empire has shattered, its leadership divided. The drakken faction has clambered to a bloody iron power.
		</p>
		<h3>The Church of Illune</h3>
		<p>
			You have been recruited by the Church of Illune. They act as a neutral party, whose respected clerics are working and recruiting tirelessly to aid villages in need. They are especially good at this for the boon Illune grants her servants: the Doors of Illune.
		</p>
		<p>
			Inside the moon, under Illune's domain, weave a complex labyrinth of stairwells and pathways, infinite and unnavigable for all but the Clerics of Illune. This labyrith has doors leading to places all over Ikseira, openable only with Illune's blessing. The clerics of Illune will guide anyone in need through the passageways if Illune allows. Anyone travelling these paths without her blessing will surely be lost.
		</p>
		<h3>You</h3>
		<p>
			You might have chosen, or have been chosen, to join for one or more of the following reasons:
		</p>
		<ul>
				<li>I want to help those in need, and the church does so as an organized medium.</li>
				<li>Through my apprenticeship, I will serve the Lunar Goddess Illune.</li>
				<li>This is an opportunity to learn a trade, martial skills, or sorcery. Government collapse makes jobs hard to find.</li>
				<li>They were offering free room & board. Government collapse makes food and shelter hard to find.</li>
				<li>I want to see the world, and who better to travel with than the Goddess of Gates.</li>
				<li>I have a personal vendetta against the demons and the followers of Illune are doing more than anyone to find and destroy them.</li>
	</body>
</html>
