<!DOCTYPE html >

<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../../content/index.css">
	</head>
	<body class="padded">
		<h1>ARTIFICER</h1>
		<img id="profile" src="../../content/paths/artificer.png" alt="Artificer">
		<p>
			Artificers push against the boundaries of magical research
by merging science and magic into something new. Most
artificers begin their careers as magicians or engineers, though
anyone with a penchant for making mechanical wonders
might pursue this path. Artificers learn to use their magic to
piece together bits of gear to create useful devices, from armor
to weapons, bombs to simple tools. Eventually, they can imbue
spells in these devices to create even more powerful gear.
		</p>
		<h3>LEVEL 3 ARTIFICER</h3>
		<p>
			<b>Attributes</b> Increase two by 1<br/>
			<b>Characteristics</b> Health +2, Power +1<br/>
			<b>Languages and Professions</b> Add one Academic Profession and one Common or Artisan Profession.<br/>
			<b>Magic</b> You discover a tradition or learn one spell.
		</p>
		<p>
			<b>Artificer's Bag</b> You have a bag filled with spare parts worth sp equal to twice your level. The parts are worthless to anyone other than you or another artificer.
		</p>
		<p>
			Concentrate using the bag for 1 minute to produce a suit of armor, a weapon, ammunition, or an engineering item by spending parts from the bag with a value equal to the item’s price. You can also spend 3sp to create a <b>compelled small construct</b> <span class='span_subtitle'>(see below)</span> which can follow simple orders but cannot make attacks.
		</p>
		<p>
			Objects you create remain until you complete a rest, at which point it collapses into spare parts once more and you replenish the parts in your Artificer’s Bag, up to your normal maximum value in sp. If you lose your Artificer’s Bag, you can create a replacement. It costs a number of sp equal to your level. You can have only one Artificer’s Bag at a time.
		</p>
		<h3>LEVEL 6 ARTIFICER</h3>
		<p>
			<b>Characteristics</b> Health +2<br/>
			<b>Magic</b> You discover a tradition or learn one spell.
		</p>
		<p>
			<b>Store Spell</b> You can use an action to touch one object or construct you created from your Artificer’s Bag. If you concentrate for 1 minute, during which time you must maintain contact with the target, you can expend the casting of a spell and imbue the casting of that spell into the target. The casting remains in the target until you complete a rest or until it is expended. Any creature holding the target can use an action to expend the casting from the target and cast the spell, regardless of the creature’s Power.
		</p>
		<p>
			If you target a Mechanical Servant with Store Spell, you can use an action to command the construct from medium range to cast the spell.
		</p>
		<p>
			<b>Improved Servants</b> When you create a Mechanical Servant, you can choose any number of the following features, spending 3sp from your Artificer's Bag for each.
		</p>
		<ul>
			<li><b>Flier:</b> Grant the construct the Flier trait.</li>
			<li><b>Sturdy:</b> The construct's defense is increased to 8 and its health is increased to 13.</li>
			<li><b>Appendage:</b> The construct can make attacks. You grant the construct an appendage, a +3 melee weapon that deals 1d6 damage. The constructs difficulty is increased to 5.</li>
		</ul>
		<h3>LEVEL 9 MASTER ARTIFICER</h3>
		<p>
			<b>Characteristics</b> Health +2, Power +1<br/>
			<b>Magic</b> You discover a tradition or learn one spell.
		</p>
		<p>
			<b>Clockwork Army</b> You can use an action to create any number of Mechanical Servants. Mechanical Servants you create only cost 1sp and always have the Appendage and Sturdy features. The Flier feature cost is reduced to 1sp.
		</p>
		<h3>MECHANICAL SERVANT - DIFFICULTY 1</h3>
		<h2>Size 1/2 or smaller construct</h2>
		<p>
			<b>Perception</b> 5 (-5); darksight<br/>
			<b>Defense</b> 5; <b>Health</b> 1<br/>
			<b>Strength</b> 10 (+0), <b>Agility</b> 10 (+0), <b>Intellect</b> 5 (–5), <b>Will</b> 5 (-5)<br/>
			<b>Speed</b> 10<br/>
			<b>Immune</b> damage from disease or poison; gaining Insanity; asleep, charmed, diseased, fatigued, frightened, poisoned<br/>
			<b>Compelled</b> This creature can only take fast turns, and is controlled by the creature that compelled it.
		</p>
	</body>
</html>
