<!DOCTYPE html >

<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../../content/index.css">
	</head>
	<body class="padded">
		<h1>BERSERKER</h1>
		<img id="profile" src="../../content/paths/berserker.png" alt="Berserker">
		<p>
A vital energy for those in the thick of battle, anger enables a
combatant to push through extreme pain and injury in order
to return it twofold to those who dealt it. For berserkers,
anger is more than just an emotion: it is a living thing always
raging within them, desperate to be unleashed, always
rattling the cage of self-control containing it. So when a
berserker’s temper slips—even by a little—all the rage,
hatred, and frustration boils out to transform the warrior into
a wild killer, a bloodthirsty brute seeking nothing but the
utter destruction of any foe who dares to stand before them.
		</p>
		<p>
The transformative power of a berserker’s rage might come
from a variety of sources. Many are simply unbalanced,
having witnessed so many awful things that they now snap
under the pressure. Some have divine or supernatural causes
for their anger; for example, dwarf berserkers believe they
are taken over by one of their ancestor spirits. Others might
be haunted by spirits or, worse, demons, and when they
surrender to their anger, the entity haunting or possessing
them takes over.
		</p>
		<h3>LEVEL 3 BERSERKER</h3>
		<p>
			<b>Attributes</b> Increase two by 1<br/>
			<b>Characteristics</b> Health +6
		</p>
		<p>
			<b>Berserk</b> If you are not fatigued when you take damage, you can choose to go berserk. If you go berserk, you gain all of the following benefits and drawbacks for 1 minute or until you become unconscious.
		</p>
		<ul>
			<li>You gain a +10 bonus to Health.</li>
			<li>You cannot be charmed, compelled, or frightened.</li>
			<li>You make attack rolls with 1 bane.</li>
			<li>You attacks with weapons deal 2d6 extra damage.</li>
			<li>You must take a fast turn whenever possible, and use an action on each of your turns to attack, relying on a charge if necessary.</li>
		</ul>
		<p>
			When your stop being berserk, you become fatigued for 1 minute and you must get a success on a Will challenge roll or gain 1 Insanity.
		</p>
		<p>
			<b>Fury Unleashed</b> If gaining Insanity would cause you to go mad, you go berserk instead, even if you are fatigued. While you are berserk in this way, the GM controls your character. At the end of each round, the GM rolls a d6. On a 5 or higher, you stop being berserk and reduce your Insanity total by 1d6 + your Will modifier (minimum 0). You then become fatigued for 1 minute. If you were already fatigued, you instead take 1d6 damage.
		</p>
		<p>
			<b>Iron Hide</b> You have a +1 bonus to Defense if you are not wearing medium or heavy armor.
		</p>
		<h3>LEVEL 6 BERSERKER</h3>
		<p>
			<b>Characteristics</b> Health +6
		</p>
		<p>
			<b>Ferocious Wrath</b> While you are berserk, you have a +2 bonus to Speed and you make attack rolls against frightened targets with 1 boon.
		</p>
		<p>
			<b>Frightful Wrath</b>  When you go berserk, each creature within short range who is not a member of your group must get a success on a Will challenge roll or become frightened for 1 round.
		</p>
		<h3>LEVEL 9 MASTER BERSERKER</h3>
		<p>
			<b>Characteristics</b> Health +6
		</p>
		<p>
			<b>Reckless Strike</b> When you attack with a melee weapon, you can choose to make the attack roll with 1 bane to deal 2d6 extra damage on a success.
		</p>
	</body>
</html>
