<!DOCTYPE html >

<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../../content/index.css">
	</head>
	<body class="padded">
		<h1>CLERIC</h1>
		<img id="profile" src="../../content/paths/cleric.png" alt="Cleric">
		<p>
			Clerics champion the gods’ interests in the mortal world,
and through them mortals speak to the divine. Clerics wear
or wield their deities’ symbols to represent their service and
to channel magic from their immortal patrons into their
spells. Although some believe the quality of the symbol
matters, such that symbols made from silver are somehow
superior to those carved from wood, it is ever the faith of
the bearer and not the material that is important.
		</p>
		<p>
Of all the religions in the Empire and beyond, the Cult
of the New God is most likely to produce clerics. Among
members of the religion, clerics are leaders of the faith,
keepers of the ancient scriptures, and preachers of the
prophet’s teachings. These clerics can be more militant
than other priests, donning armor and carrying swords,
shields, and other weapons of war. They also attach
parchment scrolls to their armor that bear sacred writings
and prayers to keep themselves safe in the eternal fight
against the darkness of the Demon Lords.
		</p>
		<p>
Other religions produce clerics too. To the north,
for example, clerics speak with the voice of Suthr, the hoary god of the giant-blooded jotun from
whom the orcs were made. Only the Old Faith has yet to
produce clerics since
the followers of
that ancient
religion walk
a different
path.
		</p>
		<h3>LEVEL 3 CLERIC</h3>
		<p>
			<b>Attributes</b> Increase two by 1<br/>
			<b>Characteristics</b> Health +4, Power +1<br/>
			<b>Languages and Professions</b> Add one Academic or Religious Profession. <br/>
			<b>Magic</b> Make two choices. For each choice, discover a tradition associated with your Oath (as described in the Priest novice path), or learn one spell.
		</p>
		<p>
			<b>Conviction</b> You make Will challenge rolls with 1 boon when you roll to resist the effects of the frightening and horrifying traits.
		</p>
		<p>
			<b>Icon of Faith</b> Choose one tradition that you have already discovered and is associated with your oath. When you cast an attack spell from that tradition while you’re wielding or wearing a holy symbol, you make the attack roll with 1 boon and creatures rolling to resist the attack make their challenge rolls with 1 bane.
		</p>
		<h3>LEVEL 6 CLERIC</h3>
		<p>
			<b>Characteristics</b> Health +4<br/>
			<b>Magic</b> You learn one spell.
		</p>
		<p>
			<b>Empowered Symbol</b> When you cast a spell from the tradition you chose for Icon of Faith that deals damage or heals damage, the spell deals or heals 1d6 extra damage.
		</p>
		<h3>LEVEL 9 MASTER CLERIC</h3>
		<p>
			<b>Characteristics</b> Health +4, Power +1<br/>
			<b>Magic</b> You learn one spell.
		</p>
		<p>
			<b>Divine Power</b> The benefits from Icon of Faith apply to any attack spell you cast from a tradition associated with your oath.
		</p>
	</body>
</html>
