<!DOCTYPE html >

<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../../content/index.css">
	</head>
	<body class="padded">
		<h1>FIGHTER</h1>
		<img id="profile" src="../../content/paths/fighter.png" alt="Fighter">
		<p>
			Some of the greatest warriors to ever walk the world were
fighters. Unmatched when it comes to combat training,
fighters display incredible excellence at arms, and the
tenacity to withstand the worst battle conditions. From
hard-bitten mercenaries to keen-eyed archers, they include
any who devote time and training to the mastery of arms
and armor.
		</p>
		<p>
Fighters demonstrate their combat prowess with any
weapon they wield, but most favor certain styles over
others. Some fighters prefer to hang back and loose missile
after missile into their foes, while others roar and leap into
the thick of battle, methodically swinging axe and sword
upon their foes, as ribbons of blood and severed limbs fling
about into the air. 
		</p>
		<h3>LEVEL 3 FIGHTER</h3>
		<p>
			<b>Attributes</b> Increase two by 1<br/>
			<b>Characteristics</b> Health +5<br/>
			<b>Languages and Professions</b> Add two professions.
		</p>
		<p>
			<b>Fight with Anything</b> If you attack with a weapon or improvised weapon whose damage die is less than 1d6, you treat the damage die as 1d6. In addition, when you attack with a weapon or improvised weapon, you make the attack roll with 1 boon. Finally, your Strength counts as 2 higher for the purpose of meeting armor and weapon requirements.
		</p>
		<p>
			<b>Fighter Talent</b> Choose one fighter talent from the ones described below.
		</p>
		<h3>LEVEL 6 FIGHTER</h3>
		<p>
			<b>Characteristics</b> Health +5
		</p>
		<p>
			<b>Durable</b> When you would heal damage equal to your healing rate, your healing rate equals your Health divided by 3.
		</p>
		<p>
			<b>Fighter Talent</b> Choose one fighter talent from the ones described below.
		</p>
		<h3>LEVEL 9 MASTER FIGHTER</h3>
		<p>
			<b>Characteristics</b> Defense +1, Health +5
		</p>
		<p>
			<b>Fighter's Resolve</b> You make challenge rolls to resist attacks with 1 boon.
		</p>
		<p>
			<b>Weapon Mastery</b> When you make an attack roll with a weapon and the number on the d20 is 9 or less, you can reroll the d20. You must use the second number rolled, even if it is 9 or less.
		</p>
		<h3>FIGHTER TALENTS</h3>
		<ul>
			<li><b>Brawler</b> You can parry and guard with your fists or other natural weapons. Whenever you do so, you get a bonus to your defense equal to your Agility.</li>
			<li><b>Fight with Two Weapons</b> When you attack with two weapons, you reduce the number of banes from the attack by 2.</li>
			<li><b>Haft Attack</b> When you attack with a polearm or a staff, you can use a triggered action to attack with the other end of the weapon. Make the attack roll with 1 bane and the attack deals 1d6 damage.</li>
			<li><b>Powerful Attack</b> When you attack with a slow weapon, you can make the attack roll with 1 bane to deal 2d6 extra damage.</li>
			<li><b>Precise Attack</b> When you attack with an Agility weapon, you can make the attack roll against the target’s Agility instead of its Defense.</li>
			<li><b>Shield Bash</b> When you get a success on an attack roll made using a shield, you bash the target and make attack rolls against the same target with 2 boons until the end of the next round.</li>
			<li><b>Swift Reload</b> You can use a triggered action on your turn to reload a weapon that has the reload property.</li>
			<li><b>Swift Shot</b> When you make an attack with a ranged weapon that does not have a reload property, you can use a triggered action to attack with the same weapon. You make the second attack roll with 1 bane.</li>
		</ul>
	</body>
</html>
