<!DOCTYPE html >

<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../../content/index.css">
	</head>
	<body class="padded">
		<h1>SCOUT</h1>
		<img id="profile" src="../../content/paths/scout.png" alt="Scout">
		<p>
			Scouts possess a number of talents to help them sneak
ahead, gather crucial information, and slip away without
risk of being detected. In groups, they shoulder the burden
of ranging ahead alone, moving from shadow to shadow,
hardly making a sound, as they venture into unknown
dangers to find out what lies in wait. As dangerous as their
methods can be, scouts rely on their keen senses and good
instincts to anticipate trouble before it comes calling.
Should they find themselves in a tough spot, they can
usually slip away to get help in dealing with the danger
they uncovered.
		</p>
		<p>
Skills, cunning, and luck enable scouts to do what they
do and thus many scouts begin their training as rogues.
The tricks and talents they gain as rogues serve them well
when slipping off to chart a course ahead. Many warriors
find the scout’s path appealing since it lets them diversify
their talents beyond trading blows on the battlefield, and
they have the toughness to take a few hits if the situation
goes wrong. Priests of the Old Faith might follow this path
because the talents are useful for protecting their territory
and monitoring its borders for enemy movement.
		</p>
		<h3>LEVEL 3 SCOUT</h3>
		<p>
			<b>Attributes</b> Increase two by 1<br/>
			<b>Characteristics</b> Health +3, Perception +1, Speed +2<br/>
			<b>Languages and Professions</b> Add two Common or Wild Professions.
		</p>
		<p>
			<b>Alertness</b> You make Perception rolls with 1 boon. In addition, you cannot be surprised while you are conscious.
		</p>
		<p>
			<b>Forward Observer</b> When you make a challenge roll to hide or sneak and you are farther away than short range from other members of your group, you make the roll with 1 boon.
		</p>
		<p>
			<b>Quick Reflexes</b> You can use a triggered action on your turn to hide or retreat.
		</p>
		<p>
			<b>Trackless</b> When you move across solid ground, you leave tracks only if you choose to.
		</p>
		<h3>LEVEL 6 SCOUT</h3>
		<p>
			<b>Characteristics</b> Health +3
		</p>
		<p>
			<b>Reveal Weakness</b> You can use an action or a triggered action on your turn to choose one target creature within your reach. For 1 round, each member of your group that attacks the target makes the attack roll with 1 boon.
		</p>
		<h3>LEVEL 9 MASTER SCOUT</h3>
		<p>
			<b>Characteristics</b> Health +3
		</p>
		<p>
			<b>Low Blow</b> When the target of your Reveal Weakness talent takes damage, you can use a triggered action to attack the target.
		</p>
	</body>
</html>
