<!DOCTYPE html >

<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../../content/index.css">
	</head>
	<body class="padded">
		<h1>WARDSCRIBE</h1>
		<img id="profile" src="../../content/paths/wardscribe.png" alt="Wardscribe">
		<p>
			From the traditions of old was born a new method of using magic, one that imbues magical energy into sigils and glyphs to make them produce a specific magical effect when activated. The Banker’s Guild in Oeda sponsored the development of wardscribing centuries ago and, until recently, restricted knowledge of the art to those admitted to the Academy of Magic, an institution created by the Vault for the purposes of protecting its interests and creating a cabal of magicians loyal to the powerful financial institution. No matter how guarded a secret might be, however, knowledge has a way of leaking into the world.
		</p>
		<p>
			Even though the techniques are fairly widely known, few individuals make the effort to master them, because wardscribing involves considerable study and practice before one can flawlessly illustrate the sigils. One error, even the most minor one, can thwart the ability of the sign to hold the magic that brings to life the desired effect. For this reason, the people who know the craft are in high demand for their specialized capabilities.
		</p>
		<p>
			Most who come to wardscribing already have some talent for magic, either from formal training or an inborn gift. Magicians are the most likely to pursue this path, though some rogues might also take it up. Rogues who become wardscribes might learn the techniques to cover a retreat or as a way to get a better sense of the wards they might face. Warriors too could become wardscribes, especially those who value protection and defense more than offense and assault. Such warriors who become wardscribes began their careers as temple guardians, defenders of powerful magicians, or students of esoteric knowledge.
		</p>
		<h3>LEVEL 3 WARDSCRIBE</h3>
		<p>
			<b>Attributes</b> Increase two by 1<br/>
			<b>Characteristics</b> Health +2, Power +1<br/>
			<b>Languages and Professions</b> You read all the languages you know how to speak.<br/>
			<b>Magic</b> You discover a tradition or learn one spell.
		</p>
		<p>
			<b>Learn Sigil</b> You learn a basic sigil when you gain this trait and another sigil every time your level increases.
		</p>
		<p>
			<b>Draw Sigil</b> Choose one sigil you know. You spend 1 minute using a stylus or writing kit to inscribe the sigil on a surface within reach at least 1 yard in area. When you finish, expend the casting of one spell to imbue it with power. You can give a name or descriptor of creatures to be excluded from triggering it's effect.
		</p>
		<p>
			A sigil is triggered when a creature other than you that is not excluded from the sigil’s effect moves to a space within 1 yard of it. If you are within short range of the sigil, you can use a triggered action at any time to trigger the sigil instead. Once a sigil is triggered, you resolve the sigil’s effects immediately.
		</p>
		<p>
			The sigil remains imbued until something damages its appearance, the sigil is triggered, or the magic fades away after a period of time determined by the rank of the spell imbued into it.
		</p>
		<ul>
			<li>Rank 0: 1 minute</li>
			<li>Rank 1: 10 minutes</li>
			<li>Rank 2: 1 hour</li>
			<li>Rank 3: 4 hours</li>
			<li>Rank 4: 8 hours</li>
			<li>Rank 5: 24 hours</li>
		</ul>
		<h3>LEVEL 6 WARDSCRIBE</h3>
		<p>
			<b>Characteristics</b> Health +2<br/>
			<b>Magic</b> You discover a tradition or learn one spell.
		</p>
		<p>
			<b>Decipher</b> If you spend at least 1 minute studying text written in a language you cannot read, you can make an Intellect challenge roll. On a success, you learn enough to get the gist of what the writing says. Each use of this talent allows you to examine up to 200 words of text.
		</p>
		<p>
			<b>Learn Advanced Sigil</b> When you would learn a sigil, you can choose to learn an advanced sigil.
		</p>
		<h3>LEVEL 9 MASTER WARDSCRIBE</h3>
		<p>
			<b>Characteristics</b> Health +2, Power +1<br/>
			<b>Magic</b> You discover a tradition or learn one spell.
		</p>
		<p>
			<b>Hasten Sigil</b> You can draw a sigil as a slow action.
		</p>
		<p>
			<b>Learn Master Sigil</b> When you would learn a sigil, you can choose to learn a master sigil.
		</p>
		<h3>BASIC SIGILS</h3>
		<p>
			<b>Alarum</b> A loud ringing sounds from the sigil and continues for the sigil’s duration. Creatures within 10 yards of the sigil are deafened for as long as they remain there. The noise can be heard from up to 1 mile away.
		</p>
		<p>
			<b>Arcanum</b> When this sigil is drawn, you expend an additional casting of a spell, storing it in the sigil. The stored spell must have affect a target or area, and must be Rank 3 or lower. When this sigil is triggered, the stored spell is cast. If the stored spell has an area, the area is centered on the nearest triggering creature. If the stored spell has multiple targets, it targets as many triggering creatures as possible starting with the nearer creatures. If the spell requires concentration, it lasts for its full duration.
		</p>
		<p>
			<b>Dazzle</b> When this sigil is triggered, it glows with intense light that lasts for the sigil’s duration. When the light first shines, each sighted creature within 5 yards of the sigil must get a success on an Agility challenge roll with 1 bane or become blinded for 1 round.
		</p>
		<p>
			<b>Flame</b> When this sigil is triggered, roaring flames rush out from it to spread through a 5-yard-radius sphere and then dissipate; the magic of the sigil is spent immediately. The flames deal 3d6 damage to everything in the area, igniting combustibles. A creature in the area can make an Agility challenge roll and takes half the damage on a success.
		</p>
		<p>
			<b>Protection</b> Shimmering glyphs appear on and orbit around the leading edge of a 5-yard-radius sphere centered on the sigil for the sigil’s duration. The glyphs impose 1 bane on attack rolls made by creatures outside the area against targets inside it and grant 1 boon on challenge rolls made by creatures inside the area to resist attacks from outside it.
		</p>
		<h3>ADVANCED SIGILS</h3>
		<p>
			<b>Compulsion</b> A bright flash of golden light spreads through a 5-yard-radius sphere centered on the sigil and then dissipates. Each creature in the area must make an Intellect challenge roll with 1 bane. On a failure, a creature becomes compelled for 1 minute and gains 1 Insanity.
		</p>
		<p>
			<b>Sentinel</b> The glyphs write themselves upon the eyes of the targets. For the duration, the targets make Perception challege rolls with 1 boon and cannot be charmed, frightened, surprised, or put to sleep by magic.
		</p>
		<p>
			<b>Lethargy</b> A soft blue light spreads through a 5-yard-radius sphere centered on the sigil and then dissipates. Each creature in the area must make a Will challenge roll. A creature becomes fatigued for 1 round on a success, or becomes slowed for the duration on a failure. While slowed in this way, the creature is also fatigued. If the target is already slowed, it instead falls asleep for 1 hour.
		</p>
		<p>
			<b>Terror</b> A howling noise spreads through a 5-yard radius sphere centered on the sigil and then dissipates. Each creature in the area must make a Will challenge roll with 1 bane. On a failure, a creature gains 1d6 Insanity and, as a result of gaining this Insanity, the creature becomes frightened for a number of minutes equal to twice its Insanity total. While frightened in this way, the creature must move away from the sigil on each of its turns.
		</p>
		<p>
			<b>Transmutation</b> For the duration, the surface upon which the sigil is drawn transforms into a different material without changing its size or shape, up to 5-yards in area. For example, you could turn a sturdy iron door into a fragile glass door, or a bouyant wooden raft into a sinking stone raft. 
		</p>
		<h3>MASTER SIGILS</h3>
		<p>
			<b>Exile</b> Each creature in the area must succeed an Intellect challenge roll or be sequestered in a pocket dimension for the duration. While in this pocket dimension, they perceive nothing of the world they left, but are still aware of the passage of time. A returning creature must succeed a Will challenge roll or suffer 1d3 insanity.
		</p>
		<p>
			<b>Gibbering</b> Mad laughter fills a 5-yard-radius sphere centered on the sigil and then dissipates. Each creature in the area must get a success on a Will challenge roll with 1 bane or gain Insanity equal to its Will score. If a creature goes mad as a result of gaining Insanity in this way, the creature rolls twice on the Madness table and you choose the result.
		</p>
		<p>
			<b>Lightning</b> Lightning arcs from the sigil. Creatures in the area must make an Agility challenge roll. On a failure, they take 5d6 damage and are dazed for 1 round. On a failure, they take half damage.
		</p>
		<p>
			<b>Transit</b> The air inside a 5-yard-radius sphere centered on the sigil wavers for 1 minute. All creatures in the area when the sigil is triggered or that enter it before the effect ends are teleported up to 6 miles in a direction you choose.
		</p>
		<p>
			<b>Truth</b> You perceive the target as it truly is. Make an Intellect challenge roll. On a success, you know the creature's true form, and its intentions toward you. In addition, you learn one true thing about the target. The GM decides the nature of the true thing, possibly revealing some special action, vulnerability, or an important detail about the target's personality, desires, goals, or history.
		</p>
	</body>
</html>
