<!DOCTYPE html >

<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../../content/index.css">
	</head>
	<body class="padded">
		<h1>MAGICIAN</h1>
		<img id="profile" src="../../content/paths/magician.png" alt="Magician">
		<p>
			Magicians strive to reach the heights of magical power. If they follow this journey to its end, choosing paths to complement what they have learned, they join the most powerful users of magic in the world.
		</p>
		<p>
			Hopeful magicians must first discover a tradition of magic to begin learning spells. Discovery can be accidental, resulting from being affected by a spell, stumbling into an area steeped in magical energy, or finding power within oneself. Discovery can also be taught. Ancient institutions of magic, wizards, clerics, and others reveal traditions to promising students.
		</p>
		<p>
			Upon discovering a tradition, the magician learns the most basic spells from it. All this prepares magicians for the process of learning greater and more powerful spells.
		</p>
		<p>
			Since magicians freely choose their traditions, they display a range of capabilities. Some favor destructive magic, learning spells that let them harness elemental forces of wind, rain, fire, and earth. Others prefer subtler magic, favoring charms to manipulate the minds of others or illusions to deceive and conceal. Magicians can also be healers, removing afflictions and providing courage, or conjurers, loosing monsters to fight on their behalf, or engineers, creating servants and machines from spare parts they pick up along the way.
		</p>
		<p>
			The possibilities magic offers also present many perils. More than one magician has succumbed to dark magic’s temptations, dabbling into the arts of Forbidden, Necromancy, or worse traditions. Such magic almost always corrupts the magician, but those seeking its power rarely care.
		</p>
		<h3>LEVEL 1 MAGICIAN</h3>
		<p>
			<b>Attributes</b> Increase two by 1<br/>
			<b>Characteristics</b> Health +2, Power +1<br/>
			<b>Languages and Professions</b> You read all the languages you speak. In addition, add one Academic Profession.<br/>
			<b>Magic</b> You discover one tradition. Then, make three choices. For each choice, you either discover another tradition or learn a spell from a tradition you have discovered. <span class='span_subtitle'>See <a href='../spells/overview.html'>Spellcasting</a> for more information</span>
		</p>
		<p>
			<b>Cantrip</b> Whenever you discover a tradition, you learn an extra rank 0 spell from that tradition.
		</p>
		<p>
			<b>Self Control</b> You can use a triggered action to end one effect you created with a spell.
		</p>
		<p>
			<b>Sense Magic</b> You can use an action and expend a casting of a rank 0 spell to detect ongoing magical effects in a 5-yard radius of you. You know if the magic is of a tradition you have discovered, and if the magic is of a higher rank than you could cast.
		</p>
		<h3>LEVEL 2 MAGICIAN</h3>
		<p>
			<b>Characteristics</b> Health +2<br/>
			<b>Magic</b> Make two choices. For each choice, you either discover a new tradition or learn a spell from a tradition you have discovered.
		</p>
		<p>
			<b>Spell Recovery</b> You can use an action to heal damage equal to your healing rate and regain one casting of a spell you learned. Once you use this talent, you cannot use it again until after you complete a rest.
		</p>
		<h3>LEVEL 5 EXPERT MAGICIAN</h3>
		<p>
			<b>Characteristics</b> Health +2, Power +1<br/>
			<b>Magic</b> You discover a tradition or learn one spell.
		</p>
		<p>
			<b>Counterspell</b>  When a creature you can see attacks you with a spell, you can use a triggered action to counter it. The triggering creature makes the attack roll with 1 bane and you make the challenge roll to resist it with 1 boon.
		</p>
		<h3>LEVEL 8 MASTER MAGICIAN</h3>
		<p>
			<b>Characteristics</b> Health +2<br/>
			<b>Magic</b> You discover a tradition or learn one spell.
		</p>
		<p>
			<b>Improved Spell Recovery</b> Spell Recovery regains two castings instead of one.
		</p>
	</body>
</html>
