<!DOCTYPE html >

<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../../content/index.css">
	</head>
	<body class="padded">
		<h1>ABJURER</h1>
		<p>
			Abjurers strive to master Protection magic. Such a focus on defensive spells might result from deep-seated paranoia or bitterness over a previous violation. Most who become abjurers are naturally suspicious and discover their deeper understanding of the tradition breeds in them even greater distrust. Many abjurers go to great lengths to protect themselves. They might conceal their appearances, erase their histories, adopt different personas, or simply keep to themselves.
		</p>
		<h3>LEVEL 7 ABJURER</h3>
		<p>
			<b>Attributes</b> Increase three by 1<br/>
			<b>Characteristics</b> Health +2, Power +1<br/>
			<b>Languages and Professions</b> Add one profession.<br/>
			<b>Magic</b> You discover the Protection tradition or learn one Protection spell.
		</p>
		<p>
			<b>Guarded Casting</b> When you cast a Protection spell, you gain a bonus to your Defense equal to 1 + the rank of the spell for 1 minute or until you use this talent again.
		</p>
		<h3>LEVEL 10 ABJURER</h3>
		<p>
			<b>Characteristics</b> Health +2<br/>
			<b>Magic</b> You learn one spell.
		</p>
		<p>
			<b>Warded</b> Creatures make attack rolls against you with 1 bane and you make challenge rolls with 1 boon to resist attacks.
		</p>
		<h1>AEROMANCER</h1>
		<p>
			Aeromancers strengthen the bond they forge with wind genies to coax even greater power from the beings. A consequence of their increased connection is the restlessness in the air around them. Their clothes and hair are never still. A breeze always stirs the dust around them, scattering unsecured papers and causing unprotected flames to flicker and dance.
		</p>
		<h3>LEVEL 7 AEROMANCER</h3>
		<p>
			<b>Attributes</b> Increase three by 1<br/>
			<b>Characteristics</b> Health +2, Speed +2, Power +1<br/>
			<b>Languages and Professions</b> Add one profession.<br/>
			<b>Magic</b> You discover the Air tradition or learn one Air spell.
		</p>
		<p>
			<b>Air Walk</b> Whenever you cast an Air spell, after resolving its effect you can fly a number of yards equal to 1 + the rank of the spell. You land safely at the end of this movement.
		</p>
		<h3>LEVEL 10 AEROMANCER</h3>
		<p>
			<b>Characteristics</b> Health +2<br/>
			<b>Magic</b> You learn one spell.
		</p>
		<p>
			<b>Flight</b> You can fly.
		</p>
		<h1>ALCHEMIST</h1>
		<p>
			Many study Alchemy, learning the secrets of substances to create potent concoctions, potions, and other strange, materials, but true alchemists stand apart thanks to their discovery of the deeper mysteries of the occult art. As proof of their superior alchemical training, alchemists keep company with the tiny servants they fashion from a bit of clay and their own blood. These homunculi are the ultimate helpers, since they know all their creators know. 
		</p>
		<h3>LEVEL 7 ALCHEMIST</h3>
		<p>
			<b>Attributes</b> Increase three by 1<br/>
			<b>Characteristics</b> Health +2, Power +1<br/>
			<b>Languages and Professions</b> Add one profession.<br/>
			<b>Magic</b> You discover the Alchemy tradition or learn one Alchemy spell.
		</p>
		<p>
			<b>Homunculus</b> You fashion a homunculus, a tiny humanoid figure made from clay and a drop of your blood. You give it, the semblance of life by breathing into its mouth. The homunculus is your loyal servant and companion. It has all your characteristics, professions, knows all the languages you know, and is immune to poison and disease. The homunculus obeys your commands and is under your control. When you cast a spell, you can cast it from the homunculus, provided it is within medium range of you. When you are affected by a spell, you can also affect the homunculus, provided it is within medium range of you. If you become incapacitated, the homunculus remains under your control and you decide what it does on each of its turns. The homunculus dies when it becomes incapacitated. You can create a replacement by working with an alchemist’s kit for 8 hours and expending rare ingredients worth 1 gc. You can have only one homunculus at a time.
		</p>
		<h3>LEVEL 10 ALCHEMIST</h3>
		<p>
			<b>Characteristics</b> Health +2<br/>
			<b>Magic</b> You learn one spell.
		</p>
		<p>
			<b>Master Alchemist</b> When you attack with an Alchemy spell or alchemical item, you make the attack roll with 1 boon and creatures make challenge rolls to resist such attacks with 1 bane. 
		</p>
		<h1>APOCALYPTIST</h1>
		<p>
			The power Forbidden magic offers lures many students of magic to their doom. Apocalyptists delve deep into the dark tradition, heedless of the steep price to their bodies and souls. No good can come from Forbidden magic, so nearly all apocalyptists are figures of staggering evil, dedicated to advancing vile causes in the world. They revel in the horrors their corruption creates.
		</p>
		<h3>LEVEL 7 APOCALYPTIST</h3>
		<p>
			<b>Attributes</b> Increase three by 1<br/>
			<b>Characteristics</b> Health +2, Corruption +1, Power +1<br/>
			<b>Languages and Professions</b> Add one profession.<br/>
			<b>Magic</b> You discover the Forbidden tradition or learn one Forbidden spell.
		</p>
		<p>
			<b>Fearsome Casting</b> When you cast a Forbidden spell, choose one target creature within short range that can see you. The target must get a success on a Will challenge roll or become frightened for a number of rounds equal to your Power.
		</p>
		<h3>LEVEL 10 APOCALYPTIST</h3>
		<p>
			<b>Characteristics</b> Health +2, Corruption +1<br/>
			<b>Magic</b> You learn one spell.
		</p>
		<p>
			<b>Hasten the Apocalypse</b> When you cast a Forbidden spell, you can use a triggered action to loose a wave of sickening green light from a point you can reach out to a number of yards equal to 1 + the rank of the spell you cast. The ground in the area becomes difficult terrain, and Size 1/2 and smaller objects that are neither worn nor carried take damage equal to their Health. Each creature in the area other than you must get a success on a Strength challenge roll or take 1d6 damage and fall prone.
		</p>
		<h1>ARCANIST</h1>
		<p>
			The Arcana tradition is favored by scholars of magic. Arcanists delve more deeply into the secrets of magic to gain greater command over its power and improve the effects of the spells they cast. Like wizards, arcanists tend to be learned and scholarly.
		</p>
		<h3>LEVEL 7 ARCANIST</h3>
		<p>
			<b>Attributes</b> Increase three by 1<br/>
			<b>Characteristics</b> Health +2, Power +1<br/>
			<b>Languages and Professions</b> Add one profession.<br/>
			<b>Magic</b> You discover the Arcana tradition or learn one Arcana spell.
		</p>
		<p>
			<b>Arcane Mastery</b> You can use an action to expend the casting of any Arcana spell you know to cast a different spell of the same rank or lower that you have learned without expending a casting of that spell, even if you have no castings remaining.
		</p>
		<h3>LEVEL 10 ARCANIST</h3>
		<p>
			<b>Characteristics</b> Health +2<br/>
			<b>Magic</b> You learn one spell.
		</p>
		<p>
			<b>Reclaim Arcana</b> When you expend a casting of an Arcana spell, roll a d6. On a 6, you regain the casting of that spell.
		</p>
		<p>
			<b>Swift Arcana</b> You can use a triggered action on your turn to cast an Arcana spell you have learned.
		</p>
		<h1>ASTROMANCER</h1>
		<p>
			Astromancers study and master the magic of the celestial realm, calling upon the light of the sun, moon, and stars to obey their commands. They display their unequaled power when they cast Celestial spells, shining like beacons.
		</p>
		<h3>LEVEL 7 ASTROMANCER</h3>
		<p>
			<b>Attributes</b> Increase three by 1<br/>
			<b>Characteristics</b> Health +2, Power +1<br/>
			<b>Languages and Professions</b> Add one profession.<br/>
			<b>Magic</b> You discover the Celestial tradition or learn one Celestial spell.
		</p>
		<p>
			<b>Inner Radiance</b> When you cast a Celestial spell, you can use a triggered action to emit light from a point within your space out to a number of yards equal to your Power. The light moves with you, remaining centered on that point, and lasts for 1 minute or until you cast another Celestial spell.
		</p>
		<p>
			<b>Intense Light</b> Your Celestial attack spells deal 1d6 extra damage.
		</p>
		<h3>LEVEL 10 ASTROMANCER</h3>
		<p>
			<b>Characteristics</b> Health +2<br/>
			<b>Magic</b> You learn one spell.
		</p>
		<p>
			<b>Blinding Corona</b> When you use your Inner Radiance talent, each creature within 1 yard of you must get a success on a Strength challenge roll or become blinded until the end of the round.
		</p>
		<p>
			<b>Power of the Sun</b> Whenever you cast a Celestial attack spell, you make the attack roll with 1 boon and creatures make challenge rolls to resist the spell with 1 bane.
		</p>
		<h1>BARD</h1>
		<p>
			Bards have great skill as performers, but they are no mere minstrels. Their mastery of Song magic gives them many advantages when interacting with others. They can draw from the songs and poems they learn to gain clues about the world around them, and weave magic into their music to manipulate their audiences, whether to inspire them or demoralize them. Bards are highly sought the world over for their skills and expertise, and find welcome almost anywhere they go.
		</p>
		<h3>LEVEL 7 BARD</h3>
		<p>
			<b>Attributes</b> Increase three by 1<br/>
			<b>Characteristics</b> Health +3, Power +1<br/>
			<b>Languages and Professions</b> Add two professions.<br/>
			<b>Magic</b> You discover the Song tradition or learn one Song spell.
		</p>
		<p>
			<b>Esoteric Knowledge</b> You know a bit about everything. You make Intellect challenge rolls to recall useful information with 1 boon.
		</p>
		<h3>LEVEL 10 BARD</h3>
		<p>
			<b>Characteristics</b> Health +3<br/>
			<b>Magic</b> You learn one spell.
		</p>
		<p>
			<b>Disarming Charm</b> When a creature becomes charmed from a spell you cast, you can also make the creature impaired until that charmed affliction is removed.
		</p>
		<p>
			<b>Swift Song</b> You can use a triggered action on your turn to cast a Song spell you have learned.
		</p>
		<h1>BEASTMASTER</h1>
		<p>
			Beastmasters master the secrets of Primal magic to forge bonds with animals they charm. Their magic makes their animal companions more powerful and enhances their own bestial transformations.
		</p>
		<h3>LEVEL 7 BEASTMASTER</h3>
		<p>
			<b>Attributes</b> Increase three by 1<br/>
			<b>Characteristics</b> Health +2, Power +1<br/>
			<b>Languages and Professions</b> Add one profession.<br/>
			<b>Magic</b> You discover the Primal tradition or learn one Primal spell.
		</p>
		<p>
			<b>Primal Beast</b> When you cast the beast within spell, the bonus to Speed increases by 2, and the extra damage from your attacks with unarmed strikes and natural weapons increases by 1d6.
		</p>
		<p>
			<b>Primal Bond</b> You forge a bond with animals charmed by your Befriend Animal spell. You gain all of the following benefits:
		</p>
		<ul>
			<li>When you would be targeted by a spell, you can extend the spell’s effect to one animal you have charmed that is within medium range.</li>
			<li>While you are within medium range of an animal charmed by you, you and the animal make all Perception rolls with 1 boon.</li>
			<li>While you are within 1 mile of an animal charmed by you, you can communicate with that animal telepathically even if you do not have languages in common.</li>
		</ul>
		<h3>LEVEL 10 BEASTMASTER</h3>
		<p>
			<b>Characteristics</b> Health +2<br/>
			<b>Magic</b> You learn one spell.
		</p>
		<p>
			<b>Primal Power</b> Animals charmed by you make attack rolls and challenge rolls with 1 boon. In addition, their attacks deal 1d6 extra damage.
		</p>
	</body>
</html>
