<!DOCTYPE html >

<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../../content/index.css">
	</head>
	<body class="padded">
		<h1>CHRONOMANCER</h1>
		<p>
			Chronomancers delve into the secrets of Time magic to master it. As a result, they learn advanced techniques for manipulating time’s passage and can anticipate the future in all they do. 
		</p>
		<h3>LEVEL 7 CHRONOMANCER</h3>
		<p>
			<b>Attributes</b> Increase three by 1<br/>
			<b>Characteristics</b> Health +2, Power +1<br/>
			<b>Languages and Professions</b> Add one profession.<br/>
			<b>Magic</b> You discover the Time tradition or learn one Time spell.
		</p>
		<p>
			<b>Quickening</b> When you cast a Time spell, you can move a number of yards equal to your Power. This movement does not trigger free attacks.
		</p>
		<h3>LEVEL 10 CHRONOMANCER</h3>
		<p>
			<b>Characteristics</b> Health +2<br/>
			<b>Magic</b> You learn one spell.
		</p>
		<p>
			<b>Precognition</b> When you cast a Time spell, you can use a triggered action to see a few seconds into the future, gaining an insight. You retain the insight until you expend it or you complete a rest. Whenever you get a failure on an attack roll or challenge roll, you can expend an insight to repeat the roll.
		</p>
		<h1>CONJURER</h1>
		<p>
			Conjuration magic produces objects and creatures from nothing. Conjurers learn special techniques to let them create more powerful and frightening monsters to do their bidding. Although conjurers decide what forms their monsters take, many prefer common themes. Their monsters might have tentacles, display feathers, steam the air, or have bizarre anatomical structures.
		</p>
		<h3>LEVEL 7 CONJURER</h3>
		<p>
			<b>Attributes</b> Increase three by 1<br/>
			<b>Characteristics</b> Health +2, Power +1<br/>
			<b>Languages and Professions</b> Add one profession.<br/>
			<b>Magic</b> You discover the Conjuration tradition or learn one Conjuration spell.
		</p>
		<p>
			<b>Conjure Tiny Monster</b> When you cast a rank 0 Conjuration spell, you can conjure a tiny monster in an open space within short range instead of using the spell’s normal effect. The conjured creature remains for 1 minute or until it becomes incapacitated.
		</p>
		<p>
			<b>Frightening Monsters</b> You can grant monsters created by Conjuration spells the frightening trait.
		</p>
		<h3>LEVEL 10 CONJURER</h3>
		<p>
			<b>Characteristics</b> Health +2<br/>
			<b>Magic</b> You learn one spell.
		</p>
		<p>
			<b>Powerful Monsters</b> The monsters you create with your Conjuration spells make attack rolls with 1 boon and their attacks deal 1d6 extra damage. Also, your conjured monsters last for a number of minutes equal to your Power.
		</p>
		<h1>DEMONOLOGIST</h1>
		<p>
			Demonologists look into places the sane do not dare. Into the Void go these unhinged people, drawn by promises of power, answers to the great mysteries, and escape, perhaps, from the end of all things. For some, the path of the demonologist marks the culmination of a long and sordid career. For others, it is a misstep, a temptation to which one succumbs, inevitably tumbling into a darkness from which there is no escape.
		</p>
		<h3>LEVEL 7 DEMONOLOGIST</h3>
		<p>
			<b>Attributes</b> Increase three by 1<br/>
			<b>Characteristics</b> Health +10, Corruption +1, Power +1<br/>
			<b>Languages and Professions</b> Add one profession.<br/>
			<b>Magic</b> You discover the Demonology tradition or learn one Demonology spell.
		</p>
		<p>
			<b>Demon-Bound</b> A medium demon dwells inside your body, granting you 1 boon on Perception challenge rolls. In addition, each point of Corruption you gain during play grants you 1 boon to attack rolls and challenge rolls that lasts until you complete a rest. When you go mad, you gain 1 Corruption. You then become compelled by the demon instead of the normal effects of madness. At the end of each round, roll a d6. On a 6, the madness ends.
		</p>
		<h3>LEVEL 10 DEMONOLOGIST</h3>
		<p>
			<b>Characteristics</b> Corruption +1<br/>
			<b>Magic</b> You learn one spell.
		</p>
		<p>
			<b>Accustomed to Horror</b> You are immune to the horrifying trait.
		</p>
		<p>
			<b>Demonic Compulsion</b> Demons that appear from Demonology spells you cast are compelled for 1 minute.
		</p>
		<h1>DESTROYER</h1>
		<p>
			Destruction magic is one of the most dangerous traditions since its spells tax anyone who casts them, causing bruises to appear on the flesh and wounds to split open. Mastering this magic helps destroyers cast Destruction spells without risk to themselves by focusing the damaging energies on a place outside of their bodies.
		</p>
		<h3>LEVEL 7 DESTROYER</h3>
		<p>
			<b>Attributes</b> Increase three by 1<br/>
			<b>Characteristics</b> Health +3, Power +1<br/>
			<b>Languages and Professions</b> Add one profession.<br/>
			<b>Magic</b> You discover the Destruction tradition or learn one Destruction spell.
		</p>
		<p>
			<b>Destruction Released</b> When you cast a Destruction spell, you can choose to take no damage from casting the spell. Instead, destructive energy rushes from a point you can reach out to a number of yards equal to your Power. Each creature and object in the area other than you takes damage equal to 1 + the rank of the spell you cast. A creature that gets a success on a Strength challenge roll takes no damage.
		</p>
		<h3>LEVEL 10 DESTROYER</h3>
		<p>
			<b>Characteristics</b> Health +3<br/>
			<b>Magic</b> You learn one spell.
		</p>
		<p>
			<b>Utter Destruction</b> When you roll damage dice for a Destruction spell you cast, replace any roll of a 1 with a 6.
		</p>
		<h1>DIVINER</h1>
		<p>
			Divination lays bare the future and makes it possible to look and listen at distant places. Diviners have a gift for Divination magic, a knack possibly born from a latent psychic ability or being touched by the gods. As they explore the power the tradition offers, they learn how to cast their spells to greater effect. More important, they receive visions about the future and can use those visions to escape danger or to achieve success when they would otherwise fail.
		</p>
		<h3>LEVEL 7 DIVINER</h3>
		<p>
			<b>Attributes</b> Increase three by 1<br/>
			<b>Characteristics</b> Defense +1, Health +1, Power +1<br/>
			<b>Languages and Professions</b> Add one profession.<br/>
			<b>Magic</b> You discover the Divination tradition or learn one Divination spell.
		</p>
		<p>
			<b>Omens</b> When you make an attack roll or a challenge roll, you can expend the casting of a Divination spell to make the roll with a number of boons equal to the spell’s rank.
		</p>
		<h3>LEVEL 10 DIVINER</h3>
		<p>
			<b>Characteristics</b> Health +1<br/>
			<b>Magic</b> You learn one spell.
		</p>
		<p>
			<b>Premonitions</b> Each time you complete a rest, you receive three premonitions. For each, roll a d20 and note the result. The premonitions last until you expend them or you complete another rest.
		</p>
		<p>
			When a creature you can see makes an attack roll or challenge roll, you can swap the number rolled with a number from one of your premonitions by expending it. Once you expend the premonition, cross out the number.
		</p>
		<p>
			While you have at least one premonition, you cannot be surprised while conscious, creatures attacking you make attack rolls with 1 bane, and you make challenge rolls to resist attacks with 1 boon.
		</p>
		<h1>ENCHANTER</h1>
		<p>
			The ultimate controllers, enchanters master magic that gives them control over others, making their victims dance on eldritch strings like puppets. Many enchanters learn their techniques as a result of practicing witchcraft or discovering Enchantment secrets from faerie they befriend.
		</p>
		<h3>LEVEL 7 ENCHANTER</h3>
		<p>
			<b>Attributes</b> Increase three by 1<br/>
			<b>Characteristics</b> Health +2, Power +1<br/>
			<b>Languages and Professions</b> Add one profession.<br/>
			<b>Magic</b> You discover the Enchantment tradition or learn one Enchantment spell.
		</p>
		<p>
			<b>Enchantment Defense</b> If you are charmed, compelled, or frightened at the end of the round, you can make an Intellect challenge roll and remove all these afflictions from yourself on a success.
		</p>
		<p>
			<b>Subtle Charm</b> Creatures charmed by spells you cast have no memory of being charmed by you when the effect ends.
		</p>
		<h3>LEVEL 10 ENCHANTER</h3>
		<p>
			<b>Characteristics</b> Health +2<br/>
			<b>Magic</b> You learn one spell.
		</p>
		<p>
			<b>Countercharm</b> When a creature you can see within medium range becomes charmed or compelled, you can use a triggered action to make an Intellect challenge roll. On a success, you remove that affliction from the triggering creature.
		</p>
		<p>
			<b>Persistent Enchantment</b> You double the duration of all Enchantment spells you cast that have durations of at least 1 minute.
		</p>
		<h1>ENTROPIST</h1>
		<p>
			The Death tradition is the magic of the grave, the cold of the Underworld, and its spells exist to abbreviate the lives of the living. Entropists find something in Death magic they believe will give them power. An entropist might seek to somehow stave off the inevitable, to gain favor from Father Death, or to do the dark god’s work by snuffing out life after life.
		</p>
		<h3>LEVEL 7 ENTROPIST</h3>
		<p>
			<b>Attributes</b> Increase three by 1<br/>
			<b>Characteristics</b> Health +2, Power +1<br/>
			<b>Languages and Professions</b> Add one profession.<br/>
			<b>Magic</b> You discover the Death tradition or learn one Death spell.
		</p>
		<p>
			<b>Speed to the Grave</b> When you attack an injured creature, you make the attack roll with 1 boon, and the creature makes the challenge roll to resist the attack with 1 bane.
		</p>
		<h3>LEVEL 10 ENTROPIST</h3>
		<p>
			<b>Characteristics</b> Health +2<br/>
			<b>Magic</b> You learn one spell.
		</p>
		<p>
			<b>Deathly Presence</b> When you cast a Death spell, you can use a triggered action to emit a field of death. This field spreads in a sphere centered on a point you can reach and has a radius in yards equal to the spell’s rank plus 1. The field lasts for 1 round, and it moves with you to remain in the same position relative to you. When a living creature other than you in the sphere takes damage, it takes 1d6 extra damage. A creature can take this extra damage only once per round.
		</p>
		<h1>EXORCIST</h1>
		<p>
			Demons, wicked faerie, and vengeful spirits make forays into the mortal world to torment the innocent, take possession of their bodies, and coerce them to perform despicable acts of evil. Exorcists declare war against such vile foes and learn specialized magic to drive out and destroy them.
		</p>
		<h3>LEVEL 7 EXORCIST</h3>
		<p>
			<b>Attributes</b> Increase three by 1<br/>
			<b>Characteristics</b> Health +4, Power +1<br/>
			<b>Languages and Professions</b> Add one State profession.<br/>
		</p>
		<p>
			<b>Exorsicm</b> You can expend a casting of a Rank 1 or highter spell to target a creature. If the target is charmed, compelled, or frightened use an action to end one of those afflictions.
		</p>
		<p>
			If the target is possessed, you must concentrate for 1 minute, during which time the target must remain within range, and then make a Will attack roll against the possessing creature’s Will. On a success, the possession ends, and the creature that possessed the target appears in an open space within short range and becomes dazed for 1 round. On a 20+, the posessing creature is stunned for 1 round.
		</p>
		<h3>LEVEL 10 EXORCIST</h3>
		<p>
			<b>Characteristics</b> Health +4<br/>
		</p>
		<p>
			<b>Purge the Unclean</b> You make attack rolls against demons, devils, faerie, spirits, and undead with 1 boon. Such creatures make challenge rolls to resist your attacks with 1 bane.
		</p>
		<p>
			<b>Will of Iron</b> You cannot become charmed, compelled, or frightened. When you roll to resist gaining Insanity, you make the challenge roll with 1 boon.
		</p>
	</body>
</html>
