<!DOCTYPE html >

<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../../content/index.css">
	</head>
	<body class="padded">
		<h1>DEATH DEALER</h1>
		<p>
			Death dealers favor heavy, cumbersome weapons for the carnage they can create. Whether they are hefting a weighty warhammer or sweeping with a greatsword, their swings and strikes send limbs flying as they carve a bloody swath through their enemies. The great strength required to wield these weapons typically means death dealers come from martial backgrounds, likely beginning their careers as warriors or battle-focused priests.
		</p>
		<h3>LEVEL 7 DEATH DEALER</h3>
		<p>
			<b>Attributes</b> Increase three by 1<br/>
			<b>Characteristics</b> Health +6<br/>
		</p>
		<p>
			<b>Brutal Swing</b> When you incapacitate a creature with an attack using a slow weapon, you can use a triggered action to attack with the same weapon at any point before the end of your turn.
		</p>
		<h3>LEVEL 10 DEATH DEALER</h3>
		<p>
			<b>Characteristics</b> Health +6<br/>
		</p>
		<p>
			<b>Make Mountains of the Dead</b> You can use an action to sweep your heavy weapon around you in a lethal arc. Choose any number of target creatures within 1 yard of you. A target with Health 20 or less takes damage equal to its Health.
		</p>
		<h1>DEFENDER</h1>
		<p>
			Defenders develop combat skills to protect the people around them and to withstand the attacks they take on their companions’ behalf. Once drawn into a fight, defenders take positions in the front to lock down their opponents. Since they take the greatest risks, defenders prefer heavy armor and usually carry shields.
		</p>
		<h3>LEVEL 7 DEFENDER</h3>
		<p>
			<b>Attributes</b> Increase three by 1<br/>
			<b>Characteristics</b> Health +6<br/>
		</p>
		<p>
			<b>Defend</b> You can use an action or a triggered action on your turn to defend one target creature within your reach. Until the end of the round, creatures that attack the target make the attack rolls with 1 bane. This effect immediately ends if the target is out of your reach or you become unconscious.
		</p>
		<h3>LEVEL 10 DEFENDER</h3>
		<p>
			<b>Characteristics</b> Health +6<br/>
		</p>
		<p>
			<b>Containing Strike</b> Once per round when you get a success on an attack with a melee weapon, your target becomes immobilized until the end of the round.
		</p>
		<p>
			<b>Retributive Strike</b> When a creature in your reach makes an attack against a creature other than you, you can use a triggered action to attack the triggering creature.
		</p>
		<h1>DERVISH</h1>
		<p>
			Although anyone can fight with two weapons, dervishes make two-weapon fighting look easy. Quick and nimble, they dance across the battlefield, weapons moving faster than the eye can follow. Dervishes are so good at what they do that they can wield weapons of equal length in each hand, keeping one of those weapons at the ready to knock aside incoming attacks.
		</p>
		<h3>LEVEL 7 DERVISH</h3>
		<p>
			<b>Attributes</b> Increase three by 1<br/>
			<b>Characteristics</b> Health +5<br/>
			<b>Languages and Professions</b> Add one profession.<br/>
		</p>
		<p>
			<b>Ambidexterity</b> You can wield one-handed weapons as off-hand weapons.
		</p>
		<p>
			<b>Off-Hand Parry</b> Weapons you wield have Parry+3. While you wield two non-shield weapons, you gain a +1 bonus to Defense.
		</p>
		<h3>LEVEL 10 DERVISH</h3>
		<p>
			<b>Characteristics</b> Health +5<br/>
		</p>
		<p>
			<b>Two Weapon Mastery</b> When you attack with two weapons, you make the attack roll with 1 boon. If you attack one target with both weapons, your attack deals 1d6 extra damage.
		</p>
		<h1>DIPLOMAT</h1>
		<p>
			Masters of the art of negotiation, diplomats find peaceful solutions to the conflicts they encounter. They can deftly navigate the most difficult social situations, helping others find common ground and overcome their differences.
		</p>
		<h3>LEVEL 7 DIPLOMAT</h3>
		<p>
			<b>Attributes</b> Increase three by 1<br/>
			<b>Characteristics</b> Health +3<br/>
			<b>Languages and Professions</b> Add one profession.<br/>
		</p>
		<p>
			<b>Master of Diplomacy</b> In social settings, you make Intellect and Will attack rolls with 1 boon.
		</p>
		<p>
			<b>Stay the Hand</b> When a creature gets a success on an attack roll against you, you can use a triggered action to beg for mercy. If the creature can hear you and understand what you say, make a Will attack roll against the triggering creature’s Will. On a success, you turn the triggering creature’s success into a failure, and the triggering creature becomes charmed for 1 minute or until it’s attacked. On a failure, the triggering creature becomes immune to this talent until it completes a rest.
		</p>
		<h3>LEVEL 10 DIPLOMAT</h3>
		<p>
			<b>Characteristics</b> Health +3<br/>
		</p>
		<p>
			<b>Soothing Words</b> You can use an action to comfort one creature within your reach. Remove one of the following afflictions from that creature: charmed, compelled, dazed, or frightened.
		</p>
		<p>
			<b>Unexpected Alliances</b> When you get a success on the attack roll from using your Stay the Hand talent, the triggering creature also becomes compelled for 1 minute or until it’s attacked.
		</p>
		<h1>DREADNAUGHT</h1>
		<p>
			Heavy armor makes Dreadnaughts nearly invulnerable. Their expertise with wearing armor gives them an edge when donning it, so that they can maximize its protective qualities.
		</p>
		<h3>LEVEL 7 DREADNAUGHT</h3>
		<p>
			<b>Attributes</b> Increase three by 1<br/>
			<b>Characteristics</b> Health +5<br/>
			<b>Languages and Professions</b> Add one State profession.<br/>
		</p>
		<p>
			<b>Iron Clad</b> You ignore requirements for wearing armor and you have a +1 bonus to Defense while wearing armor.
		</p>
		<p>
			<b>Immovable</b> While you are conscious and standing on a solid surface, you cannot be moved against your will.
		</p>
		<h3>LEVEL 10 DREADNAUGHT</h3>
		<p>
			<b>Characteristics</b> Health +5<br/>
		</p>
		<p>
			<b>Weapon Resistance</b> While you wear heavy armor, you take half damage from weapons.
		</p>
		<h1>DUELIST</h1>
		<p>
			Duelists develop a fighting style that helps them focus on one enemy at a time. In battle, they single out and challenge foes to duels. Should their targets succumb to the temptation, duelists have the skill and speed to keep their foes pinned down and ultimately defeat them. 
		</p>
		<h3>LEVEL 7 DUELIST</h3>
		<p>
			<b>Attributes</b> Increase three by 1<br/>
			<b>Characteristics</b> Health +4<br/>
			<b>Languages and Professions</b> Add one profession.<br/>
		</p>
		<p>
			<b>Challenge</b> You can use an action or a triggered action on your turn to challenge one target creature within medium range that can see you and hear you. Make an Intellect attack roll against the target’s Will. On a success, the target becomes challenged until you become unconscious or it becomes incapacitated. The effect also ends if you use this talent again or you attack a different target. On a failure, the target becomes immune to this talent until it completes a rest.
		</p>
		<p>
			When a target you have challenged makes an attack against a creature other than you, it makes the attack roll with 1 bane.
		</p>
		<p>
			<b>Riposte</b> When a target creature you have challenged makes an attack roll against you, you can use a triggered action to impose 1 bane on its roll. If the triggering creature gets a failure, you execute a riposte. Attack the target with a melee weapon you are wielding. You make the attack roll with 1 boon if you’re wielding a Parry weapon.
		</p>
		<h3>LEVEL 10 DUELIST</h3>
		<p>
			<b>Characteristics</b> Health +4<br/>
		</p>
		<p>
			<b>Duel Mastery</b> Your weapon attacks deal 1d6 extra damage to targets you have challenged with your Challenge talent.
		</p>
	</body>
</html>
