<!DOCTYPE html >

<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../../content/index.css">
	</head>
	<body class="padded">
		<h1>SAPPER</h1>
		<p>
			Doors, grates, and walls prove to be no obstacle to a welltrained sapper. These experienced engineers study the manufacture and practical use of explosives. As skilled as sappers are in producing and using bombs, they are also accomplished trap makers. A sapper’s traps, when triggered, are loud and deadly.
		</p>
		<p>
			Despite advanced training, sappers tend to be jumpy and fatalistic. Handling volatile materials makes sappers cautious in nearly every endeavor. Most sappers expect an abrupt, fiery death to be their end.
		</p>
		<h3>LEVEL 7 SAPPER</h3>
		<p>
			<b>Attributes</b> Increase three by 1<br/>
			<b>Characteristics</b> Health +3<br/>
			<b>Languages and Professions</b> Add one profession.<br/>
		</p>
		<p>
			<b>Bomb Maker</b> You know how to create bombs, and you tinker with your creations while you rest. Each time you complete a rest, you create 1d3 blinders, 1d3 crackers, and 1d3 smokers. They retain potency until you complete your next rest.
		</p>
		<p>
			You can use an action to light the fuse on one of these bombs and throw it to a point within medium range. At the end of the round, the bomb has its effect, as follows:
		</p>
		<ul>
			<li><b>Blinder:</b> The bomb releases a flash of blinding light in a radius of 1d6 yards. Sighted creatures in the area must get a success on a Strength challenge roll or become blinded for 1 round.</li>
			<li><b>Cracker:</b> The bomb explodes in a radius of 2d6 yards. Everything in the area takes 3d6 damage. A success on an Agility challenge roll halves the damage.</li>
			<li><b>Smoker:</b> The bomb spews smoke of a color you choose. The smoke spreads out to fill a sphere with a radius of 2d6 yards. The first half of the radius is heavily obscured, while the rest is partially obscured. The smoke persists for 1d6 rounds or until dispersed by wind.</li>
		</ul>
		<p>
			<b>Tool Mastery</b> You have 2 boons on any challenge roll you make to use a toolkit to disarm a trap, dismantle a device, or open a lock.
		</p>
		<h3>LEVEL 10 SAPPER</h3>
		<p>
			<b>Characteristics</b> Health +3<br/>
		</p>
		<p>
			<b>Bomb Mastery</b> Double the number of bombs you create with your Bomb Maker talent. Damage-dealing bombs you create deal 1d6 extra damage. Creatures make challenge rolls to resist your bombs with 1 bane.
		</p>
		<p>
			<b>Sapper's Luck</b> When you make challenge roll to resist an area attack, you do so with 1 boon.
		</p>
		<h1>SENTINEL</h1>
		<p>
			Superior senses and a strong sense of duty grant sentinels supernatural detection abilities. Little escapes their attention—not even the gods can take them by surprise. Many sentinels develop their talents by guarding important people, relics, and places. They can come from religious, magical, or martial backgrounds.
		</p>
		<h3>LEVEL 7 SENTINEL</h3>
		<p>
			<b>Attributes</b> Increase three by 1<br/>
			<b>Characteristics</b> Perception +1, Health +5<br/>
		</p>
		<p>
			<b>Perfect Awareness</b> You possess superior senses that never let you down. While you are conscious, you cannot become stunned or surprised. You make Perception challenge rolls with 1 boon. Finally, you can see faint outlines around invisible creatures and objects within range of your vision sas if they were in a partially obscured area.
		</p>
		<h3>LEVEL 10 SENTINEL</h3>
		<p>
			<b>Characteristics</b> Health +5<br/>
		</p>
		<p>
			<b>Stand Guard</b> You can use an action to guard the area inside a sphere with a 5-yard radius centered on a point you can reach. The effect lasts until you use this talent again, you leave the area, or you become unconscious. While in the area, you gain the following benefits:
		</p>
		<ul>
			<li>You make attack rolls with 1 boon.</li>
			<li>You know the location of each creature in the area and creatures in it cannot become hidden from you.</li>
			<li>You cannot become charmed, compelled, frightened, surprised, or put to sleep by magic.</li>
			<li>You cannot be moved out of the area.</li>
		</ul>
		<h1>SHARPSHOOTER</h1>
		<p>
			Sharpshooters master the use of bows and crossbows. Their keen eyes and steady hands let them loose missile after missile with pinpoint accuracy. If they take even more time to line up their shots, they can thread their missiles through the narrowest gaps. Sharpshooters have few rivals when it comes to fighting with their favored weapons.
		</p>
		<h3>LEVEL 7 SHARPSHOOTER</h3>
		<p>
			<b>Attributes</b> Increase three by 1<br/>
			<b>Characteristics</b> Perception +1, Health +4<br/>
			<b>Languages and Professions</b> Add one profession.<br/>
		</p>
		<p>
			<b>Deadly Aim</b> You can use an action to aim at a creature you can see within medium range. Make a Perception attack roll against the target’s Agility. On a success, you spot an opening. For 1 round, when you attack the target with a ranged weapon, you make the attack roll with 3 boons and your attack deals 3d6 extra damage.
		</p>
		<h3>LEVEL 10 SHARPSHOOTER</h3>
		<p>
			<b>Characteristics</b> Health +4<br/>
		</p>
		<p>
			<b>Perfect Shot</b> When you attack with a ranged weapon and get a failure, you can use a triggered action to turn the failure into a success.
		</p>
		<h1>SLEUTH</h1>
		<p>
			Superior observation skills are the domain of sleuths, who can unravel any mystery and solve almost any puzzle. Although many sleuths use their talents to help maintain law and order, others are driven by personal gain, becoming criminal masterminds adept at staying one step ahead of their enemies.
		</p>
		<h3>LEVEL 7 SLEUTH</h3>
		<p>
			<b>Attributes</b> Increase three by 1<br/>
			<b>Characteristics</b> Perception +1, Health +3<br/>
			<b>Languages and Professions</b> Add one profession.<br/>
		</p>
		<p>
			<b>Size Up</b> You can use an action to assess one creature within short range that you can see. You learn one score, trait, special attack, special action, other ability, or some other piece of information about the target. The GM chooses what you discover.
		</p>
		<p>
			<b>Uncanny Alertness</b> You make all Perception rolls with 1 boon. In addition, you cannot be surprised while you are not unconscious. If you are already immune to the surprised affliction, you instead increase the number of boons granted by this talent to 2.
		</p>
		<h3>LEVEL 10 SLEUTH</h3>
		<p>
			<b>Characteristics</b> Perception +1, Health +3<br/>
		</p>
		<p>
			<b>Heightened Instincts</b> At the end of each round, you can make a Perception challenge roll. On a success, you can use the total of your roll in place of your Defense for the first attack made against you during the next round. If no creature attacks you by the end of the round, this effect ends.
		</p>
		<p>
			<b>Perfect Assessment</b> When you enter a room in which you have been before, you can make a Perception challenge roll. On a success, you immediately notice any changes to the room since you were last here, including the presence or absence of hidden or invisible creatures or objects. The GM will tell you any pertinent details that warrant your attention.
		</p>
		<h1>TEMPLAR</h1>
		<p>
			Chosen for their dedication to their religion, templars protect sites and relics important to their faith. As a result of their specialized training, they can speak secret prayers to invoke the divine to shield their environs and secure everything within from despoilers and desecrators.
		</p>
		<h3>LEVEL 7 TEMPLAR</h3>
		<p>
			<b>Attributes</b> Increase three by 1<br/>
			<b>Characteristics</b> Perception +1, Health +4<br/>
			<b>Languages and Professions</b> Add one State profession.<br/>
		</p>
		<p>
			<b>Temple of Faith</b> You can use an action and expend a casting of a Rank 0 spell to create a Temple of Faith. The area is a 5-yard radius, or 10-yard if it includes a shrine or altar related to your religion. When a creature enters the area, you can use a triggered action to move up to your Speed and attack it with a weapon. On a success, the creature is immobilized for 1 round.
		</p>
		<h3>LEVEL 10 TEMPLAR</h3>
		<p>
			<b>Characteristics</b> Health +4<br/>
		</p>
		<p>
			<b>Temple Guardian</b> Your attacks against targets inside the area of your Temple of Faith deal 1d6 extra damage.
		</p>
		<h1>TORMENTOR</h1>
		<p>
			True terrors on the battlefield, tormentors thrive on filling their enemies with fear and loathing, eroding their courage and sending them fleeing from them. Most tormentors achieve their objective of domination by making threats against those nearest to them and by making their foes suffer before dispatching them. Many festoon their bodies with the skulls of fallen foes, daub their bodies with blood and excrement, and do whatever else they see fit to enhance their frightening appearance.
		</p>
		<h3>LEVEL 7 TORMENTOR</h3>
		<p>
			<b>Attributes</b> Increase three by 1<br/>
			<b>Characteristics</b> Health +5<br/>
			<b>Languages and Professions</b> Add one profession.<br/>
		</p>
		<p>
			<b>Escalating Threat</b> You can use an action, or a triggered action on your turn, to make a Will attack roll with 1 boon against the Will of one frightened creature within short range that can see you. On a success, the creature gains 1 Insanity. 
		</p>
		<p>
			<b>Frightening Assault</b> When you make an attack roll against a creature that can see you and the total of the roll is 20 or higher and exceeds the target number by 5 or more, the target becomes frightened for 1 minute.
		</p>
		<h3>LEVEL 10 TORMENTOR</h3>
		<p>
			<b>Characteristics</b> Health +5<br/>
		</p>
		<p>
			<b>Cull the Weak</b> Against frightened targets, you make attack rolls with 1 boon and your attacks deal 1d6 extra damage.
		</p>
		<p>
			<b>Unshakable</b> You cannot be frightened. If you are already immune to the frightened affliction, you instead make challenge rolls to resist the effects of the horrifying trait with 2 boons.
		</p>
		<h1>WEAPON MASTER</h1>
		<p>
			Individuals who become weapon masters achieve their vaunted status by focusing all their training on the use of one favored weapon. Such is their reputation that foolish warriors hunt them down to test their mettle, while wise warriors seek them out to learn from them.
		</p>
		<h3>LEVEL 7 WEAPON MASTER</h3>
		<p>
			<b>Attributes</b> Increase three by 1<br/>
			<b>Characteristics</b> Health +5<br/>
			<b>Languages and Professions</b> Add one profession.<br/>
		</p>
		<p>
			<b>Favored Weapon</b> When you complete a rest, choose a weapon for which you meet all the requirements. The weapon becomes your favored weapon until you use this talent again.
		</p>
		<p>
			While you wield your favored weapon, you have a +1 bonus to Defense. When you attack with your favored weapon, you make the attack roll with 1 boon.
		</p>
		<h3>LEVEL 10 WEAPON MASTER</h3>
		<p>
			<b>Characteristics</b> Health +5<br/>
		</p>
		<p>
			<b>Weapon Specialization</b> When you attack with your favored weapon, you deal 1d6 extra damage.
		</p>
		<h1>ZEALOT</h1>
		<p>
			Zealots wander the lands as itinerant preachers and crusaders of their faith. They lead by example, depriving themselves of all the comforts of civilization in order to become closer to their gods. Often, their zeal manifests as madness, and they exhibit self-destructive behaviors to purify their thoughts.
		</p>
		<h3>LEVEL 7 ZEALOT</h3>
		<p>
			<b>Attributes</b> Increase three by 1<br/>
			<b>Characteristics</b> Health +6<br/>
			<b>Languages and Professions</b> Add one State profession.<br/>
		</p>
		<p>
			<b>Zeal</b> When you get a failure on an attack roll or a challenge roll, you can gain 1d3 Insanity to ignore the failure and repeat the roll. You must use the result of the second roll. After you use this talent, you cannot become charmed, compelled, or frightened until the end of the round.
		</p>
		<p>
			<b>Violent Madness</b> Whenever you go mad, instead of the normal effect, you are overwhelmed by violence. Until the madness ends, you must take a fast turn each round and use an action to attack the creature nearest to you, regardless of whether it is a friend or a foe. At the end of each round, roll a d6. A roll of 5 or higher ends the madness.
		</p>
		<h3>LEVEL 10 ZEALOT</h3>
		<p>
			<b>Characteristics</b> Health +6<br/>
		</p>
		<p>
			<b>Divine Might</b> When you use Zeal, you make the second roll with 1 boon. Additionally, if you are rolling for an attack, the attack deals 1d6 extra damage.
		</p>
	</body>
</html>
