<!DOCTYPE html >

<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../../content/index.css">
	</head>
	<body class="padded">
		<h1>MAKING ATTACKS</h1>
		<p>
			You make an attack whenever you try to harm or hinder a creature or damage an object. Typically, you determine the outcome of an attack by making an attack roll. How you make this roll is determined by what weapon you have ready. Typically, when you make an attack, you roll a d20 plus the associated attribute against the target’s Defense. Most weapons use either Strength or Agility, though some are versatile, allowing you to choose between the two. <br/>
			When you roll 20+ on a weapon or unarmed attack, you gain Fortune (see Fortune).
		</p>
		<h3>Melee Attacks</h3>
		<p>
			A melee attack requires you to be within reach of the target, which is 1 yard in most cases. If you make an attack with an object that is not a weapon, it is considered an improvised weapon and deals damage based on its size (typically 1, 1d3, or 1d6). Unarmed attacks can be made regardless of what weapons you have ready and deal 1 damage.<br/>
			If creatures are surrounding a foe, those creatures make melee attacks with 1 boon. A target is considered to be surrounded if it is within the reach of a number of hostile creatures equal to its Size + 1.</p>
		<h3>Ranged Attacks</h3>
		<p>
			If you ready a ranged weapon or a weapon with the thrown property, you can make a ranged attack. Ranged weapons typically use Agility. The terrain may impose up to 2 banes to the roll depending on cover.
		</p>
		<h3>Two-Weapon Attacks</h3>
		<p>
			If you have two weapons ready, and neither have the slow property, you can use an action to attack with them at the same time. You can use them to attack one target or to attack two different targets.<br/>
			Using the weapon in your main hand, make an attack roll with 2 banes. If attacking two different targets, you must meet or exceed the highest defense among them. On a success, you deal damage equal to your main hand weapon damage plus your off hand weapon damage plus 1 main hand weapon damage die, divided as you choose among the targets. For example, if you land an attack with a rapier that deals 1d6+1 and a dagger that deals 1d3, your total will be (1d6+1)+(1d3)+1d6.
		</p>
		<h3>Attack with a Spell</h3>
		<p>
			Spells with the attack type count as attacks, but the rules for casting them are the same as other spells. You must have a spellcasting focus ready and you can only cast one spell per turn.
		</p>
		<h3>Free Attacks</h3>
		<p>
			When a creature in your reach willingly moves out of your reach, you can use a triggered action to make an attack against that creature using a melee weapon you are wielding.
		</p>
		<h1>Situational Attacks</h1>
		<h3>Distract</h3>
		<p>
			Choose one target creature within short range of you that can see you. Make an Intellect attack roll against the target’s Intellect. On a success, the target makes its next attack roll or challenge roll before the end of the round with 2 banes.</p>
		<h3>Feint</h3>
		<p>
			Choose one target creature within reach that can see you. Make an Agility attack roll against the target’s Perception. On a success, the target is left open.</p>
		<h3>Grab</h3>
		<p>
			Choose one target creature within your reach that has a physical body and is your size or smaller. Make a Strength or Agility attack roll against the target’s Agility. If you choose a creature you are already grabbing, you automatically get a success.<br/>
		On a success, the target becomes immobilized until the end of the next round. If you are the same size as the target, your speed is halved.</p>
		<h3>Escape</h3>
		<p>
			You can use this action if you are grabbed. Make a Strength or Agility attack roll against the Strength of the creature that has grabbed you. A success removes the grabbed affliction and lets you Retreat.</p>
		<h1>Range and Distance</h1>
		<p>
			A few broad categories describe the range of weapons and spells for the purpose of choosing targets and centering area effects. 
			<ul><li><b>You:</b> You are the target, or the effect originates from you or a point within your space. You are always within range of yourself for the purpose of targeting.</li>
			<li><b>Reach:</b> The target or the point from which the effect originates must be within your reach, and you must be able to touch it. If you attempt to touch an unwilling creature, you must make a Strength or Agility attack roll against the target’s Agility. On a success, you touch the target.</li>
			<li><b>Short:</b> The target or the point from which the effect originates must be within 5 yards of you.</li>
			<li><b>Medium:</b> The target or the point from which the effect originates must be within 15 yards of you.</li>
			<li><b>Long:</b> The target or the point from which the effect originates must be within 50 yards of you.</li>
			<li><b>Extreme:</b> The target or the point from which the effect originates must be within 500 yards of you.</li>
			<li><b>Sight:</b> You must be able to see the target or the point from which the effect originates.</ul></p>
		<h1>Vision</h1>
		<p>
			Poor lighting, precipitation, and fog reduce visibility. An area, and creatures and objects within it, can be partially, heavily, or totally obscured.
			<ul><li><b>Partially Obscured:</b> Rain, light snow, fog, and shadows all partially obscure an area. Everything in a partially obscured area is visible, but observers cannot make out fine detail. Any roll involving sight by a creature looking into a partially obscured area is made with 1 bane.</li>
			<li><b>Heavily Obscured:</b> Heavy rain, snow, and thick fog all heavily obscure an area. Everything in such areas is faintly visible. Any roll involving sight by a creature looking into a heavily obscured area is made with 2 banes.</li>
			<li><b>Totally Obscured:</b> Creatures and objects in totally obscured areas cannot be seen, because they are in darkness or blinding conditions, such as a whiteout in a blizzard. A creature in an area that is totally obscured is blinded. Generally, this means a creature cannot choose a totally obscured creature as a target for its attack, though they are still subject to area effects. A creature can guess at their location, making the attack roll with 3 banes. Even with a success, the attack hits them only if the guess was correct.</ul>
		</p>
	</body>
</html>
