<!DOCTYPE html >

<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../../content/index.css">
	</head>
	<body class="padded">
		<h1>CORRUPTION</h1>
		<p>
			Evil leaves a stain on the mortal soul that can be removed only by the devils haunting Hell’s depths. These warped faerie feed on the darkness that burdens immortal essence. Most people believe evil actions have spiritual consequences, though many don’t care.
		</p>
		<p>
			Player characters have Corruption scores to reflect the evil they commit. The more corrupt a character becomes, the greater the taint of evil on his or her soul, until it is consigned to Hell.
		</p>
		<p>
			Examples of acts that would increase Corruption include:
		</p>
		<ul>
			<li>Murder.</li>
			<li>Harming an innocent by spreading a disease, poisoning a well, or being reckless with magic.</li>
			<li>Stealing for personal gain.</li>
			<li>Learning spells from dark traditions such as Forbidden or Necromancy.</li>
			<li>Using certain relics.</li>
		</ul>
		<h2>ATONEMENT</h2>
		<p>
			Corruption, once gained, is hard to lose without the tender attentions of the devils that feed on it. Powerful magic can cleanse a soul that is only lightly stained, though such magic is rare and hard to come by. Repentant mortals can erase some or even all of their Corruption by committing their lives to good works, making amends for past misdeeds, and conducting themselves selflessly and with charity, virtue, and compassion for others.
		</p>
		<h3>CORRUPTION EFFECTS</h3>
		<table>
			<tr>
				<th>Corruption Score</th><th>Effect</th>
			</tr>
			<tr>
				<td>0 - 3</td><td>-</td>
			</tr>
			<tr>
				<td>4 - 6</td><td>You make attack rolls to interact with other creatures in social settings with 1 bane. As well, animals become hostile around you and children might cry.</td>
			</tr>
			<tr>
				<td>7 - 8</td><td>You suffer the above effects. In addition, you take a -1 penalty on d6 rolls to decide your fate while you are incapacitated. <span class='span_subtitle'>(See <a href='../combat/fate.html'>Fate Rolls</a>)</span>. In addition, you receive a Mark of Darkness, a physical sign of your Corruption. <span class='span_subtitle'>(See the Marks of Darkness table below)</span>.</td>
			</tr>
			<tr>
				<td>9+</td><td>Life magic has no effect on you. If you become incapacitated, you die and your soul is forever trapped in Hell.</td>
			</tr>
		</table>
		<h3>MARKS OF DARKNESS</h3>
		<table>
			<tr>
				<th>d20</th><th>Mark of Darkness</th>
			</tr>
			<tr>
				<td>1</td><td>You never cast a reflection.</td>
			</tr>
			<tr>
				<td>2</td><td>You have a rattling cough and sometimes expel bloody maggots in a fit of coughing.</td>
			</tr>
			<tr>
				<td>3</td><td>Your shadow appears enormous and monstrous, never quite matching your movements.</td>
			</tr>
			<tr>
				<td>4</td><td>You can eat only rotting, spoiled food; you vomit up anything else within minutes.</td>
			</tr>
			<tr>
				<td>5</td><td>Holy symbols burn your skin, dealing 1 damage per round of contact.</td>
			</tr>
			<tr>
				<td>6</td><td>The inverted names of the Gods of the Old Faith appear just under the surface of your skin in a band around your left arm.</td>
			</tr>
			<tr>
				<td>7</td><td>A pair of horns grows from your forehead.</td>
			</tr>
			<tr>
				<td>8</td><td>A weeping red eye appears in the palm of each of your hands.</td>
			</tr>
			<tr>
				<td>9</td><td>When you speak, a faint cry accompanies your words, as if from a soul in pain.</td>
			</tr>
			<tr>
				<td>10</td><td>You weep blood.</td>
			</tr>
			<tr>
				<td>11</td><td>You develop a nasty wound in your side that oozes stinking black sludge whenever you become angry. This wound never heals.</td>
			</tr>
			<tr>
				<td>12</td><td>You grow a sixth finger on each hand and a sixth toe on each foot.</td>
			</tr>
			<tr>
				<td>13</td><td>Your nose rots away, leaving a dark crater in your face that leaks bloody mucus.</td>
			</tr>
			<tr>
				<td>14</td><td>Your eyes become pools of darkness; in the dark, they glow with an evil red light.</td>
			</tr>
			<tr>
				<td>15</td><td>Animals are always hostile to you and attack you when you come within 6 yards of them.</td>
			</tr>
			<tr>
				<td>16</td><td>Your reproductive organs shrivel and fall off or out of your body.</td>
			</tr>
			<tr>
				<td>17</td><td>You grow a second row of teeth in your mouth and a new row of teeth in an unexpected place.</td>
			</tr>
			<tr>
				<td>18</td><td>A silver pentagram appears in the center of your forehead.</td>
			</tr>
			<tr>
				<td>19</td><td>Your skin bloats and becomes feverish to the touch. When you perspire, you give off a foul, sweetish musk.</td>
			</tr>
			<tr>
				<td>20</td><td>Once each week, a child within 1 mile of you sickens and dies.</td>
			</tr>
		</table>
	</body>
</html>
