<!DOCTYPE html >

<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../../content/index.css">
	</head>
	<body class="padded">
		<h1>PRIEST</h1>
		<img id="profile" src="../../content/priest.png" alt="Preist">
		<p>
			Priests derive magical power from pledging service to a cause or supernatural being. Service gives priests purpose in the world and devotion gives them the ability to work magic. 
		</p>
		<p>
			Discovering a tradition is a spiritual experience for priests. They encounter a powerful presence during their travels, feel some sacred presence enter them while studying a text, or have a dream in which they are chosen to inherit great power. The initial experience sets these individuals on the priest’s path and gives them the power they need to further their righteous cause. 
		</p>
		<p>
			Oath stands at the center of priests’ identities. It shapes their behavior, gives them purpose, and reveals their traditions. Priests committed to the Gods use different kinds of magic from those who serve the late Emperor.
		</p>
		<h3>LEVEL 1 PRIEST</h3>
		<p>
			<b>Attributes</b> Increase two by 1<br/>
			<b>Characteristics</b> Health +4, Power +1<br/>
			<b>Languages and Professions</b> You either read one language you can speak or add a language you can speak. Also, add one profession.<br/>
			<b>Oath</b> Priests derive power from an oath made to a cause or to a higher being. Your oath has three associated traditions, determined by the nature of your cause. Whenever you discover a tradition as a priest, you may only discover one of these three. See Oath Examples below, or work with your GM to decide what traditions fit your oath.<br/>
			<b>Magic</b> You discover one tradition associated with your oath. Then make two choices. For each choice, either discover a tradition associated with your oath or learn one spell from a tradition you have discovered.<br/>
			<b>Shared Recovery</b> You discover one tradition associated with your oath. Then make two choices. For each choice, either discover a tradition associated with your oath or learn one spell from a tradition you have discovered.<br/>
		</p>
		<h3>LEVEL 2 PRIEST</h3>
		<p>
			<b>Characteristics</b> Health +4<br/>
			<b>Magic</b> You make two choices. For each choice, you either discover a tradition associated with your oath or you learn one spell from a tradition you have discovered. <br/>
			<b>Prayer</b> When a creature within short range of you makes an attack roll or challenge roll, you can use a triggered action to grant 1 boon on the triggering roll. 
		</p>
		<h3>LEVEL 5 EXPERT PRIEST</h3>
		<p>
			<b>Characteristics</b> Health +4, Power +1<br/>
			<b>Magic</b> Learn one spell.<br/>
			<b>Imbued Strike</b>  When you use Encourage to grant a creature 1 boon on an attack roll, the attack deals 1d6 extra damage. 
		</p>
		<h3>LEVEL 8 MASTER PRIEST</h3>
		<p>
			<b>Characteristics</b> Health +4<br/>
			<b>Magic</b> You discover a tradition or learn one spell.<br/>
			<b>Inspiring Prayer</b> When you use Encourage on a creature other than yourself, you make attack rolls and challenge rolls with 1 boon for 1 round.<br/>
			<b>Improved Shared Recovery</b> You can use Shared Recovery twice. 
		</p>
		<table>
			<tr>
				<th>Oath</th>
				<th>Associated Traditions</th>
			</tr><tr><td>
				Cult of Amaat
			</td><td>
				Celestial, Life, Theurgy
			</td></tr><tr><td>
				Demon God Revel
			</td><td>
				Curse, Enchantment, Spiritualism
			</td></tr><tr><td>
				Dragon Ancestors
			</td><td>
				Fire, Metal, Rune
			</td></tr><tr><td>
				Imperial
			</td><td>
				Arcana, Order, Protection
			</td></tr><tr><td>
				Jotunn Faith
			</td><td>
				Battle, Earth, Song
			</td></tr><tr><td>
				Moon Goddess Illune
			</td><td>
				Shadow, Teleportation, Water
			</td></tr>
		</table>

	</body>
</html>
