<!DOCTYPE html >

<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../content/index.css">
	</head>
	<body class="padded">
		<img id="profile" src="../content/gear.png" alt="Gear">
		<h1>Gear</h1>
		<table>
			<tr>
				<th>Item</th>
				<th>Price (SP)</th>
				<th/>
				<th>Item</th>
				<th>Price (SP)</th>
			</tr>
			<tr>
				<td>Adventurer's Pack</td>
				<td>1</td>
				<th/>
				<td>Invisibility Incantation</td>
				<td>10</td>
			</tr>
			<tr>
				<td>Blindbomb</td>
				<td>2</td>
				<th/>
				<td>Net</td>
				<td>1</td>
			</tr>
			<tr>
				<td>Courage Berry</td>
				<td>2</td>
				<th/>
				<td>Poison</td>
				<td>3</td>
			</tr>
			<tr>
				<td>Cracklebomb</td>
				<td>2</td>
				<th/>
				<td>Rope (200 yards)</td>
				<td>1</td>
			</tr>
			<tr>
				<td>Cure</td>
				<td>2</td>
				<th/>
				<td>Smokebomb</td>
				<td>2</td>
			</tr>
			<tr>
				<td>Farspeech Earrings (1 pair)</td>
				<td>4</td>
				<th/>
				<td>Spyglass</td>
				<td>1</td>
			</tr>
			<tr>
				<td>Flameguard Pendant</td>
				<td>4</td>
				<th/>
				<td>Stamina Potion</td>
				<td>6</td>
			</tr>
			<tr>
				<td>Growth Incantation</td>
				<td>3</td>
				<th/>
				<td>Tool Kit</td>
				<td>1</td>
			</tr>
			<tr>
				<td>Health Potion</td>
				<td>2</td>
				<th/>
				<td>Vision Berry</td>
				<td>1</td>
			</tr>
			<tr>
				<td>Holy Water</td>
				<td>1</td>
				<th/>
			</tr>
		</table>
		<h3>Descriptions</h3>
		<h2>Adventurer’s Pack (1sp)</h2>
		<p>
			This item includes a backpack, bedroll, cutlery set, tinderbox, 3 torches, a coil of rope (20 yards), grapnel, a week of rations, and a waterskin. 
		</p>
		<h2>Blindbomb (2sp)</h2>
		<p>
			This bomb releases a flash of blinding light in a radius of 3 yards. Sighted creatures in the area must get a success on a Strength challenge roll with 1 boon or become blinded for 1 minute.
		</p>
		<h2>Courage Berry (2sp)</h2>
		<p>
			A solid red berry that pops with sweet juice once the hard shell is broken. When consumed, the creature automatically succeeds Will challenge rolls made to resist the effects from seeing frightening and horrifying creatures. The effects lasts 3d6 minutes.
		</p>
		<h2>Cracklebomb (2sp)</h2>
		<p>
			This bomb explodes in a radius of 3 yards. Creatures in the area must make an Agility challenge roll with 1 boon or take 2d6 damage.
		</p>
		<h2>Cure (2sp)</h2>
		<p>
			This bright green fluid has a foul smell. When a creature drinks this mixture they choose one of the following afflictions: Asleep, Blinded, Charmed, Dazed, Deafened, Diseased, Poisoned, or Slowed. The creature removes one affliction of this kind from itself and, for 1 hour, the creature makes challenge rolls to resist this affliction with 1 boon. 
		</p>
		<h2>Farspeech Earrings (4sp)</h2>
		<p>
			A pair of enchanted sapphire earrings. A wearer can use an action to cast the Message spell targeting the wearer of the other earring.
		</p>
		<h2>Flameguard Pendant (4sp)</h2>
		<p>
			This bright red gemstone has an acrid smell. The wearer cannot suffer fatigue due to heat and takes half damage from the effects of fire and heat.
		</p>
		<h2>Growth Incantation (3sp)</h2>
		<p>
			When a creature reads this incantation aloud, the creature, along with everything it wears and carries, increases to Size 2 or by 1 if it is already Size 2 or larger. It gains a bonus to Health equal to 2d6 and its weapon attacks deal 1d6 extra damage. Anything the creature drops instantly returns to its normal Size. The effects wear off after 1d6 minutes. 
		</p>
		<h2>Health Potion (2sp)</h2>
		<p>
			This clear, magical liquid smells faintly of alcohol. When the potion takes effect, the creature heals damage equal to its healing rate. 
		</p>
		<h2>Holy Water (1sp)</h2>
		<p>
			This liquid is indistinguishable from clear water, but was blessed by a high cleric. A creature who makes contact with holy water takes 1 damage per point of Corruption. If the target is a demon, devil, faerie, spirit, or undead, it becomes impaired for 1 minute and takes an additional 1d6 damage, or takes an additional 3d6 damage if already impaired by clerical power.
		</p>
		<p class="p_indent">
			You can attack with holy water by throwing it at a target you can reach. Make an Agility attack roll against the target’s Agility. On a success, you splash the target with the water.
		</p>
		<h2>Invisibility Incantation (10sp)</h2>
		<p>
			When a creature reads this incantation aloud, the creature, along with everything it wears and carries, becomes invisible. The incantation wears off after 1d6 hours or immediately after the creature attacks. 
		</p>
		<h2>Net (1sp)</h2>
		<p>
			You can attack with a net by throwing it at one Size 2 or smaller creature or object within short range. Make a Strength attack roll against the target’s Agility. On a success, the net hits and the target becomes slowed. While slowed in this way, the target makes attack rolls and Agility challenge rolls with 1 bane. A target creature slowed by the net can either use an action to cut its way free from the net, which ruins it, or can escape by getting a success on an Agility challenge roll. Another creature can use an action to remove the net, which also removes the affliction. 
		</p>
		<h2>Poison (3sp)</h2>
		<p>
			You can use an action to apply poison to an edged or pointed weapon; to coat up to three arrows, bolts, or darts; or to sprinkle the poison into food or drink.
		</p>
		<p class="p_indent">
			When treated with poison, weapons and ammunition remain poisonous for 1 hour or until they deal damage. A creature that takes damage from the weapon or piece of ammunition must make a Strength challenge roll. On a failure, the creature becomes poisoned for 1 minute. If the creature is already poisoned, it takes 1d6 extra damage.
		</p>
		<p class="p_indent">
			A creature that consumes poisonous food or drink must make a Strength challenge roll with 1 bane. On a failure, the creature takes 1d6 damage and becomes poisoned for 1 minute. If already poisoned by the food or drink, it takes 3d6 extra damage.
			
		</p>
		<p class="p_indent">
			A poisoned creature, from either use, must make a Strength challenge roll at the end of each round. On a failure, the creature takes 1d6 damage. Three successes remove this poisoned affliction. 
		</p>
		<h2>Smokebomb (2sp)</h2>
		<p>
			This bomb releases a cloud of smoke, heavily obscuring a radius of 3 yards.
		</p>
		<h2>Stamina Potion (6sp)</h2>
		<p>
			A bright brown liquid that smells like rotten fruit. The round after a creature drinks this potion, they may take both a fast and slow turn.
		</p>
		<h2>Tool Kit (1sp)</h2>
		<p>
			A collection of tools used to work in a chosen profession. This may take the form of nails and a hammer for a carpenter, writing implements and blank paper for a scribe, lockpicks and a grappling hook for a burglar, or a bestiary and ecological reference notes for a biologist.
		</p>
		<h2>Vision Berry (1sp)</h2>
		<p>
			This chewy black fruit has a sour taste and offensive odor. When consumed, the creature can see into areas obscured by shadows or darkness as if those areas were lit. Additionally, they can see through invisibility and illusions. The effects lasts 3d6 minutes.
		</p>
	</body>
</html>
