<!DOCTYPE html >

<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../content/index.css">
	</head>
	<body class="padded">
		<h1>PROFESSIONS</h1>
		<p>
			Professions describe what your character knows how to do and how your character fits into the setting. They act as cues to help you decide how your character acts, what your character can do, and what things your character knows. The Game Master will sometimes look to your professions to judge whether an activity you describe results in a success or failure. A profession could grant a success or it might grant 1 or more boons to your roll if the outcome isn’t clear. 
		</p>
		<p>
			Whenever you choose a profession, you may choose instead to learn to speak a new language or learn to read and write in a language you already speak.
		</p>
		<h3>COMMON PROFESSIONS</h3>
		<p>
			<b>Animal Handler</b> You are skilled in controlling and caring for all kinds of beasts.<br/>
			<b>Cook</b> You can prepare meals that will please a crowd.<br/>
			<b>Farmer</b> You know how best to use the land and animals to feed a city.<br/>
			<b>Merchant</b> You are skilled at persuading buyers and sellers.<br/>
			<b>Performer</b> You can entertain a tavern with your style, be it acting, athletics, comedy, dancing, public speaking, puppeteering, singing, or storytelling.<br/>
			<b>Sailor</b> You know when the sea is dangerous and can navigate it anyway.<br/>
		</p>
		<h3>ACADEMIC PROFESSIONS</h3>
		<p>
			<span class='span_subtitle'>&nbspWhen you take an academic profession, you also learn to read and write one language you speak.</span><br/>
			<b>Archivist</b> You know the arcane, old and new, even if you can’t cast it yourself.<br/>
			<b>Biologist</b> You are skilled at identifying plants and animals and their uses.<br/>
			<b>Bureaucrat</b> You have a deep knowledge of law and can navigate its complicated system of paper.<br/>
			<b>Engineer</b> You have knowledge of tinkering and clockwork.<br/>
			<b>Historian</b> You know the daily lives of ancient cultures and long dead kings.<br/>
			<b>Theologian</b> You know religions, old and new, their myths and their magic.<br/>
		</p>
		<h3>ARTISAN PROFESSIONS</h3>
		<p>
			<b>Artist</b> You can produce valuable works within your medium, be it painting, poetry, sculpting, or writing.<br/>
			<b>Blacksmith</b> You are skilled at forging metal that will simmer a meal or slay a beast.<br/>
			<b>Carpenter</b> You know best how to put together a house or boat, and how best to tear it apart.<br/>
			<b>Mason</b> You know how fortifications are structured and supported.<br/>
			<b>Scribe</b> You are skilled at producing official documents and being persuasive by pen. You must be able to write one language.<br/>
			<b>Tailor</b> You can weave clothes and work leather of all varieties.<br/>
		</p>
		<h3>CRIMINAL PROFESSIONS</h3>
		<p>
			<span class='span_subtitle'>&nbspIf you take a criminal profession, your reputation is tainted and will likely have difficulty when dealing with the law.</span><br/>
			<b>Burglar</b> You know how to move silently and avoid attention.<br/>
			<b>Charlatan</b> You can convince people to believe your lies.<br/>
			<b>Fence</b> You are better at swindling buyers and sellers.<br/>
			<b>Forger</b> You have an eye for replicas.<br/>
			<b>Spy</b> You know how to discreetly collect information, and convince others to reveal secrets.<br/>
			<b>Thug</b> You are an intimidating presence, you know how to produce fear.<br/>
		</p>
		<h3>STATE PROFESSIONS</h3>
		<p>
			<span class='span_subtitle'>&nbspWhen you take a state profession, you also learn to read and write one language you speak.</span><br/>
			<b>Acolyte</b> You are practiced in the rituals and traditions of your religion.<br/>
			<b>Cavalier</b> You have served or are from a royal family. You know etiquette and are a skilled horseman.<br/>
			<b>Court Wizard</b> You know how to use your magic to serve.<br/>
			<b>Evangelist</b> You can passionately promote the good of your faith.<br/>
			<b>Guard</b> You know the laws and how to enforce them.<br/>
			<b>Torturer</b> You are skilled at using the intimidation of the state and getting information out of people.<br/>
		</p>
		<h3>WILD PROFESSIONS</h3>
		<p>
			<b>Apothecary</b> You know how to turn raw ingredients into remedies and medicine.<br/>
			<b>Guide</b> You have a good sense of direction and rarely get lost.<br/>
			<b>Hunter</b> You have a deep knowledge of your hunting grounds and how to use that environment.<br/>
			<b>Prospector</b> You are skilled at assessing stone and raw materials, both in value and in pickaxe tolerance.<br/>
			<b>Tracker</b> You know how to use the signs in the environment to find what you want.<br/>
			<b>Trapper</b> You know how best to lay out a trap regardless of the quarry.<br/>
		</p>
		<h3>LANGUAGES</h3>
		<p>
			<b>Common Tongue</b> The dominant language in the ruined Empire, cobbled together by merchants from local languages to facilitate trade. It’s alphabet is a hodgepodge of other writing systems.<br/>
			<b>Dark Speech</b> A guttural language filled with hard consonants, Dark Speech originated centuries ago and was cast down and destroyed by the Empire’s founders. Beastmen, cultists, and others seeking forbidden knowledge learn and use this language.<br/>
			<b>Elvish</b> The language used by elves and other faerie has a soft and musical sound, commonly used in lyric and poetry. Its characters flow tightly together, making it very difficult to read without an elf’s keen eyes.<br/>
			<b>High Archaic</b> The language of scholarship and magic hasn’t been spoken conversationally in millennia, but instead is largely used by spellcasters and archaeologists. It is considered to be the first mortal language and it’s writing system bears similarities to all languages.<br/>
			<b>Jotunn</b> The language of the long-dead race of giants to the north, now spoken by the humans who have occupied their halls in the giants’ absence. It has a harsh sound, a precise lexicon, and long, compound words. It uses a runic alphabet.<br/>
			<b>Wyverian</b> The language of the ancient dragons, inherited by their human-shaped ken. It is said that each word was once the name of a dragon, immortal in spoken tongue. If this is true, the vast majority of these dragons have long been forgotten. It uses thousands of complex characters.<br/>
			<b>Cipher</b> Many organizations use secret languages to communicate. Druids, assassins, thieves, and even rangers use such languages.<br/>
		</p>
	</body>
</html>
