<!DOCTYPE html >

<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../../content/index.css">
	</head>
	<body class="padded">
		<h1>Ancestries</h1>
		<p>
			The first thing you do to create your character is to pick your ancestry. Ancestries tell you something about your homeland, culture, religious inclination, and appearance. As well, they indicate areas in which your character excels and where your character might be wanting.
		</p>
		<ul>
			<li><b>Humans</b> are a diverse people encompassing numerous civilizations, cultures, and ethnicities. They are the dominant people in the world. Humans excel in any path they choose.</li>
			<li><b>Beastmen</b> are primitive and brutal beings fuse animalistic characteristics with humanoid forms. Beastmen are usually fur-covered and have the heads of beasts, such as goats, wolves, bears, rats, bulls, and others. Beastmen are skilled in a close fight.</li>
			<li><b>Cambion</b> are demontouched humans. Their intentions may be good, but they are forever burdened by the corruption of the Demon Lord. Cambion make powerful spellcasters.</li>
			<li><b>Clockwork</b> are people created by binding souls to mechanical bodies. Clockwork have many different forms, and their origins determine the paths they will walk.</li>
			<li><b>Drakken</b> are the descendants of the ancient tribe of dragon-worshippers. When purebred, their beautiful scales make them hardy, but most drakken are born as kobolds or salamanders with muddy, patchy scales. Drakken are know for their durability and spellcasting.</li>
			<li><b>Goblins</b> are exiles from the realms of faerie, forced to live among humanity or on the edges of human lands. They are a filthy, grubby people of low character and malicious disposition. Goblins do well as rogues and magicians.</li>
	</body>
</html>
