<!DOCTYPE html >

<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../../content/index.css">
	</head>
	<body class="padded">
		<h1>SPELLCASTING</h1>
		<p>
			Spells are contracts with greater powers to make the impossible possible. Contracts with gods, faeries, the souls of ancient dragons, muses, and of course, the demons. Many powers are so ancient that they don't even realize they are being used. But the more one uses magic, the more they must give of themself in return.
		</p>
		<h3>TRADITIONS OF MAGIC</h3>
		<p>
			All spells belong to traditions. Each tradition describes a category of magical effects that share common characteristics. The Fire tradition, for example, comprises spells that create, manipulate, or otherwise interact with fire and heat. Spells from the Life tradition heal the injured and cure the afflicted.
		</p>
		<h2>DARK MAGIC TRADITIONS</h2>
		<p>
			Certain traditions reveal fearful secrets known as dark magic. You gain 1 Corruption each time you discover a dark magic tradition. As well, each time you learn a spell from a dark magic tradition, roll a d6. If the number is less than the total number of dark magic spells you have learned, you gain 1 Corruption.
		</p>
		<p>
			However, each dark magic spell you learn grants 1 boon on challenge rolls you make to avoid gaining Insanity.
		</p>
		<h3>LEARNING SPELLS</h3>
		<p>
			If your path allows you to use magic, its rules text tells you when you can learn a new spell. When your path instructs you to do so, choose one spell from a tradition you have discovered and whose rank is equal to or lower than your Power score.
		</p>
		<p>
			Whenever you learn a new spell, you can exchange a spell you have previously learned for another spell of the same or lower rank. Such adjustments reflect the changing nature of magic and the development of your character’s abilities.
		</p>
		<h3>CASTING A SPELL</h3>
		<p>
			Unless otherwise specified, in order to cast a spell, you must speak the mystic words, wield an arcane focus, use an action, and expend a casting. Each spell you know has a limited number of castings based on its Rank and your Power score, as shown by on the following table. You regain all castings during a rest.
		</p>
		<table>
			<tr>
				<th>Power</th>
				<th>Rank 0</th>
				<th>Rank 1</th>
				<th>Rank 2</th>
				<th>Rank 3</th>
				<th>Rank 4</th>
				<th>Rank 5</th>
			</tr>
			<tr>
				<th>0</th>
				<td>1</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
			</tr>
			<tr>
				<th>1</th>
				<td>2</td>
				<td>1</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
			</tr>
			<tr>
				<th>2</th>
				<td>3</td>
				<td>2</td>
				<td>1</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
			</tr>
			<tr>
				<th>3</th>
				<td>4</td>
				<td>2</td>
				<td>1</td>
				<td>1</td>
				<td>-</td>
				<td>-</td>
			</tr>
			<tr>
				<th>4</th>
				<td>5</td>
				<td>2</td>
				<td>2</td>
				<td>1</td>
				<td>1</td>
				<td>-</td>
			</tr>
			<tr>
				<th>5</th>
				<td>6</td>
				<td>4</td>
				<td>2</td>
				<td>2</td>
				<td>1</td>
				<td>1</td>
			</tr>
		</table>
	</body>
</html>
