<!DOCTYPE html >

<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../../content/index.css">
	</head>
	<body class="padded">
		<h1>HUMAN</h1>
		<img id="profile" src="../../content/human.png" alt="Human">
		<p>
			Humans were the first mortal beings. After the demons were banished to Hell, leaving mankind to rule the mortal realm, unity was found in the Eryth Empire. However, the past 200 years have greeted humankind with dissent and upheaval, climaxing with the black sorcery of the Demon Lord’s Shadow, which destroyed the capital city and left the rest of mankind to form a vast array of city states.
		</p>
		<p>
			<b>Many Variations</b> Humans comprise many different ethnic groups. Skin tones can range from almost black to albino white, or green, blue, orange, pink, or something else. Some humans have patterned skin, stripes, thick body hair, or no hair at all. Humans also have many different shapes and sizes. They range from 3 to 7 feet tall and weigh from 50 to 500 pounds or more. Most humans live about 70 years.
		</p>
		<p>
			<b>Ubuntu</b> There is no Eryth culture- neighboring city states have distinct cultures, and while outsiders regularly confuse them, most humans take great offense to being associated with a different city state. The four largest stand in the cardinal directions. In the east stands tall the stronghold-city Cairn, ready for any invasion. In the west the tinkerers and mages of Oeda <span class='span_subtitle'>(Sounds like Way-da)</span> float through the air. The halls of Torig built by the ancient jotunn to the north are now inhabited by vagabonds and defectors, who have built their own society of misfits in the cold. The port city Waterkeen to the south is home to the church of the new God Amaat.
		</p>
		<p>
			<b>Common Names</b> Angus, Agnes, Aine, Alice, Anselm, Beatrice, Breandan, Caitlin, Cormac, Ella, Fiona, Geoffrey, Giselle, Henry, Joan, John, Kane, Kiera, Margery, Richard, Roisin, Rordan, Saraid, Seamus, Walter, and Yvonne.
		</p>
		<h3>CREATING A HUMAN</h3>
		<p>
			<b>Starting Attribute Scores</b> Strength 9, Agility 9, Intellect 9, Will 9. Raise one attribute by 2 and two other attributes by 1.<br/>
			<b>Attribute Modifiers</b> equal to the score minus 10<br/>
			<b>Perception</b> equals your Intellect score<br/>
			<b>Defense</b> equals 5 + your Agility modifier<br/>
			<b>Health</b> equals your Strength score<br/>
			<b>Healing Rate</b> equals one-quarter your Health, round down<br/>
			<b>Size</b> 1/2 or 1, <b>Speed</b> 10, <b>Power</b> 0<br/>
			<b>Damage</b> 0, <b>Insanity</b> 0, <b>Corruption</b> 0<br/>
			<b>Language and Professions</b> You speak the Common Tongue. Pick three professions.
		</p>
		<p>
			<b>Heritage</b> Choose one of the following options.
			<ul><li><b>Western</b> Increase one attribute by 1.</li>
			<li><b>Northern</b> Choose one ancestry from this book. Once per round, when you make an attack against a creature of the chosen ancestry, make the attack roll with 1 boon.</li>
			<li><b>Southern</b> You can breathe underwater, and swim at full speed.</li>
			<li><b>Eastern</b> When you make a ranged weapon attack against a creature suffering 2 or more afflictions, you make the attack roll with 1 boon.</li></ul>
		</p>
		<h3>LEVEL 4 EXPERT HUMAN</h3>
		<p>
			<b>Characteristics</b> Health +5
		</p>
		<p>
			You either learn one spell or gain Determined:<br/>
			<b>Determined</b> When you roll a 1 on the die from a boon, you can reroll the die and choose to use the new number.
		</p>
	</body>
</html>
