<!DOCTYPE html >

<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../../content/index.css">
	</head>
	<body class="padded">
		<h1>AFFLICTIONS</h1>
		<p>
			Afflictions describe a variety of harmful effects that alter or limits what creatures can normally do. The effect that imposes the affliction tells you how long it lasts and what can be done to remove it. If it doesn’t specify, the affliction is permanent.<br/>
			The following are common afflictions:
		</p>
		<p class="action-list">
			<b>Asleep • Blinded • Charmed • Compelled • Dazed • Deafened • Disabled • Diseased • Fatigued • Frightened • Grabbed • Immobilized • Impaired • Incapacitated • Left Open • Poisoned • Prone • Slowed • Stunned • Unconscious</b>
		</p>
		<p>
			If you gain an affliction you already have, there is usually no additional effect, but you must remove each instance of the affliction to end its effect on you. For example, if you are poisoned from a snake’s venomous bite and then become poisoned from a spider’s venomous bite, you remain poisoned until you remove both instances of the poisoned affliction.
		</p>
		<h3>Asleep</h3>
		<p>A sleeping creature is prone and unconscious. Another creature that can reach it can use an action to wake it up. Unless otherwise noted, taking damage removes this affliction.</p>
		<h3>Blinded</h3>
		<p>A blinded creature cannot see. Other creatures make attack rolls with 1 boon against a blinded creature’s Defense or Agility. Perception challenge rolls that rely on sight automatically fail. Finally, the blinded creature’s Speed is decreased to 2.</p>
		<h3>Charmed</h3>
		<p>A charmed creature sees the source of the affliction as a trusted friend and ally. The charmed creature cannot attack or take an action with the intent to harm the source of the affliction.</p>
		<h3>Compelled</h3>
		<p>A compelled creature can only take fast turns in combat, and is controlled by the source of the affliction.</p>
		<h3>Dazed</h3>
		<p>A dazed creature can't take actions or triggered actions aside from Move.</p>
		<h3>Deafened</h3>
		<p>A deafened creature cannot hear. Perception challenge rolls made to listen automatically result in failure.</p>
		<h3>Disabled</h3>
		<p>A disabled creature is defenseless. Its defense is 5, it can't take actions or triggered actions aside from Move, and it automatically fails all challenge rolls aside from Perception.</p>
		<h3>Diseased/Fatigued/Frightened/Impaired/Poisoned</h3>
		<p>A creature suffering these afflictions makes all attack rolls and challenge rolls with 1 bane, and cannot take fast turns.</p>
		<h3>Grabbed</h3>
		<p>A grabbed creature can't move. They also can't Dodge, Guard, or Parry, and make all attack rolls and challenge rolls with 2 bane except when using an action to Escape.</p>
		<h3>Immobilized</h3>
		<p>An immobilized creature has Speed 0 and cannot benefit from bonuses to Speed. Attacks are made against an immobilized creature with 1 boon.</p>
		<h3>Left Open</h3>
		<p>The next time a left open creature is attacked with a weapon, the attack rolls with 2 boons.</p>
		<h3>Prone</h3>
		<p>A prone creature lies on the ground. Other creatures can move through its space. While prone, the creature can move by crawling or can use an action to stand up (a creature can only do this if it can move). The prone creature makes Strength and Agility rolls with 1 bane. Creatures that can reach the prone creature make all attack rolls against it with 1 boon, while creatures that cannot reach it make attack rolls against its Defense with 1 bane.</p>
		<h3>Slowed</h3>
		<p>A slowed creature can take only a slow turn (see Combat), its Speed is halved, and it cannot benefit from increases to Speed.</p>
		<h3>Unconscious</h3>
		<p>An unconscious creature is disabled and cannot perceive its surroundings.</p>
	</body>
</html>
