<!DOCTYPE html >

<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../../content/inner.css">
	</head>
	<body>
		<img id="profile" src="../../content/scrabbs.png" alt="scrabble">
		<h1>GUI I</h1>
		<h2>Fall 2018</h2>
		<p>
			website designed for an intro to web design class- features 
			links to different assignments including a dynamic multiplication table and
			a ui for scoring Scrabble
		</p>
		<p>
			check it out: <a href="https://jequatot.github.io/gui-a4/" target="_parent">jequatot.github.io/gui-a4/</a><br/>
			view the code: <a href="https://github.com/Jequatot/gui-a4" target="_parent">github.com/Jequatot/gui-a4</a>
		</p>
	</body>
</html>
