<!DOCTYPE html >

<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../../content/inner.css">
	</head>
	<body>
		<h1>Pathfinder Character Builder</h1>
		<h2>Spring 2019</h2>
		<p>
			a website built in collaboration with other students for a GUI II class at UMass Lowell-
			allows users to build, save (via Firebase), and share characters
			made for the tabletop roleplaying game Pathfinder RPG
		</p>
		<p>
			check it out: <a href="https://jequatot.github.io/gui2-pathfinder/" target="_parent">jequatot.github.io/gui2-pathfinder/</a><br/>
			view the code: <a href="https://jequatot.github.io/gui2-pathfinder/" target="_parent">github.com/Jequatot/gui2-pathfinder</a>
		</p>
		<p>
			<iframe width="522" height="294" src="https://www.youtube.com/embed/NTz2NWVm2jA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</p>
	</body>
</html>
