<!DOCTYPE html >

<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../../content/index.css">
	</head>
	<body class="padded">
		<h1>BEASTMEN</h1>
		<img id="profile" src="../../content/beastmen.png" alt="Beastmen">
		<p>
			According to legend, the beastmen rejected the gods of the Old Faith in a long-past age. For their blasphemies, the gods took from them the gift of the human form, rendering them little better than animals. The curse plunged the beastmen into madness and evil, impelling them to pledge service to the demons of the Void. 
		</p>
		<p>
			<b>Fur and Blood</b> These primitive and brutal beings fuse animalistic characteristics with humanoid forms. Beastmen are usually fur-covered and have the heads of beasts, such as goats, wolves, bears, rats, and bulls. Filth and dried blood cling to them, crusting on seeping wounds. Most common are the wolf-headed Vargr, who stand 6 to 8 feet tall and weight 200 to 600 pounds. The rat-headed Ysoki stand between 3 and 4 feet tall, weighing up to 250 pounds while the bull-headed Minotaur reach heights of 10 feet and weigh up to 750 pounds. They never live past 50 years.
		</p>
		<p>
			<b>Without Homeland</b> Beastmen gather in wild places: deep forests, empty plains, and abandoned, ruined cities, where they raise profane altars. The largest gathering remains in the jungles in Zelt. Before the Empire’s collapse, they kept a careful eye on the movements of the “jungle abominations”. After the Demon Lord’s Shadow fell, many beastmen took to roving the lands, homeless, friendless.
		</p>
		<p>
			<b>Common Names</b> Bas, Bristlehead, Dugan, Galfour, Jawaia, Redwood, Orla, Tohgar, Ukrit
		</p>
		<h3>CREATING A BEASTMAN</h3>
		<p>
			<b>Starting Attribute Scores</b> Strength 10, Agility 10, Intellect 7, Will 8. Raise one attribute by 2 and two other attributes by 1.<br/>
			<b>Attribute Modifiers</b> equal to the score minus 10<br/>
			<b>Perception</b> equals your Intellect score +1<br/>
			<b>Defense</b> equals 5 + your Agility modifier<br/>
			<b>Health</b> equals your Strength score<br/>
			<b>Healing Rate</b> equals one-quarter your Health, round down<br/>
			<b>Size</b> 1/2 or 1, <b>Speed</b> 12, <b>Power</b> 0<br/>
			<b>Damage</b> 0, <b>Insanity</b> 0, <b>Corruption</b> 0<br/>
		</p>
		<p>
			<b>Language and Professions</b> You speak the Common Tongue and a tongue unique to your tribe, which has no system of writing. Pick two professions.<br/>
			<b>Heritage</b> Choose one of the following options.
			<ul>
			<li><b>Minotaur</b> 
				<ul>
					<b>Bovine Empathy</b> When you roll to handle a bull, ram, goat, or similar animal, you make the challenge roll with 1 boon.<br/>
					<b>Horns of Minos</b> When you take the charge action, damage from your unarmed strikes increases to 1d6.<br/>
					<b>Sons of Baphomet</b> You make rolls to maintain concentration with 1 boon.
				</ul>
			</li>
			<li><b>Ysoki</b> 
				<ul>
					<b>Rodent Empathy</b> When you roll to handle a rat, squirrel, beaver, or similar animal, you make the challenge roll with 1 boon.<br/>
					<b>Keen Nose</b> You make Perception rolls with 1 boon if they rely on scent and 1 bane if they rely on sight.<br/>
					<b>Cornered Might</b> While frightened, your melee attacks deal 1d6 extra damage.
				</ul>
			</li>
			<li><b>Vargr</b> 
				<ul>
					<b>Canine Empathy</b> When you roll to handle a wolf, dog, jackals, or similar animal, you make the challenge roll with 1 boon.<br/>
					<b>Relentless</b> When you take the Charge, Rush, or Retreat action, your base speed increases by 4 yards.<br/>
					<b>Pack Fighting</b> If you attack a surrounded foe, you make the attack with 1 additional boon.
				</ul>
			</li>
			</ul>
		</p>
		<h3>LEVEL 4 EXPERT BEASTMAN</h3>
		<p>
			<b>Characteristics</b> Health +6<br/>
			You either learn one spell or gain Shake It Off.<br/>
			<b>Shake It Off</b> You can use an action to heal damage equal to your healing rate and remove one of the following afflictions: fatigued, impaired, or poisoned. Once you use this talent, you cannot use it again until after you complete a rest.
		</p>
	</body>
</html>
