<!DOCTYPE html >

<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../../content/index.css">
	</head>
	<body class="padded">
		<h1>CLOCKWORK</h1>
		<img id="profile" src="../../content/clockwork.png" alt="Clockwork">
		<p>
			While golems made out of cogs and wires are an old tradition, attempts to grant such things a soul have proved futile.<br/>
			When a wealthy family sires a child who bears some defect and is not expected to survive, or perhaps suffers some grave accident, the body can be connected to one of these golems oft called a Shell, and granted a new body. Not much of their original flesh remains, and their ancestry becomes completely indistinguishable.<br/>
			Since their soul is still bound by flesh rather than metal, they are still mortal. They still must sleep and eat, though the mechanism through which they consume food totally dissolves it, and they cannot taste a thing. Their body can become dormant, only using enough power to keep the host alive. If the body ever fully shuts down, the host dies.
		</p>
		<p>
			<b>Common Names:</b> Some clockworks use names given to them by their creators. These can be nicknames or strings of letters and numbers. Clockworks might choose names they find interesting or use names from their previous life.
		</p>
		<h3>CREATING A CLOCKWORK</h3>
		<p>
			<b>Starting Attribute Scores</b> Strength 8, Agility 7, Intellect 8, Will 8. Raise one attribute by 2 and two other attributes by 1.<br/>
			<b>Attribute Modifiers</b> equal to the score minus 10<br/>
			<b>Perception</b> equals your Intellect score<br/>
			<b>Defense</b> equals 5 + your Agility modifier<br/>
			<b>Health</b> equals your Strength score<br/>
			<b>Healing Rate</b> equals one-quarter your Health, round down<br/>
			<b>Size</b> 1/2 or 1 or 2, <b>Speed</b> 8, <b>Power</b> 0<br/>
			<b>Damage</b> 0, <b>Insanity</b> 0, <b>Corruption</b> 0<br/>
		</p>
		<p>
			<b>Language and Professions</b> You speak the Common Tongue. Pick two professions.<br/>
			<b>Mechanical Body</b> You sink when submerged in liquid. Your advanced filter allows you to breathe in any environment where there is air or water. <br/>
			<b>Repairing Damage</b> Life spells heal you for half as much as they normally would. Instead, spells and effects that remove damage from objects can target you.<br/>
			Additionally, a creature can use an action to start repairing you with a tool kit. The creature must work for at least 4 hours, during which you are considered an object, and cannot move, talk, or perceive your surroundings. At the end of this time, it makes an Intellect challenge roll with 1 bane. On a success, you heal damage equal to your healing rate. <br/>
			<b>Specialized Construction</b> Choose a Clockwork Feature from the table below. 
		</p>
		<h3>LEVEL 4 EXPERT CLOCKWORK</h3>
		<p>
			<b>Characteristics</b> Health +6<br/>
			You either learn one spell or gain two additional Clockwork Features.
		</p>
		<h3>CLOCKWORK FEATURES</h3>
		<p>
			<ul><li>
			<b>Armored Plating</b> Thick metal armor plates. Your Defense is 8. You cannot equip armor. You must be size 1 or larger. Incompatible with Life-Like Appearance.</li>
			<li><b>Interior Chamber</b> You have a compartment that can fit a size 1 creature or objects that fit in a yard cube. You must be size 1 or larger.</li>
			<li><b>Life-Like Appearance</b> You are masterfully crafted to pass for a living being (unless closely scrutinized). Incompatible with Armored Plating. Your identity is revealed upon using any Clockwork feature.</li>
			<li><b>Levitation</b> You float gently a few inches above the ground. You move at full Speed across difficult terrain.</li>
			<li><b>Phonograph</b> A wax-cylinder recording and playback device. At any time, you can begin recording up to 1 minute of audio, during which you overwrite any audio previously recorded and and capture all sounds occurring around you. You can use an action to play the recording any number of times until a new recording is made. Any creature that sees you while you play the recording knows that it originates from you. A creature that cannot see you can make an Intellect challenge roll with 1 boon to tell the sound is an imitation.</li>
			<li><b>Sensors</b> You can overload your sensors for up to 1 minute to see via heat instead of light. For the duration, you are considered sightless, and cannot be blinded. You can detect any living creatures within 15 yards of you. Such creatures cannot become hidden from you for the duration.</li>
			<li><b>Spider Climb</b> Miniature barbs built into your frame. You ignore the effects of difficult terrain when climbing, and you make challenge rolls to climb with 1 boon. You must be size 1 or smaller.</li>
			<li><b>Spring-Leap Pistons</b> You can jump horizontally up to 15 yards. You can also jump straight up 10 yards. You never take damage from landing after a fall.</li>
			<li><b>Turn-Key</b> You can increase the number of actions you can use on your turn by one. When you finish a turn, roll a d6. If you roll an odd number, you become an object at the end of the round. While you are an object, you cannot use actions, move, talk, or perceive your surroundings. Any creature that can reach you can use an action to wind up your key.<br/></li></ul>
		</p>
	</body>
</html>
