<!DOCTYPE html >

<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../../content/index.css">
	</head>
	<body class="padded">
		<h1>DRAKKEN</h1>
		<img id="profile" src="../../content/drakken.png" alt="Drakken">
		<p>
			Believed to be descended from the long-extinct dragons, drakken have recently broken away from the Empire, forging a kingdom deserving of the reverence afforded by their ancestry led by the iron iconoclast King Tzoren. This kingdom is built atop a wealth of iron- through which they are able to arm themselves and their allies with greater speed than the Empire’s bronze.
		</p>
		<p>
			<b>Weight of the Scales</b> Drakken have a strict social echelon determined by a creature's scales. Salamanders and kobold are considered akin to mutts; their scales are muddied and patchy. Chromatic drakken are considered to be competent, but susceptible to immoral temptations. Mettalic drakken, also called the Wrought, are almost always nobility, seen as both rich in strength and wisdom. Gold drakken are exceptionally rare- to be born gold is taken to be a sign of divine right. A gold drakken has not been born in many centuries.
		</p>
		<p>
			<b>Kin of Drakes</b> Gruff, critical, and suspicious, drakken make few friends outside their own kind. They covet treasure but temper their greed with the certainty that their ancestors are always watching. Thus, drakken conduct themselves with honor to avoid bringing shame to their family. Pureblood drakken stand 6 to 8 feet tall and weight 200 to 600 pounds, while those with mottle scales have greater variance. The live  about 300 years.
		</p>
		<p>
			<b>Common Names:</b> Apostol, Catalan, Dorin, Eusebiu, Gavril, Iancu, Mihaela, Otila, Razvan, Rozalia, Silviu, Vali, Viorica
		</p>
		<p>
			<b>Familiy Names:</b> Drakken are more likely than other ancestries to have a family name which goes back centuries, and are difficult for non-drakken to pronounce. Kobold and salamanders generally do not have these. Common Family Names: Astiliabor, Azuvidexus, Eligius, Havarl, Olthontor, Sardior, Suraphis, Tektherios, Ysgithyrwyn
		</p>
		<h3>CREATING A DRAKKEN</h3>
		<p>
			<b>Starting Attribute Scores</b> Strength 8, Agility 8, Intellect 9, Will 10. Raise one attribute by 2 and two other attributes by 1.<br/>
			<b>Attribute Modifiers</b> equal to the score minus 10<br/>
			<b>Perception</b> equals your Intellect score<br/>
			<b>Defense</b> equals 5 + your Agility modifier<br/>
			<b>Health</b> equals your Strength score +4<br/>
			<b>Healing Rate</b> equals one-quarter your Health, round down<br/>
			<b>Size</b> 1/2 or 1, <b>Speed</b> 10, <b>Power</b> 0<br/>
			<b>Damage</b> 0, <b>Insanity</b> 0, <b>Corruption</b> 0<br/>
		</p>
		<p>
			<b>Language and Professions</b> You speak the Common Tongue and you speak, read, and write Wyverian. Pick two professions.<br/>
			<b>Innate Magic</b> You discover one spellcasting tradition.<br/>
			<b>Scalebound</b> Choose a scale color. Metallic scales are rarer and indicate nobility.
			<ul>
				<li><b>Red or Brass</b> Damage you take from fire is reduced by your healing rate, and you roll to resist the effects of heat with 1 boon.</li>
				<li><b>Blue or Iron</b> Damage you take from lightning is reduced by your healing rate, and you roll to resist the effects of paralysis with 1 boon.</li>
				<li><b>Black or Copper</b> Damage you take from poison is reduced by your healing rate, and you roll to resist the effects of poison with 1 boon.</li>
				<li><b>White or Silver</b> You roll to resist the effects of Enchantment and Madness spells with 1 boon.</li>
				<li><b>Grey or Mithral</b> Damage you take from Necromancy is reduced by your healing rate, and you cannot be frightened by undead.</li>
				<li><b>Muddled and Patchy</b> Drakken society views you as a mutt- often called kobold or salamander. Take an additional non-academic profession.</li>
			</ul>
		</p>
		<h3>LEVEL 4 EXPERT DRAKKEN</h3>
		<p>
			<b>Characteristics</b> Health +6<br/>
			You either learn one spell or gain Ancient Fury.<br/>
			<b>Ancient Fury</b> When you take damage or when you roll a 6 or higher on a boon, you make your next attack this round with 1 boon.
		</p>
	</body>
</html>
