<!DOCTYPE html >

<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../../content/index.css">
	</head>
	<body class="padded">
		<h1>GOBLIN</h1>
		<img id="profile" src="../../content/goblin.png" alt="Goblin">
		<p>
			The Faerie Queen exiled the goblins long ago, for a crime only she remembers. As part of their exile, she stripped them of their immortality and doomed them to live out their days in the mortal world. Goblins have since infiltrated human societies, making their homes in rubbish heaps and sewers where, to everyone’s surprise, they seem quite happy doing the jobs no one else is at all interested in performing. Picking through trash for choice treasures or trawling the fetid waters oozing through the subterranean tunnels for a bit of gold or a dropped coin is all goblins need to keep them from making trouble for their neighbors.
		</p>
		<p>
			<b>Bizarre and Varied Appearance</b> All goblins are short by human standards, but their height is the only thing they have in common. No two goblins look alike. They all have unusual physical characteristics that make them distinct from one another, such as pig snouts in place of noses, fangs, horns, a profusion of seemingly mobile warts, and other less savory manifestations of their physical corruption. Some goblins die of old age at 50 while others have lived 400 years or more.
		</p>
		<p>
			<b>Weird Habits</b> Many goblins have weird habits. Some keep their nail clippings and excretions in small bottles and jars to prevent witches from stealing their names. Others knock on wood when they need a bit of luck, keep odd bits of rubbish as good luck charms, or can never bathe for fear of losing their vital essence.
		</p>
		<p>
			<b>Common Names</b> Goblins are named after objects in nature and tools similar to the faeries of their past- but they tend to lose the charm in translation, resulting in names like Blix, Blunder, Bug, Deek, Frog, Juce, Krixit, Needle, Puck, Sneet, Tick-Tock, Twelves, Wicker, and Vittle.
		</p>
		<h3>CREATING A GOBLIN</h3>
		<p>
			<b>Starting Attribute Scores</b> Strength 7, Agility 11, Intellect 9, Will 8. Raise one attribute by 2 and two other attributes by 1.<br/>
			<b>Attribute Modifiers</b> equal to the score minus 10<br/>
			<b>Perception</b> equals your Intellect score +1<br/>
			<b>Defense</b> equals 5 + your Agility modifier<br/>
			<b>Health</b> equals your Strength score<br/>
			<b>Healing Rate</b> equals one-quarter your Health, round down<br/>
			<b>Size</b> 1/2, <b>Speed</b> 10, <b>Power</b> 0<br/>
			<b>Damage</b> 0, <b>Insanity</b> 0, <b>Corruption</b> 0<br/>
		</p>
		<p>
			<b>Language and Professions</b> You speak the Common Tongue and Elven. Pick two professions.<br/>
			<b>Immune</b> charmed, diseased
			<b>Iron Vulnerability</b> You are impaired while you are in contact with iron.<br/>
			<b>Shadowsight</b> You see in areas obscured by shadows as if those areas were lit.<br/>
			<b>Sneaky</b> When you roll to become hidden or move silently, you make the Agility challenge roll with 1 boon.
		</p>
		<h3>LEVEL 4 EXPERT GOBLIN</h3>
		<p>
			<b>Characteristics</b> Health +4<br/>
			You either learn one spell or gain Spring Away.<br/>
			<b>Spring Away</b> When a creature you can see misses an attack roll against your Defense or Agility, you can use a triggered action to retreat.
		</p>
	</body>
</html>
